﻿@import url("reset.css"); 
a {color: #2d449c; text-decoration: none;}
a:hover {color: #2d449c; text-decoration: underline;}
body {background: url(images/Golo-CheckoutBG_Vertical_V5_02.png) repeat-x #9BD7EA; font-family: 'AvenirLTStd55RomanRegular',Arial,sans-serif;}
.shellFadeX {background: url(images/Golo-Checkout_V5_Repeater_03.jpg) repeat-y; width: 1021px; margin: 0 auto;}
.shellBottom {background: url(images/Golo-Checkout_V5_Bottom_03.jpg) no-repeat bottom left; width: 961px; padding: 30px 30px 90px 30px; overflow:hidden;}
.shellTop {background: url(images/Golo-Checkout_V5_Top_03.jpg) no-repeat top left; width: 1021px;}
.topbar {line-height: 4px; background-color: #6EA3BA;}
.chkoutHeader {padding: 0 30px 30px 0;}
.chkoutHeader .returnHome {float: right; padding-top:15px;}
.chkoutContent {padding: 0 40px 50px 40px; color: #2d449c; min-height: 600px;}

/*----------------------------*/
.chkoutContent .buyBanner {
	background: url("../images/shop-homepage_03.jpg") no-repeat; 
	position: relative; 
	height: 391px; 
	margin: 0 -37px; 
	font-size: 13px; 
	font-weight: bold; 
	line-height:1.1em;
	color:#fff;
}
.chkoutContent .buyBanner h1{
	font-size: 26px;
}
.chkoutContent .buyBanner h1,
.chkoutContent .buyBanner h2 {
	position: absolute; 
	top: 65px; 
	left: 65px;
	width:570px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	text-indent: -999999px;
}
.bold{
	font-weight:bold !important;
}
.chkoutContent .buyBanner h3 {position: absolute; bottom: 30px; left: 27px;}

.chkoutContent .buyBanner .col1,
.chkoutContent .buyBanner .col2,
.chkoutContent .buyBanner .col3 {
	position: absolute; 
	width: 180px; 
	top: 115px;
	line-height:18px;
	text-align:center;
	text-indent: -999999px;
}
.chkoutContent .buyBanner .col1 {
	left: 60px;
}
.chkoutContent .buyBanner .col2 {
	left: 250px;
	/* border-left:1px solid #fff;
	border-right:1px solid #fff; */
}
.chkoutContent .buyBanner .col3 {
	left: 445px;
}
/*---------------------------*/
.chkoutContent .buyBanner .col2-1,
.chkoutContent .buyBanner .col2-2,
.chkoutContent .buyBanner .col2-3{
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 115px;
    width: 200px;
}
.chkoutContent .buyBanner .col2-1{
	/*border-right: 1px solid #fff;*/
	left:50px;
}
.chkoutContent .buyBanner .col2-2{
	left:244px;
	/*border-right: 1px solid #fff;*/
}
.chkoutContent .buyBanner .col2-3{
	left:441px;
}
.chkoutContent .buyBanner h2.col2-1,
.chkoutContent .buyBanner h2.col2-2,
.chkoutContent .buyBanner h2.col2-3{
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
}

/*----------------------------*/

/*.chkoutContent .buyBanner {position: relative; height: 200px; background: url(images/Golo-Checkout_V5FuelPlanStartGraphic_03.png) no-repeat; margin: 0 -27px; height: 258px; font-size: 13px; font-weight: bold; line-height:1.1em;}



.chkoutContent .buyBanner h2 {position: absolute; top: 40px; left: 27px;}
.chkoutContent .buyBanner h3 {position: absolute; bottom: 30px; left: 27px;}
.chkoutContent .buyBanner .col1 {position: absolute; width: 150px; top: 100px; left: 70px;}
.chkoutContent .buyBanner .col2 {position: absolute; width: 150px; top: 100px; left: 290px;}
.chkoutContent .buyBanner .col3 {position: absolute; width: 250px; top: 100px; left: 490px;}*/



.shoppingCart {border: 1px solid #e9f4f8; width: 880px; border: 1px solid #66adc8; margin-bottom: 15px;}
.shoppingCart th {background-color: #317a99; color: #fff; font-weight:bold; text-align: left;}
.shoppingCart td, .shoppingCart th {padding: 6px 4px 6px 20px;}
.shoppingCart tr.kits td {background-color: #e9f4f8; color: #7b7b7b; font-size: 14px;}
.shoppingCart tr.additional90 td {background-color: #d5ecf4; color: #7b7b7b; font-size: 14px;}
.shoppingCart .update {font-size: 11px;}
.center {text-align: center;}
.footnote {font-size: 10px;}
.specialOffers {background: url(images/Golo-Checkout_V5_2ndBox_07.png) no-repeat; width: 880px; height: 275px; position: relative; clear: both; margin-bottom: 10px;}
.specialOffers .title {position: absolute; top: 8px; left: 15px; color: #fff; font-weight: bold;}
.specialOffers .addKits {position: absolute; top: 50px; left: 40px; width: 320px;}
.specialOffers .addSups {position: absolute; top: 50px; left: 480px; width: 350px;}
.specialOffers p {color: #7b7b7b; margin-top: 15px; font-size: 14px; line-height:1.3em;}
.specialOffers p.cta {color: #2d449c; font-size: 16px;}
h2 {color: #2d449c; font-size: 26px; font-weight:bold;}
h3 {color: #2d449c; font-size: 18px; font-weight:bold;}
.progressBar {margin: 5px 0 0 3px;}
.subtotal {background-color: #d5ecf4; border: 1px solid #66adc8; text-align: right; padding: 4px 15px 4px 0; color: #7b7b7b;}
.canadian {height: 39px; background-color: #49b848; padding-left: 20px; color: #fff; margin-bottom: 10px;}
.canadian p {padding: 4px 0 0 0;}
.canadian img {float: left; padding-right: 8px;}
.section {float: left; width: 410px; line-height: 1.3em; padding: 20px 30px 0 0;}
.section p {color: #7b7b7b;}
.clearBoth {clear: both;} 
.orderByPhone {background: url(images/Golo-Checkout_V5_OrderByPhoneBox_03.jpg) no-repeat top left; width: 361px; height: 128px; float: right; margin-right: -40px; padding-top:15px;}
.orderByPhone p {padding: 24px 0 0 35px; line-height:1.3em; font-size: 18px;}
p.sectionTitle {color: #2d449c; font-weight: bold; text-align: left; font-style:normal; font-size: 14px;}
.shippingTitle {font-weight: bold; text-align: left; font-style:normal; font-size: 16px;}
.section.form {text-align: right; font-style:italic; color: #7b7b7b; font-size: 14px;}

.section.form input{
	color:#666;
	width:170px;
	padding:4px;
	margin-bottom:5px;
}
.section.form select {
	color:#666;
	padding:4px;
	margin-bottom:5px;
}
.section.form .state {
	width: 180px;
}
.paymentInfo input{
	width:230px !important;
}
.paymentInfo select {
	width: 79px;
}
.section.form select.cardType{
	width: 240px;
}
.section.form .securityCode {
	margin-right:10px;
	width: 70px !important;
}



/*.section.form input {margin: 4px 0 4px 10px; width: 200px;}*/
/*.section.form select {margin: 4px 0 4px 10px;}*/
/*.section.form .cardType {margin-right: 70px;} */
/*.section.form .securityCode {margin-right: 20px; width: 100px;}*/
.section.form .whatsThis {margin-right: 24px; font-size: 12px;}
/*.section.form .state {width: 206px;}*/
.section.form input[type=radio] {width: 20px;}
.section.shipping {width: 280px; padding-right: 0;}
.section.shipping.form input {width: 149px; margin-left: 0;}
.section.shipping.form .state {width: 155px; margin-left: 0;}
.errorMessage {color: Red; text-align:right; font-size: 12px;}
.paymentInfo .errorMessage {margin-left: 10px;}
.required {color: Red;}
.paymentInfo {width: 420px;} 
.paymentInfo td {text-align: left; padding-left: 10px;}
.paymentInfo input, .paymentInfo select {margin-left: 0 !important;}
.paymentInfo th {text-align: right;}
.paymentInfo .errorMessage {margin-left: 10px;}
.section .keepInformed {margin-top: 20px;}
.section .keepInformed th {padding-left: 50px; text-align: right;}
.section .keepInformed td {text-align: left;}
.section .keepInformed input {width: 20px;}
.footer {
    background: url("images/golo_footer_gradient_outer.jpg") repeat-x scroll 0 0 transparent;
    height: 191px;
    width: 100% !important;
}
.footer-ribbon {
    background: url("images/golo_footer_ribbon.png") no-repeat scroll 0 0 transparent;
    height: 12px;
    margin: 0 auto;
    min-height: 12px;
    width: 1020px;
}
.footer-content {
    background: url("images/golo_footer_gradient_inner.jpg") repeat-x scroll 0 0 transparent;
    height: 179px;
    margin: 0 auto !important;
    width: 1020px !important;
}
.footerSection {
    padding: 35px 0 0 50px;
}
.left {float: left;} 
.right {float: right;}
.footer-content .footer-links {
    color: #FFFFFF;
    font-size: 13pt;
    height: 105px;
}
.white-link {
    background: url("images/golo_footer_arrow.jpg") no-repeat scroll right center transparent;
    color: #FFFFFF;
    font: 15px/22px 'AvenirLTStd55RomanRegular',Arial,sans-serif;
    padding-right: 15px;
}
.white-link:hover {color: #FFFFFF;}
.footer-content .footer-copyright {
    color: #FFFFFF;
    font: 11px 'AvenirLTStd55RomanRegular',Arial,sans-serif;
    margin: 5px 0 0;
    text-align: center;
}

/* Confirmation */
.shippingInfo {background: url(images/Golo-Checkout_V5_ConfirmPg_LongBox_03.png) no-repeat; margin: 30px 0 20px 0; position: relative; color: #7b7b7b; font-size: 14px;  line-height: 1.5em; height: 265px; width: 889px;}
.shippingInfo h3 {padding: 15px 0 0 30px;}
.shippingInfo .shipAddress {position: absolute; top: 60px; width: 250px; padding-top: 15px;}
.shippingInfo .shipAddress.box1 {left: 30px;}
.shippingInfo .shipAddress.box2 {left: 330px;}
.shippingInfo .shipAddress.box3 {left: 640px;}
.shippingInfo .shippingTitle {padding-bottom: 15px;}
.confirmBox {background: url(images/Golo-Checkout_V5_ConfirmBox1_07.png) no-repeat; color: #7b7b7b; font-size: 14px; line-height: 1.5em; float: left; margin-right: 50px; width:233px; height: 198px; padding: 20px 0 0 30px;}
.confirmBox h3 {padding: 0 0 20px 0;}
.shoppingCart th.center {text-align: center !important;}
.shoppingCart td.price {padding-right: 30px; text-align: right;}
.confirmEdit {background: url("images/Golo-Checkout_V5_BlueArrow_03.png") no-repeat scroll right center transparent;
    color: #3FA7CB;
    font: 18px/22px 'AvenirLTStd55RomanRegular',Arial,sans-serif;
    font-weight: bold;
    padding-right: 15px;}
.placeOrder {float: right;}


/* Thank You */
.thanks {color: #7b7b7b; line-height: 1.3em;}
.thanks h2 {padding-bottom: 30px;}
.thanks p {padding-bottom: 15px;}
.thanks ul {margin: 0 0 40px 40px; list-style-type: disc;} 
.thanks .gotoHome {float: right;}


.confirmAddresses {margin-top: 20px;}
.confirmAddresses td {width: 240px; background-color: #f4f4f4; color: #616161; padding: 30px 25px;}
.confirmAddresses td.borders {border-left: 3px solid #fff; border-right: 3px solid #fff;}
.confirmAddresses td p {margin-top: 20px; line-height: 1.3em;}
.confirmAddresses h3 {color: #307A98; font-size: 16px;}