/*+clearfix {*/
#pnlData .row:after, #pnlTitle:after, #header-welcome #header-welcome-message:after, #header-welcome-message IMG:after, #header-welcome:after, #header-welcome-track:after, #header-welcome #time-select:after, #time-select:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#pnlData .row, #pnlTitle, #header-welcome #header-welcome-message, #header-welcome-message IMG, #header-welcome, #header-welcome-track, #header-welcome #time-select, #time-select
{
	display: inline-block;
}
#pnlData .row, #pnlTitle, #header-welcome #header-welcome-message, #header-welcome-message IMG, #header-welcome, #header-welcome-track, #header-welcome #time-select, #time-select
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
BODY, DIV, P
{
	margin: 0px;
	padding-top: 0px;
}
#pageTitle
{
	font-weight: bold;
	font-size: 16.6pt;
	padding-left: 42px;
	/*[empty]font-family:;*/
	padding-top: 12px;
	margin-left: 35px;
}
#pnlTitleMain
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 13px;
	font-weight: bold;
}
#pnlConfirmBG
{
	background-color: #D8DEEB;
	padding-bottom: 20px;
	padding-top: 22px;
	margin: -18px 11px -5px;
	border: 1px solid #A3A3B1;
	background: -moz-radial-gradient(white,white, #D8DEEB);
	/*For Firefox 3.6 to 15*/
	background: radial-gradient(white,white, #D8DEEB);
	/*Standard syntax*/
}
#header-welcome-message P
{
	padding-bottom: 10px;
}
.center
{
	width: 100%;
	text-align: center;
	padding-top: 21px;
}
.row .row_label
{
	float: left;
	width: 40%;
	text-align: right;
	margin-left: 13px;
	margin-right: 19px;
	font-size: 14px;
	margin-top: 6px;
}
/*[clearfix]*/#pnlData .row
{
	width: 100%;
	padding-top: 15px;
}
.row .row_value INPUT
{
	width: 80px;
	height: 25px;
}
.row .row_value
{
	float: left;
	width: 50%;
}
/*[clearfix]*/#pnlTitle
{
	font-weight: bold;
	width: 100%;
	text-align: center;
	clear: both;
}
#ctl00_ctl00_ContentBodyPlaceHolder_BodyPlaceHolder_pnlReadyToStart #pnlTitle
{
	padding-top: 9px;
}
#pnlData
{
	width: 100%;
	padding-top: 0px;
	padding-bottom: 7px;
	margin-top: 28px;
}
#pnlData P
{
}
.mtrk-week
{
	float: left;
}
/*[clearfix]*/#header-welcome #header-welcome-message
{
	width: 421px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	padding-right: 0px;
	padding-left: 10px;
	margin-right: 22px;
	font-size: 14px;
	line-height: 1.5;
}
/*[clearfix]*/#header-welcome-message IMG
{
	padding-bottom: 12px;
	margin-right: 0px;
}
/*[clearfix]*/#header-welcome
{
	width: 938px;
	background-color: #D8DEEB;
	/*+box-shadow:5px 5px 8px #0D0D0E;*/
	-moz-box-shadow: 5px 5px 8px #0D0D0E;
	-webkit-box-shadow: 5px 5px 8px #0D0D0E;
	-o-box-shadow: 5px 5px 8px #0D0D0E;
	box-shadow: 5px 5px 8px #0D0D0E;
	margin-bottom: 15px;
	background: -moz-radial-gradient(white,white, #D8DEEB);
	/*For Firefox 3.6 to 15*/
	background: radial-gradient(white,white, #D8DEEB);
	/*Standard syntax*/
}
#logProgressImg
{
	padding-top: 15px;
	padding-left: 134px;
	padding-right: 0px;
	margin-left: -23px;
	padding-bottom: 8px;
}
/*[clearfix]*/#header-welcome-track
{
	background-color: #FFFFFF;
	border: 1px solid #A3A3B1;
	float: left;
	width: 453px;
	padding-top: 0px;
	padding-bottom: 10px !important;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}
#confirmImg
{
	text-align: center;
}
/*[clearfix]*/#header-welcome #time-select
{
	width: 323px;
	padding-left: 20px;
	padding-right: 34px;
	float: left;
	margin-left: 42px;
	border-top: 1px solid #A3A3B1;
	border-bottom: 1px solid #A3A3B1;
	padding-top: 10px;
	padding-bottom: 12px;
	margin-bottom: 12px;
}
/*[clearfix]*/#time-select
{
	padding-left: 105px;
}
.mtrk-week .mtrk-title
{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-left: 25px;
}
#time-select .mtrk-week
{
	margin-right: 40px;
	margin-left: 40px;
	font-size: 12px;
}
#header-welcome-track .button
{
	float: left;
}
BODY
{
	text-align: center;
	font-family: sans-serif;
	background-color: #F2EAD6;
}
.top-bar
{
	background-color: #FFFFFF;
}
.top-bar > DIV
{
	width: 100%;
}
.top-bar .t-blue
{
	background-color: #7EBCD7;
	height: 6px;
}
.top-bar .t-white
{
	background-color: #FFF;
	height: 120px;
}
.top-bar .t-blue-big
{
	background: transparent url("../images/bck-top-orange.png") repeat-x center top;
	height: 224px;
}
.wrapper
{
	text-align: left;
	width: 938px;
	margin: -356px auto 0;
	background-color: #FFFFFF;
}
/*--- header ---*/
.header
{
}
.header .ileft
{
	float: left;
	width: 231px;
	height: 84px;
}
.header .iright
{
	float: right;
	width: 704px;
	height: 84px;
}
.header .ileft .logo
{
	padding-top: 42px;
}
.header .iright .top-nav
{
	text-align: right;
	float: right;
	height: 36px;
	padding: 37px 0px 0px;
}
.header .iright .top-tabs
{
	clear: both;
	padding-top: 30px;
}
.header .iright .top-tabs .tracking
{
	float: right;
}
.header .iright .top-tabs .assessment
{
	float: left;
}
.header .iright .top-nav UL
{
	padding-top: 15px;
}
.header .iright .top-nav UL LI
{
	list-style-type: none;
	float: left;
}
.header .iright .top-nav UL LI.sep
{
	padding: 0 20px;
	font-weight: normal;
}
.header .iright .top-nav, .header .iright .top-nav A
{
	font-size: 13px;
	color: #808080;
	text-decoration: none;
}
.header .iright .top-nav .ask-exp A
{
	background: transparent url("../images/mygolo/icon-mail.png") no-repeat left center;
	padding-left: 25px;
}
.header .iright .top-nav A:hover
{
	color: #F68A15;
}
/*.header .iright .top-nav .account{
background: url("../images/mygolo/bck-top-account-start.png") no-repeat left top transparent;
display:inline-block;
padding-left:35px;
padding-top:10px;
height:26px;
*height:36px;
max-width:450px;
}
.header .iright .top-nav .account,
.header .iright .top-nav .account a{
font-size:13px;
font-weight:bold;
color:#ffffff;
}
.header .iright .top-nav .account a{
margin-left:30px;
text-decoration:none;
}
.header .iright .top-nav .account a:hover{
color:#2d449c;
}

.header .iright .return{
text-align:right;
padding:20px;
float:right;
width:464px;
height:36px;
}
*/
.t-space
{
	height: 11px;
}
/*--- container ---*/
.container
{
	background-color: #FFF;
	min-height: 725px;
	height: 100%;
	padding-top: 41px;
}
/*--- banner ---

.container .banner{
background: url("../images/mygolo/bck-banner.jpg") no-repeat left top #0956b3;
height:100px;
max-width:940px;
}
.container .banner .ileft,
.container .banner .iright{
color:#fff;
}
.container .banner .ileft{
padding:17px 0px 5px 290px;
float:left;
width:400px;
}
.container .banner p{
font-size:15px;
}
.container .banner .title{
font-family: 'AvenirLTStd55RomanBold', sans-serif;
font-size:25px;
margin-bottom:5px;
}
.container .banner .iright{
padding-top:30px;
width:230px;
float:right;
}

--- content ---*/
.banner
{
	padding-top: 7px;
}
.container .content
{
	padding-top: 10px;
}
#dvGrid TABLE
{
	font-size: 10.7pt;
}
#dvGrid TABLE
{
	text-align: center;
}
.gridEdit
{
	background-color: #F8F1E9;
}
.gridFooter
{
	background-color: #A6A6A6 !important;
}
#dvGrid INPUT
{
	width: 40px;
}
#dvGrid .datePicker
{
	width: 70px !important;
}

.fuel_tracking_log_data TD
{
	text-align: center;
	font-size: 13px;
	padding: 5px;
}
.-Sleep5
{
	border-left: 1px solid #000000;
}
#results
{
	margin-left: 54px !important;
}
.fuel_tracking_log_data .-WeekEnding
{
	font-weight: bold;
}
.fuel_tracking_log_data .summary
{
	background-color: #FF8A8A;
	font-weight: bold;
}
.fuel_tracking_log_data TH
{
	background-color: #7EBCD7;
	font-size: 10.5pt;
}
.fuel_tracking_log_data
{
	/*[empty]width:;*/
}
.fuel_tracking_log_data TH
{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
TABLE.fuel_tracking_log_data
{
	padding-left: 0px;
	margin-left: 15px;
	margin-top: -2px;
	text-align: right;
	padding-top: 33px !important;
	padding-bottom: 33px !important;
}
.container .content .first-read
{
	height: 181px;
	width: 938px;
}
IMG#movie
{
	padding-right: 25px;
}
.container .content .shelves
{
	padding: 20px 0px 40px 20px;
	font-size: 12px;
}
.container .content .shelves TD.first
{
	padding-right: 27px;
}
.container .content .shelves TD.second
{
	padding-left: 27px;
	padding-right: 27px;
}
.container .content .shelves TD.third
{
	padding-left: 27px;
}
.container .content .shelves TR.firstRow TD
{
	padding-bottom: 10px;
}
.container .content .shelves TR.secondRow TD
{
	padding-top: 20px;
}
.container .content .shelves .title
{
	font-size: 16px;
	color: #AA4333;
	font-weight: bold;
	margin-bottom: 10px;
}
.container .content .shelves .caption
{
	margin: 15px 0;
	width: 260px;
	font-size: 14px;
}
/*--- left ---*/
.container .content .ileft
{
	float: left;
	width: 225px;
	padding-left: 20px;
}
.container .content .ileft .nav
{
	background-color: #95987E;
	width: 195px;
}
.container .content .ileft .nav UL
{
	padding: 20px 20px 35px;
	margin: 0px;
}
.container .content .ileft .nav LI
{
	margin: 0px 0px 10px;
	list-style: none;
	padding: 0px;
}
.container .content .ileft .nav LI
{
	text-decoration: none;
	color: #FFF;
}
.container .content .ileft .nav LI, .container .content .ileft .nav LI A
{
	font-family: AvenirLTStd35LightRegular, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	color: #FFF;
}
.container .content .ileft .nav LI A.active, .container .content .ileft .nav LI A:active, .container .content .ileft .nav LI A:hover
{
	color: #594207;
}
.container .content > .ileft > P
{
	margin-top: 20px;
}
/*--- right ---*/
.container .content > .iright
{
	float: right;
	width: 620px;
	padding-right: 65px;
}
.dottedLine
{
}
.container .content > .iright .top
{
	margin-bottom: 30px;
}
.container .content > .iright .top .ileft
{
	width: 360px;
	padding: 0px 50px 10px 0px;
}
.container .content > .iright .top .ileft P
{
	font-family: AvenirLTStd55RomanRegular, sans-serif;
	color: #808080;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 20px;
}
.container .content > .iright .top .ileft .title
{
	font-size: 45px;
	margin: 20px 0px 30px -7px;
}
.container .content > .iright P
{
	font-size: 14px;
	margin-bottom: 9px;
}
.container .content > .iright UL
{
	margin-left: 30px;
}
.container .content > .iright UL LI
{
	font-size: 14px;
	margin-bottom: 2px;
}
.highlight
{
	font-family: AvenirLTStd35LightRegular, sans-serif;
	font-size: 20px !important;
	margin-bottom: 15px !important;
}
.container .get-started > .iright .top .ileft .title, .container .get-started > .iright .icolor, .container .get-started > .iright .highlight
{
	color: #0098D5;
}
.container .truth > .iright .top .ileft .title, .container .truth > .iright .icolor, .container .truth > .iright .highlight
{
	color: #0B77BF;
}
.container .change > .iright .top .ileft .title, .container .change > .iright .icolor, .container .change > .iright .highlight
{
	color: #0098D5;
}
.container .fuel > .iright .top .ileft .title, .container .fuel > .iright .icolor, .container .fuel > .iright .highlight
{
	color: #54B948;
}
.container .fuel TABLE
{
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 620px;
}
.container .fuel TR
{
	margin: 0;
	padding: 0;
}
.container .fuel TD
{
	border: 1px solid #54B948;
}
.container .fuel TD .left
{
	width: 364px;
}
.container .fuel TD .right
{
	width: 252px;
}
.container .fit > .iright .top .ileft .title, .container .fit > .iright .icolor, .container .fit > .iright .highlight
{
	font-size: 36px;
	color: #EE3943;
}
.container .support > .iright .top .ileft .title, .container .support > .iright .icolor, .container .support > .iright .highlight
{
	color: #0096A4;
}
.container .great-golo-meals > .iright .top P
{
	font-family: AvenirLTStd55RomanRegular, sans-serif;
	color: #808080;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 20px;
}
.container .great-golo-meals > .iright .top .title
{
	font-size: 45px;
	margin: 20px 0px 30px -7px;
}
.container .great-golo-meals > .iright .top .title, .container .great-golo-meals > .iright .icolor, .container .great-golo-meals > .iright .highlight
{
	color: #54B948;
}
/*--- meals ---*/
.container .great-golo-meals > .iright .meals
{
	margin: 30px 0px 20px;
}
.container .great-golo-meals > .iright .meals > P
{
	font-family: AvenirLTStd55RomanBold, sans-serif;
	margin: 20px 0px 40px;
	color: #26639A;
	font-size: 28px;
}
.container .great-golo-meals > .iright .meals > DIV
{
	margin: 20px 0px 40px;
	border-bottom: 8px solid #54B948;
	display: inline-table;
}
.container .great-golo-meals > .iright .meals .ileft
{
	float: left;
	width: 210px;
	margin: 0px;
	padding: 0px;
}
.container .great-golo-meals > .iright .meals .iright
{
	float: right;
	width: 340px;
	margin: 0px;
	padding: 0px 0px 0px 30px;
}
.container .great-golo-meals > .iright .meals .iright P
{
	clear: both;
	font-family: AvenirLTStd65MediumBold, sans-serif;
	color: #181818;
	font-size: 16px;
	line-height: 22px;
	margin: 0px;
}
.container .great-golo-meals > .iright .meals .iright P .ileft
{
	display: inline-block;
	width: 245px;
	float: left;
}
.container .great-golo-meals > .iright .meals .iright P .iright
{
	display: inline-block;
	width: 40px;
	float: right;
}
.container .great-golo-meals > .iright .meals .iright .title
{
	font-size: 20px;
	margin-bottom: 15px;
	color: #54B948 !important;
}
.container .great-golo-meals > .iright .meals .iright .small
{
	font-family: AvenirLTStd35LightRegular, sans-serif;
	font-size: 13.5px;
	margin-bottom: 10px;
}
.container .great-golo-meals > .iright .meals .iright .total
{
	clear: both;
	padding: 0px;
	margin: 45px 0px 0px;
	background-color: #54B948;
}
.container .great-golo-meals > .iright .meals .iright .total P
{
	font-family: AvenirLTStd65MediumBold, sans-serif;
	padding: 17px 10px 20px;
	font-size: 20px;
	color: #FFF;
	height: 10px;
}
.container .great-golo-meals > .iright .meals .iright .total .ileft
{
	display: inline-block;
	width: 185px;
	float: left;
}
.container .great-golo-meals > .iright .meals .iright .total .iright
{
	display: inline-block;
	font-size: 30px;
	width: 55px;
	float: right;
}
.blue
{
	color: #2D449C !important;
}
.container UL.align
{
	margin-left: 0px !important;
	padding: 0px 0px 20px 15px !important;
}
/*--- footer ---*/
.footer
{
	background: url("../images/bck-footer.png") repeat-x;
	height: 210px;
	color: #FFF;
	font-size: 14px;
	padding-top: 40px;
}
.footer .wrapper
{
	margin: 0 auto;
}
.footer UL, .footer LI
{
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
.footer LI
{
	margin-bottom: 10px;
}
.footer-links .icol
{
	float: left;
	width: 260px;
}
.footer LI, .footer LI A
{
	color: #FFF;
	text-decoration: none;
}
.footer LI A
{
	background: transparent url("../images/arrow-white.png") no-repeat right center;
	padding-right: 13px;
}
.footer LI A:hover
{
	color: #00FFFF;
}
.footer .ileft
{
	float: left;
	width: 700px;
}
.footer .iright
{
}
.footer .iright .copyright
{
	float: right;
	margin-right: 60px;
	margin-top: 10px;
	width: 125px;
	text-align: center;
	font-size: 12px;
	line-height: 28px;
	color: #B8D0DA;
}
/*--- others ---*/
.clearfix
{
	clear: both;
}
.font14
{
	font-size: 14px !important;
}
.gray
{
	color: #666 !important;
}
.orange
{
	color: #DD7302 !important;
}
A.orange:hover
{
	color: #2D449C !important;
}
.text-underline
{
	text-decoration: underline !important;
}
.text-no-underline
{
	text-decoration: none !important;
}
.w285
{
	width: 285px !important;
}
.thickBox
{
	background-color: #000000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
DIV#movieFrame
{
	display: none;
	height: 315px;
	left: 50%;
	margin-left: -280px;
	margin-top: -157px;
	overflow: auto;
	position: fixed;
	top: 40%;
	width: 560px;
	z-index: 12000;
}
DIV.closeMovie
{
	display: none;
	height: 34px;
	left: 50%;
	margin-left: 270px;
	margin-top: -180px;
	position: fixed;
	top: 40%;
	z-index: 13000;
}
.welcome
{
	float: left;
	padding: 30px 18px 0 20px;
}
.welcome P
{
	font-size: 14px;
	width: 500px;
	line-height: 1.4em;
}
.assessmentAlert
{
	vertical-align: top;
	padding-top: 5px;
}
#FrameSizeInfo
{
	position: absolute;
	width: 350px;
	height: 160px;
	background-color: #FFFFFF;
	border: 3px solid #1F609B;
	padding: 0;
}
#FrameSizeInfo H1
{
	background-color: #1F609B;
	color: #FFF;
	font-size: 14px;
}
#FrameSizeInfo UL
{
	margin-left: 3px;
	padding: 15px;
	list-style-type: disc;
}
#FrameSizeInfo P
{
	margin-left: 2px;
}
.rating-star-block .star.outline
{
	background: rgba(0, 0, 0, 0) url("../images/star-empty-lg.png") no-repeat 0 0;
}
.rating-star-block .star.filled
{
	background: rgba(0, 0, 0, 0) url("../images/star-fill-lg.png") no-repeat 0 0;
}
.rating-star-block .star
{
	color: rgba(0, 0, 0, 0);
	display: inline-block;
	height: 24px;
	overflow: hidden;
	text-indent: -999em;
	width: 24px;
}
A
{
	color: #005782;
	text-decoration: none;
}
.icenter
{
	align-content: center;
	text-align: center;
}
.col-orange
{
	color: #D3741E;
}
.col-purple
{
	color: #9370D8;
}
.col-blue
{
	color: #559AB1;
}
.txt-M
{
	font-size: 20px !important;
}
.movie
{
	width: 200px;
}
.drop-down-width
{
	width: 100px;
}
.menuSub
{
	padding-left: 20px;
}
.padding-top
{
	padding-top: 20px;
}
.gridResults tbody:nth-child(1) > tr:nth-child(2)
{
	border: 4px solid #4C9ED9;
}
.gridLBorder{
	border-left: 4px solid #4C9ED9;
}

.copyright IMG
{
	height: 56px;
	padding-top: 8px;
}
.gridResults tbody:nth-child(1) > tr:last-child 
{
	background:#FFD800;
}
