/*+clearfix {*/

#pnlData .row:after,
#pnlTitle:after,
#header-welcome #header-welcome-message:after,
#header-welcome-message IMG:after,
#header-welcome:after,
#header-welcome-track:after,
#header-welcome #time-select:after,
#time-select:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

#pnlData .row,
#pnlTitle,
#header-welcome #header-welcome-message,
#header-welcome-message IMG,
#header-welcome,
#header-welcome-track,
#header-welcome #time-select,
#time-select {
    display: inline-block;
}

#pnlData .row,
#pnlTitle,
#header-welcome #header-welcome-message,
#header-welcome-message IMG,
#header-welcome,
#header-welcome-track,
#header-welcome #time-select,
#time-select {
    /*\*/
    display: block;
    /**/
    -height: 1px;
}


/*+}*/

body {
    font-size: 16px;
    line-height: 22px;
    background-color: #F2EAD6;
}

BODY,
DIV,
P,
li {
    margin: 0px;
    padding-top: 0px;
    font-family: Helvetica, Arial, sans-serif !important;
}

p,
li {
    margin: 0 0 18px 0;
}

#pageTitle {
    font-weight: bold;
    font-size: 16.6pt;
    padding-left: 42px;
    /*[empty]font-family:;*/
    padding-top: 12px;
    margin-left: 35px;
}

#pnlTitleMain {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    font-weight: bold;
}

#pnlConfirmBG {
    background-color: #D8DEEB;
    padding-bottom: 20px;
    padding-top: 22px;
    margin: -18px 11px -5px;
    border: 1px solid #A3A3B1;
    background: -moz-radial-gradient(white, white, #D8DEEB);
    /*For Firefox 3.6 to 15*/
    background: radial-gradient(white, white, #D8DEEB);
    /*Standard syntax*/
}

#header-welcome-message P {
    padding-bottom: 10px;
}

.center {
    width: 100%;
    text-align: center;
    padding-top: 21px;
}

.row .row_label {
    float: left;
    width: 40%;
    text-align: right;
    margin-left: 13px;
    margin-right: 19px;
    font-size: 14px;
    margin-top: 6px;
}


/*[clearfix]*/

#pnlData .row {
    width: 100%;
    padding-top: 15px;
}

.row .row_value INPUT {
    width: 80px;
    height: 25px;
}

.row .row_value {
    float: left;
    width: 50%;
}


/*[clearfix]*/

#pnlTitle {
    font-weight: bold;
    width: 100%;
    text-align: center;
    clear: both;
}

#ctl00_ctl00_ContentBodyPlaceHolder_BodyPlaceHolder_pnlReadyToStart #pnlTitle {
    padding-top: 9px;
}

#pnlData {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 7px;
    margin-top: 28px;
}

#pnlData P {}

.mtrk-week {
    float: left;
}


/*[clearfix]*/

#header-welcome #header-welcome-message {
    width: 421px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 10px;
    margin-right: 22px;
    font-size: 14px;
    line-height: 1.5;
}


/*[clearfix]*/

#header-welcome-message IMG {
    padding-bottom: 12px;
    margin-right: 0px;
}


/*[clearfix]*/

#header-welcome {
    width: 938px;
    background-color: #D8DEEB;
    /*+box-shadow:5px 5px 8px #0D0D0E;*/
    -moz-box-shadow: 5px 5px 8px #0D0D0E;
    -webkit-box-shadow: 5px 5px 8px #0D0D0E;
    -o-box-shadow: 5px 5px 8px #0D0D0E;
    box-shadow: 5px 5px 8px #0D0D0E;
    margin-bottom: 15px;
    background: -moz-radial-gradient(white, white, #D8DEEB);
    /*For Firefox 3.6 to 15*/
    background: radial-gradient(white, white, #D8DEEB);
    /*Standard syntax*/
}

#logProgressImg {
    padding-top: 15px;
    padding-left: 134px;
    padding-right: 0px;
    margin-left: -23px;
    padding-bottom: 8px;
}


/*[clearfix]*/

#header-welcome-track {
    background-color: #FFFFFF;
    border: 1px solid #A3A3B1;
    float: left;
    width: 453px;
    padding-top: 0px;
    padding-bottom: 10px !important;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#confirmImg {
    text-align: center;
}


/*[clearfix]*/

#header-welcome #time-select {
    width: 323px;
    padding-left: 20px;
    padding-right: 34px;
    float: left;
    margin-left: 42px;
    border-top: 1px solid #A3A3B1;
    border-bottom: 1px solid #A3A3B1;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}


/*[clearfix]*/

#time-select {
    padding-left: 105px;
}

.mtrk-week .mtrk-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-left: 25px;
}

#time-select .mtrk-week {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 12px;
}

#header-welcome-track .button {
    float: left;
}


/* row structure */

.row {
    position: relative;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row:before,
.row:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.top-bar {
    background-color: #FFFFFF;
}

.top-bar > DIV {
    width: 100%;
}

.top-bar .t-blue {
    background-color: #7EBCD7;
    height: 6px;
}

.top-bar .t-white {
    background-color: #FFF;
    height: 100px;
}

.t-blue-big {
    background: transparent url("../images/bck-top-orange.png") repeat-x center top;
    height: 224px;
}

.wrapper {
    text-align: left;
    width: 938px;
    margin: 0 auto;
    background-color: #FFFFFF;
}


/*--- header ---*/

.header {
    margin-top: -315px;
}

.header .ileft {
    float: left;
    width: 231px;
    height: 84px;
}

.header .iright {
    float: right;
    width: 704px;
    height: 84px;
}

.logo img {
    max-width: 280px;
    height: 75px;
    padding: 10px 0 0 40px;
}

.header .iright .top-nav {
    text-align: right;
    float: right;
    height: 50px;
    padding: 0 25px 0 0;
}

.header .iright .top-tabs {
    clear: both;
    padding: 14px 10px 0;
}

.header .iright .top-tabs .tracking {
    float: right;
}

.header .iright .top-tabs .assessment {
    float: left;
}

.header .iright .top-nav UL {
    margin-top: 10px;
}

.header .iright .top-nav UL LI {
    list-style-type: none;
    float: left;
}

.header .iright .top-nav UL LI.sep {
    padding: 0 10px;
    font-weight: normal;
}

.header .iright .top-nav,
.header .iright .top-nav A {
    font-size: 0.875rem;
    color: #808080;
    text-decoration: none;
}

.header .iright .top-nav .ask-exp A {
    background: transparent url("../images/mygolo/icon-mail.png") no-repeat left center;
    padding-left: 25px;
}

.header .iright .top-nav A:hover {
    color: #F68A15;
}


/*.header .iright .top-nav .account{
background: url("../images/mygolo/bck-top-account-start.png") no-repeat left top transparent;
display:inline-block;
padding-left:35px;
padding-top:10px;
height:26px;
*height:36px;
max-width:450px;
}
.header .iright .top-nav .account,
.header .iright .top-nav .account a{
font-size:13px;
font-weight:bold;
color:#ffffff;
}
.header .iright .top-nav .account a{
margin-left:30px;
text-decoration:none;
}
.header .iright .top-nav .account a:hover{
color:#2d449c;
}

.header .iright .return{
text-align:right;
padding:20px;
float:right;
width:464px;
height:36px;
}
*/

.t-space {
    height: 11px;
}


/*--- container ---*/

.container {
    background-color: #ffffff;
    margin: 0 auto;
}


/*--- banner ---

.container .banner{
background: url("../images/mygolo/bck-banner.jpg") no-repeat left top #0956b3;
height:100px;
max-width:940px;
}
.container .banner .ileft,
.container .banner .iright{
color:#fff;
}
.container .banner .ileft{
padding:17px 0px 5px 290px;
float:left;
width:400px;
}
.container .banner p{
font-size:15px;
}
.container .banner .title{
font-family: 'AvenirLTStd55RomanBold', sans-serif;
font-size:25px;
margin-bottom:5px;
}
.container .banner .iright{
padding-top:30px;
width:230px;
float:right;
}

--- content ---*/

.banner {
    padding-top: 7px;
}

.container .content {
    padding: 30px 0 20px 0;
}

#dvGrid TABLE {
    font-size: 13px;
    max-width: 910px !important;
    border-color: #9b99a0;
}

#dvGrid TABLE,
#dvGrid TD {
    text-align: center;
}

.gridEdit {
    background-color: #F8F1E9;
}

.gridFooter {
    background-color: #A6A6A6 !important;
}

#dvGrid INPUT {
    width: 40px;
}

#dvGrid .datePicker {
    width: 70px !important;
}

.fuel_tracking_log_data TD {
    text-align: center;
    font-size: 13px;
    padding: 5px;
}

.-Sleep5 {
    border-left: 1px solid #000000;
}

#results {
    margin-left: 54px !important;
}

.fuel_tracking_log_data .-WeekEnding {
    font-weight: bold;
}

.fuel_tracking_log_data .summary {
    background-color: #FF8A8A;
    font-weight: bold;
}

.fuel_tracking_log_data TH {
    background-color: #7EBCD7;
    font-size: 10.5pt;
}

.fuel_tracking_log_data {
    /*[empty]width:;*/
}

.fuel_tracking_log_data TH {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

TABLE.fuel_tracking_log_data {
    padding-left: 0px;
    margin-left: 15px;
    margin-top: -2px;
    text-align: right;
    padding-top: 33px !important;
    padding-bottom: 33px !important;
}

.container .content .first-read {
    height: 181px;
    width: 938px;
    margin-top: 24px;
}

IMG#movie {
    padding-right: 25px;
}

.container .content .shelves {
    padding: 0 0 0 20px;
}

.container .content .shelves TD.first {
    padding-right: 27px;
}

.container .content .shelves TD.second {
    padding-left: 27px;
    padding-right: 27px;
}

.container .content .shelves TD.third {
    padding-left: 27px;
}

.container .content .shelves TR.firstRow TD {
    padding-bottom: 10px;
}

.container .content .shelves TR.secondRow TD {
    padding-top: 20px;
}

.container .content .shelves .title {
    font-size: 1.25rem;
    color: #AA4333;
    font-weight: bold;
    margin-bottom: 10px;
}

.shelves tr {
    vertical-align: top;
}

.shelves .firstRow p.title {
    margin-top: 8px;
}

.container .content .shelves .caption {
    margin: 15px 0;
    width: 260px;
    font-size: 0.875rem;
    line-height: 1.2rem;
    color: #77787b;
    text-align: justify;
}

.paralink {
    display: block;
    width: 100%;
    margin-top: 10px;
}


/*--- left ---*/

.container .content .ileft {
    float: left;
    width: 225px;
    padding-left: 20px;
}

.container .content .ileft .nav {
    background-color: #adac97;
    width: 225px;
}

.container .content .ileft .nav UL {
    padding: 20px 20px 14px 20px;
    margin: 0px;
}

.container .content .ileft .nav LI {
    margin: 0px 0px 6px;
    list-style: none;
    padding: 0px;
}

.container .content .ileft .nav LI {
    text-decoration: none;
    color: #FFF;
}

.container .content .ileft .nav LI,
.container .content .ileft .nav LI A {
    font-family: AvenirLTStd35LightRegular, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
}

.container .content .ileft .nav LI A.active,
.container .content .ileft .nav LI A:active,
.container .content .ileft .nav LI A:hover {
    color: #594207;
}

.container .content > .ileft > P {
    margin-top: 20px;
}


/*--- right ---*/

.container .content > .iright {
    float: right;
    width: 637px;
    padding-right: 35px;
}

.dottedLine {}

.container .content > .iright .top {
    margin-bottom: 30px;
}

.container .content > .iright .top .ileft {
    width: 360px;
    padding: 0px 50px 10px 0px;
}

.container .content > .iright .top .ileft P {
    font-family: AvenirLTStd55RomanRegular, sans-serif;
    color: #808080;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.container .content > .iright .top .ileft .title {
    font-size: 45px;
    margin: 20px 0px 30px -7px;
}

.container .content > .iright P {
    text-align: justify;
}

.container .content > .iright UL {
    margin-left: 30px;
}

.highlight {
    font-family: AvenirLTStd35LightRegular, sans-serif;
    font-size: 20px !important;
    margin-bottom: 15px !important;
}

.container .get-started > .iright .top .ileft .title,
.container .get-started > .iright .icolor,
.container .get-started > .iright .highlight {
    color: #0098D5;
}

.container .truth > .iright .top .ileft .title,
.container .truth > .iright .icolor,
.container .truth > .iright .highlight {
    color: #0B77BF;
}

.container .change > .iright .top .ileft .title,
.container .change > .iright .icolor,
.container .change > .iright .highlight {
    color: #0098D5;
}

.container .fuel > .iright .top .ileft .title,
.container .fuel > .iright .icolor,
.container .fuel > .iright .highlight {
    color: #54B948;
}

.container .fuel TABLE {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 620px;
}

.container .fuel TR {
    margin: 0;
    padding: 0;
}

.container .fuel TD {
    border: 1px solid #54B948;
}

.container .fuel TD .left {
    width: 364px;
}

.container .fuel TD .right {
    width: 252px;
}

.container .fit > .iright .top .ileft .title,
.container .fit > .iright .icolor,
.container .fit > .iright .highlight {
    font-size: 36px;
    color: #EE3943;
}

.container .support > .iright .top .ileft .title,
.container .support > .iright .icolor,
.container .support > .iright .highlight {
    color: #0096A4;
}

.container .great-golo-meals > .iright .top P {
    font-family: AvenirLTStd55RomanRegular, sans-serif;
    color: #808080;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.container .great-golo-meals > .iright .top .title {
    font-size: 45px;
    margin: 20px 0px 30px -7px;
}

.container .great-golo-meals > .iright .top .title,
.container .great-golo-meals > .iright .icolor,
.container .great-golo-meals > .iright .highlight {
    color: #54B948;
}


/*--- meals ---*/

.container .great-golo-meals > .iright .meals {
    margin: 30px 0px 20px;
}

.container .great-golo-meals > .iright .meals > P {
    font-family: AvenirLTStd55RomanBold, sans-serif;
    margin: 20px 0px 40px;
    color: #26639A;
    font-size: 28px;
}

.container .great-golo-meals > .iright .meals > DIV {
    margin: 20px 0px 40px;
    border-bottom: 8px solid #54B948;
    display: inline-table;
}

.container .great-golo-meals > .iright .meals .ileft {
    float: left;
    width: 210px;
    margin: 0px;
    padding: 0px;
}

.container .great-golo-meals > .iright .meals .iright {
    float: right;
    width: 340px;
    margin: 0px;
    padding: 0px 0px 0px 30px;
}

.container .great-golo-meals > .iright .meals .iright P {
    clear: both;
    font-family: AvenirLTStd65MediumBold, sans-serif;
    color: #181818;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

.container .great-golo-meals > .iright .meals .iright P .ileft {
    display: inline-block;
    width: 245px;
    float: left;
}

.container .great-golo-meals > .iright .meals .iright P .iright {
    display: inline-block;
    width: 40px;
    float: right;
}

.container .great-golo-meals > .iright .meals .iright .title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #54B948 !important;
}

.container .great-golo-meals > .iright .meals .iright .small {
    font-family: AvenirLTStd35LightRegular, sans-serif;
    font-size: 13.5px;
    margin-bottom: 10px;
}

.container .great-golo-meals > .iright .meals .iright .total {
    clear: both;
    padding: 0px;
    margin: 45px 0px 0px;
    background-color: #54B948;
}

.container .great-golo-meals > .iright .meals .iright .total P {
    font-family: AvenirLTStd65MediumBold, sans-serif;
    padding: 17px 10px 20px;
    font-size: 20px;
    color: #FFF;
    height: 10px;
}

.container .great-golo-meals > .iright .meals .iright .total .ileft {
    display: inline-block;
    width: 185px;
    float: left;
}

.container .great-golo-meals > .iright .meals .iright .total .iright {
    display: inline-block;
    font-size: 30px;
    width: 55px;
    float: right;
}

.blue {
    color: #2D449C !important;
}

.container UL.align {
    margin-left: 0px !important;
    padding: 0px 0px 20px 15px !important;
}


/*--- footer ---*/

.footer {
    height: 160px;
    color: #FFF;
    font-size: 0.875rem;
    background: #437ba3;
    background: -moz-linear-gradient(top, #437ba3 0%, #0f5888 100%);
    background: -webkit-linear-gradient(top, #437ba3 0%, #0f5888 100%);
    background: linear-gradient(to bottom, #437ba3 0%, #0f5888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#437ba3', endColorstr='#0f5888', GradientType=0);
}

.footer .copyright {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer UL,
.footer LI {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.footer LI {
    margin-bottom: 10px;
}

.footer-links .icol {
    float: left;
    width: 260px;
}

.footer LI,
.footer LI A {
    color: #FFF;
    text-decoration: none;
}

.footer LI A {
    background: transparent url("../images/arrow-white.png") no-repeat right center;
    padding-right: 13px;
}

.footer LI A:hover {
    color: #00FFFF;
}

.footer .ileft {
    float: left;
    width: 700px;
}

.footer .iright {
    position: relative;
}

.footer .iright .copyright {
    padding: 10px 80px 0 0;
    text-align: left;
    font-size: 0.75rem;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
}


/*--- others ---*/

.clearfix {
    clear: both;
}

.font14 {
    font-size: 14px !important;
}

.gray {
    color: #666 !important;
}

.orange {
    color: #DD7302 !important;
}

A.orange:hover {
    color: #2D449C !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-no-underline {
    text-decoration: none !important;
}

.w285 {
    width: 285px !important;
}

.thickBox {
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

DIV#movieFrame {
    display: none;
    height: 315px;
    left: 50%;
    margin-left: -280px;
    margin-top: -157px;
    overflow: auto;
    position: fixed;
    top: 40%;
    width: 560px;
    z-index: 12000;
}

DIV.closeMovie {
    display: none;
    height: 34px;
    left: 50%;
    margin-left: 270px;
    margin-top: -180px;
    position: fixed;
    top: 40%;
    z-index: 13000;
}

.welcome {
    float: left;
    padding: 30px 18px 0 20px;
}

.welcome P {
    width: 500px;
    text-align: justify;
}

.welcome.iRight {
    width: 350px;
    float: right;
    padding: 30px 26px 0 0;
}

.assessmentAlert {
    vertical-align: top;
    padding-top: 5px;
}

.rating-star-block .star.outline {
    background: rgba(0, 0, 0, 0) url("../images/star-empty-lg.png") no-repeat 0 0;
}

.rating-star-block .star.filled {
    background: rgba(0, 0, 0, 0) url("../images/star-fill-lg.png") no-repeat 0 0;
}

.rating-star-block .star {
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 24px;
}

A {
    color: #005782;
    text-decoration: none;
}

.icenter {
    align-content: center;
    text-align: center;
}

.col-orange {
    color: #d3741e;
}

.col-purple {
    /* color: #b59fc9;*/
    color: #476dc4;
}

.col-blue,
.col-blue a {
    color: #559ab1;
}

.col-red {
    color: #aa4333;
}

.col-gray {
    color: #9b99a0;
}

.col-green {
    color: #66bc57;
}

.txt-M {
    font-size: 1.5rem !important;
}

.movie {
    width: 200px;
}

.drop-down-width {
    width: 100px;
}

.content .ileft .nav LI .menuSub {
    padding-left: 20px;
}

.content .ileft .nav LI .menuSub a {
    font-weight: normal;
}

.padding-top {
    padding-top: 20px;
}

.gridResults tbody:nth-child(1) > tr:nth-child(2) {
    border: 4px solid #4C9ED9;
}

.gridLBorder {
    border-left: 4px solid #4C9ED9;
}

.copyright IMG {
    height: 56px;
    padding-top: 8px;
}

.gridResults tbody:nth-child(1) > tr:first-child {
    background: #88c3d3;
    
}
.gridResults tbody:nth-child(1) > tr:first-child > th {
    white-space: nowrap;
    padding: 2px 5px;
    }
/*
table.gridResults tr:nth-last-child(2) td,
table.gridResults tr:nth-last-child(3) td,
table.gridResults tr:nth-last-child(4) td {
    background-color: #f7f3e8 !important;
} */ 
.gridResults tbody:nth-child(1) > tr:last-child {
    background: #f7f3e8;
    white-space: nowrap;
    height: 40px;
}
.gridResults tbody:nth-child(1) > tr:last-child td {
    vertical-align: middle;
}
.button {
    float: left;
    width: 50px;
    height: 50px;
}

.button .next {
    width: 50px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    display: block;
    background: url("images/next.png") no-repeat scroll left top transparent;
}

.button .next:hover {
    background: url("images/next_hover.png") no-repeat scroll left top transparent;
}

.button .prev {
    width: 50px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    display: block;
    background: url("images/prev.png") no-repeat scroll left top transparent;
}

.button .prev:hover {
    background: url("images/prev_hover.png") no-repeat scroll left top transparent;
}

.averagescontainer {
    float: left;
    width: 313px;
    border: solid 1px #c0c0c0;
    padding: 3px;
    background-color: #ffffff;
}

.averages {
    width: 312px;
    border-collapse: collapse;
    padding: 0;
}

.averages th {
    background-color: #3585ab;
    text-align: center;
    height: 40px;
    color: white;
}

.averages td {
    border-bottom: 1px solid #d5d5d5;
    background-color: #f6f6f6;
    height: 34px;
    color: #353535;
}

.averages td.number {
    padding-right: 3px;
    text-align: right;
}

.button {
    float: left;
    width: 50px;
    height: 50px;
}

.button .next {
    width: 50px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    display: block;
    background: url("images/next.png") no-repeat scroll left top transparent;
}

.button .next:hover {
    background: url("images/next_hover.png") no-repeat scroll left top transparent;
}

.button .prev {
    width: 50px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    display: block;
    background: url("images/prev.png") no-repeat scroll left top transparent;
}

.button .prev:hover {
    background: url("images/prev_hover.png") no-repeat scroll left top transparent;
}

.averagescontainer {
    float: left;
    width: 313px;
    border: solid 1px #c0c0c0;
    padding: 3px;
    background-color: #ffffff;
}

.averages {
    width: 312px;
    border-collapse: collapse;
    padding: 0;
}

.averages th {
    background-color: #3585ab;
    text-align: center;
    height: 40px;
    color: white;
}

.averages td {
    border-bottom: 1px solid #d5d5d5;
    background-color: #f6f6f6;
    height: 34px;
    color: #353535;
}

.averages td.number {
    padding-right: 3px;
    text-align: right;
}

.strong {
    font-weight: bold;
}

.underline {
    border-bottom: 1px solid;
}

.moreInfo a {
    position: absolute;
    top: 19px;
    right: 0;
    background-color: #5a9baf;
    padding: 5px 14px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}

.pageHeader {
    margin: 18px 0 20px 0 !important;
    font-size: 1.8rem !important;
    font-weight: bold;
}

.pageh2 {
    margin: 10px 0 10px 0 !important;
    font-size: 1.25rem !important;
    font-weight: bold;
}

.pageh3 {
    margin: 0 0 10px 0 !important;
    font-size: 1.1rem !important;
    font-weight: bold;
}

.two-col {
    display: block;
    float: left;
    width: 50%;
    margin: 10px auto 40px auto;
}

.downloads {
    margin: 40px auto;
}

.downloads a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.downloads a,
.seven-day-kickstart a,
.GOLO-smart-card a {
    color: #9b99a0;
    text-decoration: none;
}

.downloads a:hover {
    text-decoration: underline;
}

.downloads .subtitle {
    margin: -15px 0 0 0;
    padding: 0;
    display: block;
}

.pdf img {
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.pdf .subtitle {
    vertical-align: -2px;
}

.border-top {
    border-top: 2px solid #9b99a0;
    padding-top: 10px;
    margin-top: 30px !important;
    width: 75%;
}

.metabolic-fuel-matrix a {
    color: #338dbe;
}

.metabolic-fuel-matrix ul {
    margin-bottom: 14px;
}

.metabolic-fuel-matrix li {
    margin: 2px;
}

.matrix-meals .pageh2 {
    margin-top: 40px !important;
}

.recipe {
    display: block;
}

.recipe p {
    text-align: left !important;
    margin-bottom: 5px;
}

.recipe p.col-gray {
    font-size: 1.2rem;
}

.recipe img {
    margin: 0 0 40px 20px;
    float: right;
    width: 100%;
    max-width: 240px;
    height: auto;
}

.left {
    float: left;
}

img.left {
    margin: 0 20px 10px 0;
}

.right {
    float: right;
}

img.right {
    margin: 0 0 10px 20px;
}

.golo-fit .border-top {
    width: 67.6%;
}

.support p {
    margin: 0 0 12px 0;
}

.support .pageh2 {
    margin: 30px 0 10px 0 !important;
}

.great-expectations .two-col {
    max-width: 285px;
    margin-left: 15px;
}

.great-expectations .row .two-col:first-child {
    margin-right: 30px;
}

.great-expectations .headh2 {
    font-weight: bold;
    margin: 0 0 8px 0;
}

.great-expectations .success-story p {
    text-align: center !important;
    margin: 0 0 10px 0;
}

.great-expectations .success-story p.quote {
    text-align: left !important;
    color: #9b99a0;
    margin: 0 0 12px 0;
}

.great-expectations img {
    width: 100%;
    max-width: 285px;
    height: auto;
}

.myAccount .user-profile-img {
    margin: 0 auto 20px 0;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    border: 1px solid #CCC;
    border-radius: 8px;
}

.viewAccount p.info {
    color: #111 !important;
    font-size: 14px;
    padding: 7px;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    border: 1px solid #CCC;
    border-radius: 8px;
}

.myAccount p.info.no-bdr {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.myAccount p.info .title {
    display: block;
    font-weight: bold; 
    font-size: 12px;
}

.myAccount p.info .data {
    display: block;
    font-weight: normal;
    font-size: 16px;
}
.myAccount p.info.no-bdr .data {
    font-size: 12px;
}
.myAccount .two-col {
    margin: 10px auto;
}
.account-button {
    color: #FFF;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 7px 30px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 8px;
}

.bg-orange {
    background-color: #d6ab22;
}
.bg-blue {
    background-color: #67aac2;
}
.account-button:hover{
    cursor: pointer;
}

.myAccount INPUT[type='text'], 
.myAccount INPUT[type='password'],
.myAccount SELECT {
    color: #111 !important;
    font-size: 14px;
    padding: 14px 7px;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    border: 1px solid #CCC;
    border-radius: 8px;
    width: 90% !important;
}
.myAccount SELECT {
    width: 95% !important;
}

.two-col.spacer .info {
    width: 140px;
}

.two-col.spacer.pad-right .info {
    margin-right: 15px;
}

.errorMessage {
    color: #FF0000;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    padding-top: 5px
}

.myAccount .container {
    width: 238px;
    margin: 0 auto;
    text-align: left;
}

.facebook-blue {
    color: #2658a2;
    
}

.hp-footer .text,
.facebook-supportpg .text {
    padding-right: 15px;
    font-size: 20px;
    vertical-align: 8px;
    font-weight: bold;
}

.hp-footer .two-col {
    margin: 10px auto 20px auto;
}

.hp-footer .facebook {
    float: right;
    padding-right: 35px ;
}

.facebook-supportpg {
    margin: 20px 0;
}

.tracking {
    margin: 20px auto;
    max-width: 700px
}

.col-logoblue {
    color: #0079be;
}

.col-darkgray {
    color: #666;
}

table.gridResults {
    margin: 0 auto;
}