/*Health Assesment Wizard*/
.container .health-analisis-header {height:224px !important; }

.health-analysis {padding:8px;margin-top:-2px;font-family:avenir, Helvetica, Arial, sans-serif;text-align:left; }
.wizard-header {position:relative;background-color:#0070AC;min-height:40px;color:#fff; overflow:hidden;text-align:center;margin-bottom:20px;}
.wizard-header h1 {width:60%;height:40px;line-height:40px;position:absolute;left:0;top:0;bottom:0;margin:auto 0;padding:0 20px;font-family:avenir, Helvetica, Arial, sans-serif;font-size:28px;}
.wizard-header span {height:40px;line-height:40px;display:inline-block;font-size:24px;padding:0 20px;font-style:italic;}
.wizard-step {width:100%;margin-top:30px; }
.wizard-form, .wizard-control {display:table;width:70%;margin:0 auto; }
.blue-pdf-is-bold {font-weight:normal;color:#1C75BC }
.wizard-row {display:table-row }
.wizard-cell {display:table-cell;width:25%;padding:15px 5px;}
.wizard-row:nth-child(odd) { background-color:rgba(247,245,237,1)}
.wizard-cell label {font-weight:bold;}
.wizard-cell select, .wizard-cell input[type=text], .wizard-cell input[type=number], .wizard-cell input[type=email], .wizard-cell textarea {width:200px; }
select.inline-selector {display:inline-block;width:auto; }
.input-group.col-xs-6.pull-left {border-collapse:collapse;}
.input-group.col-xs-6.pull-left.input-group-addon:nth-child(1) {border-left:none !important;}
.input-group.col-xs-6.pull-left.form-control:nth-child(2) {border-left:none !important;}
center p {text-align:center;}
.wizard-text-right {text-align:right; }
.wizard-btn {padding:10px 25px;border:none;background-color:#0070AC;color:white;font-size:20px;display:inline-block;cursor:pointer;margin:0 5px; }
    .wizard-btn.disabled {opacity:.5;cursor:not-allowed; }
.wizard-control {text-align:center;margin-top:10px}
.wizard-disabled {opacity:.05;}

.wizard-row.form-group.error label, .wizard-row.form-group.error, .wizard-row.form-group.error .help-block {color:#A94442}
.wizard-row.form-group.error input {border-color:#A94442;border-style:solid}

#FrameSizeInfo {
    position: absolute;
    width: 350px;
    height: 270px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: -webkit-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: linear-gradient(to top, #ffffff 90%, #1f609b 10%);
    border: 3px solid #1F609B;
    padding: 20px;
    
    z-index:20
}

#FrameSizeInfo H1 {
    background-color: #1F609B;
    color: #FFF;
    font-size: 14px;
    margin: -20px -20px 0 -20px;
    padding: 10px;
}

#FrameSizeInfo UL {
    margin-left: 3px;
    padding: 15px;
    list-style-type: disc;
}

#FrameSizeInfo P {
    margin: 0 0 0 2px;
    padding: 20px 0 0 0;
}
#ActivityLevelInfo{
    position: absolute;
    width: 350px;
    height: 210px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: -webkit-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: linear-gradient(to top, #ffffff 90%, #1f609b 10%);
    border: 3px solid #1F609B;
    padding: 20px;
    border-radius: 15px;
       z-index:20
}

#ActivityLevelInfo H1 {
    background-color: #1F609B;
    color: #FFF;
    font-size: 14px;
    margin: -20px -20px 0 -20px;
    padding: 10px;
}

#ActivityLevelInfo UL {
    margin-left: 3px;
    padding: 15px;
    list-style-type: disc;
}

#ActivityLevelInfo P {
    margin: 0 0 0 2px;
    padding: 20px 0 0 0;
}
.modal-closer {float:right;font-size:2em;font-weight:100;color:white;margin-top:-10px;text-decoration:none !important;cursor:pointer;transition:all 250ms }
.modal-closer:hover, .modal-closer:focus {color:#bababa}
.fa.fa-info-circle {color:#0070AC;background:#fff;border-radius:52%;font-size:1.1em;cursor:pointer}

.help-text { font-size:.8em}

