/*---- overlay ---*/
/*+clearfix {*/
#time-select:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#time-select
{
	display: inline-block;
}
#time-select
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
SPAN.Err SPAN
{
	width: 0px !important;
	color: #F14949;
	font-size: 9.1pt;
}
#time-select SPAN.Err
{
	padding-left: 118px;
	font-weight: bold;
}
.white_content > DIV
{
	display: none;
	position: relative;
}
.black_overlay
{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	-moz-opacity: 0.4;
	opacity: .40;
	filter: alpha(opacity=40);
}
.white_content
{
	display: none;
	position: absolute;
	z-index: 1002;
	overflow: auto;
	top: 5%;
	left: 50%;
	margin-left: -328px;
	=margin-left: -657px;
}
.mbox-overlay-header {
    width: auto;
    height: 87px;
    padding-top: 3px;
    background: url('../images/overlay/bg-overlay-top-tall.png') top center no-repeat;
}
.mbox-overlay-content-container {
    width: 657px;
    height: auto;
    background: url('../images/overlay/bg-overlay-middle.png') top center repeat-y;
}
/*----------------------*/
.mbox-overlay-container
{
	margin: auto;
	width: 657px;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
}
IMG
{
	border: 0;
}
IMG#line
{
	margin-right: 8px;
	padding-top: 10px;
	height: 193px;
}
A
{
	color: #FF9600;
	text-decoration: none;
}
.mbox-overlay-header
{
	width: auto;
	height: 87px;
	padding-top: 3px;
}
.mbox-overlay-footer
{
	width: auto;
	height: 39px;
}
.mbox-overlay-content-container
{
	width: 657px;
	height: auto;
}
.mbox-roadmap-header
{
	height: 72px;
	margin-top: 16px;
}
.mbox-close-btn
{
	height: 37px;
	width: 37px;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}
.mbox-pagination
{
	color: #CCC;
	font-size: 13px;
	margin-right: 40px;
	margin-top: 45px;
	float: right;
}
.mbox-pagination
{
	background-color: #64A6AB;
	width: 100px;
	height: 23px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 38px;
	padding-top: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.mbox-pagination SPAN
{
	margin-right: 5px;
}
.mbox-pagination .mbox-active
{
	font-weight: bold;
	color: #FFFFFF;
}
.mbox-content
{
	margin-left: 20px;
	margin-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 13px;
}
.mbox-content DIV
{
	overflow: hidden;
}
.mbox-pad .mbox-content DIV
{
	padding: 8px 0px 8px 20px;
	text-align: left;
}
.mbox-data TD
{
	/*[empty]width:;*/
}
.mbox-content DIV .mbox-title
{
	float: left;
	width: 220px;
}
.mbox-data
{
	float: left;
	margin-left: 50px;
	/*padding-top:-2px;*/
	font-weight: normal;
	color: #666666;
}
.mbox-content H1
{
	color: #1F609B;
	margin-top: 0px;
}
.mbox-roadmap-content .mbox-questions-container DIV
{
	padding-top: 20px;
	/*padding:0 auto;*/
	margin-left: 60px;
}
.mbox-overlay-content-container
{
	padding-top: 20px;
	/*padding:0 auto;*/
	margin-left: 0px;
	border-radius: 15px;
	border: solid;
	border-color: #A19999;
}
.mbox-button-container
{
	height: 30px;
	width: 100%;
	margin-top: 15px;
	padding-bottom: 20px;
	text-align: center;
}
.mbox-button-container A
{
	margin-left: 20px;
}
.mbox-sub-text
{
	font-size: 10px;
}
UL
{
	margin: 0px;
	padding: 0px;
}
.mbox-navlist
{
	position: relative;
}
.mbox-navlist LI
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 15px;
}
.mbox-navlist LI, .mbox-navlist A
{
	height: 72px;
	display: block;
}
/*.mbox-my-tracking{left:0px;width:297px;}
.mbox-my-tracking{background:url('../images/overlay/tracking-heading.png') -1px 72px;}
.mbox-my-tracking a:hover, .mbox-my-tracking .mbox-active{background:url('../images/overlay/tracking-heading.png') -1px 0px;}

.mbox-my-roadmap{left:297px;width:248px;}
.mbox-my-roadmap{background:url('../images/overlay/tracking-heading.png') -299px 0;}
.mbox-my-roadmap a:hover, .mbox-my-roadmap .mbox-active{background:url('../images/overlay/tracking-heading.png') -299px -72px;}*/
.mbox-my-roadmap
{
	background: url('../images/overlay/myPersonalAssessment.png') no-repeat bottom center;
	left: 0;
	width: 618px;
}
.mbox-my-tracking
{
	background: url('../images/overlay/myTracking-Header.png') no-repeat bottom center;
	left: 0;
	width: 618px;
}
.mbox-my-account
{
	background: url('../images/overlay/myAccount.png') no-repeat bottom center;
	left: 0;
	width: 618px;
}
.mbox-btn-container
{
	background: url('../images/overlay/tracking-heading.png') no-repeat -547px 0;
	width: 73px;
	height: 72px;
	margin-top: 15px;
	position: relative;
	float: right;
}
.mbox-tracking-close
{
	height: 37px;
	width: 37px;
	float: right;
	margin-right: 20px;
	margin-top: 18px;
}
#tracking-tool
{
	overflow: hidden;
}
.mbox-tracking-header
{
	width: 618px;
	height: 72px;
	margin-left: 20px;
	=margin-left: 0px;
}
.mbox-tracking-content
{
	background: url('../images/overlay/bg-gradient.jpg') repeat-x top center;
	height: auto;
	overflow: hidden;
	width: 617px;
	padding: 0;
	position: relative;
}
.mbox-official-start-date-container
{
	background: url('../images/overlay/top-bar.png') no-repeat;
	width: 618px;
	height: 42px;
	text-align: center;
	margin-bottom: 30px;
}
.mbox-official-start-date-container H3
{
	float: left;
	padding-left: 140px;
	margin: 14px 0;
	font-size: 12px;
	font-weight: normal;
}
.mbox-official-start-date-container .mbox-start-date
{
	float: right;
	margin: 14px 0;
	margin-right: 160px;
	font-size: 12px;
	font-weight: bold;
}
.mbox-official-start-date-container SPAN
{
	margin-left: 5px;
}
.mbox-weight-lost-row
{
	margin-bottom: 20px;
}
.mbox-current-week-container
{
	width: 200px;
	height: 50px;
	float: left;
	background: url('../images/overlay/calendar-icon.png') no-repeat 0 0px;
	padding-left: 50px;
	padding-top: 0px;
	margin-left: 100px;
	margin-top: 23px;
	margin-right: 40px;
}
.mbox-current-week-container #title
{
	font-size: 16px;
}
.mbox-current-week-container SPAN#current-date
{
	font-size: 11px;
	color: #666666;
}
.mbox-total-weight-lost-container
{
	background: url('../images/overlay/blue-square.png') no-repeat 0 0px;
	width: 149px;
	height: 85px;
	padding-left: 0px;
	padding-top: 10px;
	text-align: center;
}
.mbox-total-weight-lost-container SPAN#lbs-lost
{
	color: #FFFFFF;
	font-size: 32px;
}
.mbox-total-weight-lost-container SPAN#lbs-lost B
{
	color: #FFFFFF;
	font-size: 12px;
}
.mbox-total-weight-lost-container SPAN#total-weight-lost-title
{
	color: #FFFFFF;
	font-size: 11px;
}
.mbox-running-allowances
{
	width: 618px;
	height: 130px;
	background: url('../images/overlay/shelf.png') no-repeat bottom center;
	text-align: center;
}
.mbox-flag .mbox-number-style
{
	line-height: 70px;
	color: #FFFFFF;
	font-size: 32px;
	font-weight: normal;
}
.mbox-flag
{
	float: left;
	width: 120px;
	height: 110px;
	font-size: 12px;
	background: url('../images/overlay/green-flag.png') no-repeat bottom center;
}
.mbox-base-fuel-allowance-container
{
	margin-left: 85px;
}
.mbox-fit-points-goal-container
{
	margin-left: 45px;
}
.mbox-daily-fuel-allowance-container
{
	margin-left: 32px;
}
.mbox-calendar-top
{
	width: 525px;
	height: 49px;
	background: url('../images/overlay/calendar-bar.png') no-repeat center center;
	margin-left: 48px;
	text-align: center;
}
.mbox-calendar-top DIV
{
	float: left;
	padding-top: 8px;
	color: #FFFFFF;
}
.mbox-calendar-top DIV A
{
	color: #FFFFFF;
}
.mbox-calendar-top .mbox-prev-dates, .mbox-calendar-top .mbox-next-dates
{
	margin-left: 10px;
	padding-top: 19px;
}
.mbox-calendar-top .mbox-cal-date
{
	width: 472px;
	height: 42px;
	text-align: center;
}
.mbox-calendar-top .mbox-cal-date-first
{
	margin-left: 25px;
}
.mbox-calendar-top .mbox-cal-date-middle
{
	margin-left: 48px;
}
.mbox-calendar-top .mbox-cal-date-last
{
	margin-left: 62px;
}
.mbox-calendar-body
{
	width: 536px;
	background: url('../images/overlay/middle-layer.png') repeat-y center top;
	margin-left: 42px;
	text-align: center;
	padding-top: 10px;
}
.mbox-calendar-body .mbox-intro-paragraph
{
	font-size: 10px;
	color: #999999;
}
.mbox-calendar-flag-container
{
	clear: both;
	width: 535px;
	margin: 20px 0 0 150px;
}
.mbox-input-values
{
	width: 536px;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 12px;
}
.mbox-input-values DIV
{
	float: left;
	margin-left: 16px;
}
.mbox-weekly-life-scores
{
	text-align: center;
	margin-top: 20px;
}
.mbox-weekly-life-scores DIV
{
	float: left;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
	padding-left: 10px;
	margin-left: 45px;
}
.mbox-enter-current-weight-container
{
	margin-top: 35px;
	margin-bottom: 35px;
}
.mbox-weekly-life-scores
{
	margin-top: 0px;
}
.mbox-calendar-body-bottom-corner
{
	background: url('../images/overlay/bottom-layer.png') no-repeat center center;
	width: 536px;
	height: 12px;
	margin-left: 42px;
}
.mbox-submit-btn
{
	margin-bottom: 20px;
}
/*------------------- my account --------------------*/
.mbox-tracking-header.mbox-my-account
{
	background-position: center bottom;
}
.mbox-ovr-content-myaccount
{
	font-weight: normal;
	padding-top: 30px;
}
.mbox-ovr-content-myaccount A
{
	background: transparent url("../images/overlay/arrow-blue.png") no-repeat right center;
	text-decoration: none;
	padding-right: 13px;
	color: #3BA5CA;
	font-weight: bold;
}
.mbox-ovr-content-myaccount A.mbox-img
{
	background: none;
}
.mbox-ovr-content-myaccount A:hover
{
	color: #E97A07;
}
.mbox-ovr-content-myaccount .mbox-ileft
{
	text-align: center;
	min-height: 380px;
	float: left;
	width: 240px;
}
.mbox-ovr-content-myaccount P
{
	margin: 0px;
}
.mbox-ovr-content-myaccount .mbox-user-thumb
{
	background: transparent url("../images/overlay/user-thumb-shelf.png") no-repeat center bottom;
	padding-bottom: 23px;
	margin-top: 10px;
}
.mbox-ovr-content-myaccount .mbox-user-thumb-link
{
	color: #3BA5CA;
}
.mbox-ovr-content-myaccount .mbox-iright
{
	float: right;
	width: 370px;
}
.mbox-ovr-content-myaccount .mbox-iright DIV
{
	margin: 0px;
	padding: 0px;
}
.mbox-ovr-content-myaccount .mbox-iright P
{
	text-align: left;
}
.mbox-row
{
	clear: both;
	border-bottom: 1px solid #CCC;
	width: 300px;
	display: table;
}
.mbox-row > .mbox-info
{
	margin: 10px 0px 5px;
	padding: 0px;
	width: 230px;
	float: left;
}
.mbox-row > .mbox-info > SPAN
{
	display: block;
	font-weight: bold;
}
.mbox-row > .mbox-edit
{
	color: #3BA5CA;
	display: table-cell;
	vertical-align: bottom;
	padding: 0px 10px 5px 0px;
}
.mbox-no-bdr
{
	border: none;
}
.mbox-pt20
{
	clear: right;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}
.mbox-ovr-content-myaccount FORM INPUT[type='text']
{
	width: 200px;
	color: #666;
}
/*------------------- my roadmap --------------------*/
.mbox-tracking-header.mbox-my-roadmap
{
	background-position: center center;
}
.mbox-ovr-content-myroadmap
{
	width: 510px;
}
.mbox-ovr-content-myroadmap, .mbox-ovr-content-myroadmap P
{
	text-align: center;
	margin: 0 auto;
}
.mbox-ovr-content-myroadmap .mbox-title
{
	float: none !important;
	width: 100% !important;
	margin: inherit !important;
	font-size: 18px;
	padding: 15px 0px 40px;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb
{
	background: transparent url("../images/overlay/bck-myroadmap-shelf.png") no-repeat center bottom;
	padding-bottom: 26px;
	margin-top: 10px;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb IMG
{
}
.mbox-text-center
{
	text-align: center !important;
}
/*------------------- forgot password  --------------------*/
.mbox-iblank-header
{
	background: url('../images/overlay/mbox-header.png') no-repeat top center;
	padding-top: 10px;
}
.mbox-iblank-header .mbox-title
{
	display: inline-block;
	padding: 8px 0px 0px 57px;
	=padding: 8px 0px 0px;
	font-size: 26px;
	color: #FFF;
}
.mbox-text-msg
{
	padding: 30px;
}
.mbox-text-msg P
{
	margin: 10px auto;
	color: #999;
	font-size: 14px;
}
.mbox-text-msg .mbox-text
{
	width: 360px;
}
.mbox-text-msg INPUT[type='text']
{
	width: 400px;
	padding: 5px;
	color: #666;
}
.mbox-p-button
{
	display: inline-block;
	margin-bottom: 0px !important;
	padding: 10px;
	=padding-left: 210px;
}
A.mbox-button.blue
{
	background: transparent url("../images/overlay/Blue-btn.jpg") no-repeat right top;
}
A.mbox-button.blue SPAN
{
	background: transparent url("../images/overlay/Blue-btn.jpg") no-repeat left top;
}
.mbox-iblank-header .mbox-close-btn
{
	=margin-top: -40px;
}
.single-block-form
{
	text-align: center !important;
}
.single-block-form P
{
	clear: both;
}
.single-block-form LABEL
{
	color: #999;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
	width: 150px;
}
.single-block-form INPUT[type='text'], .single-block-form INPUT[type='password'], .single-block-form SELECT
{
	color: #666 !important;
	width: 200px;
	padding: 5px;
	margin-right: 100px;
}
.single-block-form SELECT
{
	width: 210px;
	margin-right: 103px;
}
.single-block-form INPUT[type='submit'], .single-block-form INPUT[type='button']
{
	color: #000 !important;
	width: 213px;
	margin-left: 60px;
}
.single-block-form .mbox-button
{
	margin: 18px 5px 0 55px;
}
.tex-red
{
	color: #C00 !important;
}
/*--- myTracking ---*/
.mbox-ovr-content-mytracking
{
	background: transparent url("../images/overlay/bck-mytracking-main.jpg") repeat-x left top;
	padding: 15px 22px;
}
.mtrk-top
{
	text-align: left;
	margin-bottom: 10px;
}
.mtrk-top .mtrk-week
{
	background: transparent url("../images/overlay/icon-calendar.jpg") no-repeat left 5px;
	padding-left: 65px;
	float: left;
	width: 130px;
	font-size: 11px;
	color: #3F3F3F;
}
.mtrk-title
{
	font-family: AvenirLTStd45BookRegular;
	font-weight: normal;
	font-size: 34px;
}
/*[clearfix]*/#time-select
{
	float: left;
	width: 330px;
    margin-left:50px;
    margin-top:10px;
    margin-bottom:10px;
}
#ctl00_ctl00_ContentBodyPlaceHolder_BodyPlaceHolder_clnStartDate
{
	margin-left: 36px;
}
.mtrk-top .mtrk-sdate
{
	background: transparent url("../images/overlay/stats.jpg") no-repeat left top;
	float: right;
	width: 321px;
	height: 76px;
	color: #FFF;
	font-size: 12px;
}
.mtrk-sdate TH, .mtrk-sdate TD
{
	width: 85px;
	padding-left: 15px;
	padding-right: 0;
	text-align: left;
}
.mtrk-sdate TH
{
	color: #3F3F3F;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 4px;
}
.mtrk-sdate TD
{
	color: #2D449C;
	font-weight: bold;
	font-size: 15px;
}
.mtrk-sdate A
{
	color: #3A7CB6;
	text-decoration: underline;
	font-size: 11px;
	vertical-align: top;
}
.sdate-content
{
	padding: 20px 0px 0px 15px;
	line-height: 20px;
	display: block;
}
.sdate-content STRONG
{
	font-size: 16px;
	font-weight: bold;
}
.mtrk-body DIV
{
	margin: 0px;
	padding: 0px;
}
.mtrk-body .mtrk-body-t
{
	background: transparent url("../images/overlay/bck-mytracking-main-re-t.png") no-repeat left top;
	height: 44px;
	padding: 10px 19px 0;
}
.mtrk-body .mtrk-body-t P
{
	display: block;
	float: left;
	width: 10px;
	padding: 0;
	margin: 0;
}
.mtrk-body-t A.mtrk-arrow
{
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 11px;
	margin-top: 14px;
}
.mtrk-body-t A.prev
{
	background: transparent url("../images/overlay/bck-mytracking-arrow-left.jpg") no-repeat left top;
}
.mtrk-body-t A.next
{
	background: transparent url("../images/overlay/bck-mytracking-arrow-right.jpg") no-repeat left top;
}
.mtrk-body-t P.week-num
{
	width: 86px;
	color: #FFF;
	padding: 0px 42px;
	text-align: center;
}
.mtrk-body-t P.rbdr
{
	background: transparent url("../images/overlay/bck-mytracking-main-re-t-pipe.jpg") no-repeat right center;
}
.mtrk-body-t P.week-num A
{
	color: #FFF;
	display: block;
	font-size: 14px;
	padding-top: 5px;
	width: 86px;
	height: 36px;
}
.mtrk-body-t P.week-num A:hover, .mtrk-body-t P.week-num A.active
{
	background: transparent url("../images/overlay/bck-mytracking-week-act.jpg") no-repeat right center;
	color: #4A93C3;
}
.mtrk-body-t P.week-num A.active
{
	cursor: default;
}
.mtrk-body-t P.week-num A .font-small
{
	font-size: 11px;
}
.mtrk-body .mtrk-body-m
{
	background: transparent url("../images/overlay/bck-mytracking-main-re-m.gif") repeat-y left top;
	position: relative;
	text-align: left;
	padding: 0 6px;
}
.mtrk-body .mtrk-body-m .m-subnav-list
{
	background-color: #CDCDCD;
	width: 560px;
	padding: 15px 0 0;
	height: 34px;
}
.m-subnav-list LI
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	background-color: #CDCDCD;
}
.m-subnav-list LI, .m-subnav-list A
{
	height: 34px;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 31px;
}
.m-subnav.results-journal
{
	left: 287px;
	width: 265px;
	background: url('../images/overlay/tracking_tabs.png') -270px 0;
	text-align: center;
}
.m-subnav.results-journal A:hover, .m-subnav.results-journal .active
{
	background: url('../images/overlay/tracking_tabs.png') 0 0;
	color: #333333;
}
.m-subnav.fuel-tracking
{
	left: 15px;
	width: 265px;
	background: url('../images/overlay/tracking_tabs.png') 265px 0;
	text-align: center;
}
.m-subnav.fuel-tracking A:hover, .m-subnav.fuel-tracking .active
{
	background: url('../images/overlay/tracking_tabs.png') 0 0;
	color: #333333;
}
.mtrk-body .mtrk-body-m .m-content LABEL
{
	/*display: block;*/
	padding: 15px 0px 5px;
}
.mtrk-body .mtrk-body-m .m-content INPUT[type='text']
{
	outline: none;
	width: 235px;
	height: 20px;
	color: #666;
	border: 1px solid #666;
	padding: 0px 2px;
}
.m-content.results-journal .user_results_journal
{
	background: transparent url("../images/overlay/rj_user_info_bg.jpg") no-repeat left top;
	width: 443px;
	height: 172px;
	padding: 40px 23px 38px;
	margin-bottom: 25px;
}
.m-content.results-journal .user_results_journal .body_info
{
	border-bottom: 1px dotted #BFBDBC;
}
.m-content.results-journal .user_results_journal .body_info .user_info
{
	width: 107px;
	float: left;
	text-align: center;
	padding-bottom: 16px;
}
.m-content.results-journal .user_results_journal .body_info .user_info SPAN.label
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #939693;
	padding: 0;
	display: block;
}
.m-content.results-journal .user_results_journal .body_info .user_info INPUT
{
	width: 74px;
	height: 23px;
	border: 1px solid #000100;
	text-align: center;
	margin-bottom: 10px;
}
.m-content.results-journal .user_results_journal .body_info .user_info SPAN
{
	font-size: 32px;
	color: #2963A0;
}
.m-content.results-journal .user_results_journal .body_info .user_info SPAN.error
{
	font-size: 11px;
}
.m-content.results-journal .user_results_journal .body_info .current_weight
{
	width: 100px;
	margin: 0 75px;
}
.m-content.results-journal .user_results_journal .body_info .current_weight SPAN.label
{
	font-size: 14px;
}
.m-content.results-journal .user_results_journal .body_info .waist_measurement
{
	width: 127px;
	margin-right: 33px;
}
.mtrk-body DIV.my_fit_pts_goal
{
	padding-bottom: 10px;
}
.mtrk-body .mtrk-body-m .m-content DIV.my_fit_pts_goal INPUT[type="text"]
{
	width: 70px;
}
.m-content.results-journal .user_results_journal .feelings_info
{
	padding-top: 20px;
}
.m-content.results-journal .user_results_journal .feelings_info .head
{
	font-size: 14px;
	color: #257BB5;
	font-family: Helvetica, Arial, sans-serif;
}
.m-content.results-journal .user_results_journal .feelings_info .legend
{
	color: #767676;
	font-size: 10px;
}
.m-content.results-journal .user_results_journal .feelings_info .user_info
{
	float: left;
	padding-right: 15px;
}
.m-content.results-journal .user_results_journal .feelings_info .user_info SPAN
{
	font-size: 24px;
	color: #2963A0;
	text-align: center;
	width: 70px;
	display: block;
}
.m-content.results-journal .user_results_journal .feelings_info .user_info SPAN.label
{
	font-size: 11px;
	color: #000000;
	padding: 15px 0 5px;
}
.m-content.results-journal .user_results_journal .feelings_info .user_info SELECT
{
	width: 70px;
	border: 1px solid #363636;
}
.m-content.results-journal .user_results_journal .feelings_info INPUT[type=button]
{
	width: 76px;
	height: 34px;
	border: none;
	font-size: 0;
	margin: 24px 0 0 14px;
	cursor: pointer;
}
.m-content.results-journal .user_results_journal .feelings_info .btn_save
{
	background: transparent url("../images/overlay/btn_save_small.png") no-repeat left top;
}
.m-content.results-journal .user_results_journal .feelings_info .btn_edit
{
	background: transparent url("../images/overlay/btn_edit_small.png") no-repeat left top;
}
.mtrk-body .mtrk-body-b
{
	background: transparent url("../images/overlay/bck-mytracking-main-re-b.png") no-repeat left top;
	height: 5px;
}
.mtrk-body .mtrk-body-m .m-content.results-journal
{
	padding: 33px 40px 13px;
}
.m-content.results-journal TABLE.rj_user_info_data TD.label
{
	font-size: 14px;
	color: #939693;
	font-weight: normal;
}
.m-content.results-journal TABLE.weight_info
{
	float: left;
	margin-left: 10px;
}
.m-content.results-journal TABLE.fit_info
{
	width: 265px;
	border-left: 1px dotted #D3D3D3;
}
.m-content.results-journal TABLE.rj_user_info_data TD
{
	border-bottom: 1px dotted #D3D3D3;
	vertical-align: middle;
	padding: 9px 0;
}
.m-content.results-journal TABLE.rj_user_info_data TR.last_row TD
{
	border-bottom: none;
}
.m-content.results-journal TABLE.weight_info TD.label
{
	width: 145px;
}
.m-content.results-journal TABLE.fit_info TD.label
{
	width: 165px;
	padding-left: 23px;
}
.m-content.results-journal TABLE.fit_info TD.user_data
{
	padding: 0 10px;
	text-align: right;
	font-weight: bold;
}
.m-content.results-journal TABLE.weight_info TD.user_data
{
	width: 61px;
	font-weight: bold;
}
.m-content.results-journal TABLE.fit_info TD.user_data.avg_daily_fuel_allow_week, .m-content.results-journal TABLE.fit_info TD.user_data.avg_actual_fuel_cons_week
{
	padding-top: 20px;
}
.mbox-pt20
{
	clear: right;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: left;
}
.mbox-ovr-content-myroadmap
{
	width: 510px;
}
.mbox-ovr-content-myroadmap, .mbox-ovr-content-myroadmap P
{
	margin: 0 auto;
	text-align: center;
}
.mbox-ovr-content-myroadmap .mbox-title
{
	float: none !important;
	font-size: 18px;
	margin: inherit !important;
	padding: 15px 0 40px;
	width: 100% !important;
	font-weight: bold;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb
{
	background: transparent url("../images/overlay/bck-myroadmap-shelf.png") no-repeat center bottom;
	margin-top: 10px;
	padding-bottom: 26px;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb IMG
{
}
.m-content.fuel-tracking
{
	padding: 15px 14px 17px;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data
{
	width: 532px;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data THEAD TR
{
	background: #3585AB url("../images/overlay/ft_log_table_heading.gif") no-repeat left top;
	height: 40px;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data THEAD TH
{
	border-bottom: 1px solid #5D9DBC;
	color: #FFFFFF;
	text-align: center;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data .label
{
	font-size: 11px;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR.odd
{
	background-color: #F6F6F6;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR TD
{
	border-bottom: 1px solid #D5D5D5;
	height: 34px;
	text-align: center;
	color: #353535;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR TD INPUT[type="text"]
{
	width: 50px;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR.totals
{
	background-color: #595959;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR.avg_week
{
	background-color: #333333;
}
.m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR.totals TD, .m-content.fuel-tracking TABLE.fuel_tracking_log_data TBODY TR.avg_week TD
{
	color: #FFFFFF;
	border-bottom: none;
}
/*.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.summary_edit_save td{

border-bottom: none;
color: #3585ab;
font-size: 14px;
padding: 21px 0 16px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.summary_edit_save td.summary{
text-align: left;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody span.base_fuel_allow {
font-weight: bold;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody a.btn_save {
width: 99px;
height: 36px;
font-size: 0;
border: none;
cursor: pointer;
display: block;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody .btn_edit {
background: url("../images/overlay/btn_edit.png") no-repeat scroll left top transparent;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody .btn_save {
background: url("../images/overlay/btn_save.png") no-repeat scroll left top transparent;
}*/
.m-content.fuel-tracking .summary_edit_save
{
	color: #3585AB;
	font-size: 14px;
	padding: 21px 0 16px;
}
.m-content.fuel-tracking .summary_edit_save .summary
{
	text-align: left;
	float: left;
	padding-top: 10px;
}
.m-content.fuel-tracking .summary_edit_save SPAN.base_fuel_allow
{
	font-weight: bold;
}
.m-content.fuel-tracking .summary_edit_save A.btn_save
{
	width: 99px;
	height: 36px;
	font-size: 0;
	border: none;
	cursor: pointer;
	display: block;
}
.m-content.fuel-tracking .summary_edit_save .btn_edit
{
	background: transparent url("../images/overlay/btn_edit.png") no-repeat left top;
}
.m-content.fuel-tracking .summary_edit_save .btn_save
{
	background: transparent url("../images/overlay/btn_save.png") no-repeat left top;
	float: right;
}
