/*---- overlay ---*/
.white_content > div{
	display: none;
	position:relative;
}

.black_overlay{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
}
.white_content {
	display: none;
	position: absolute;
	z-index:1002;
	overflow: auto;
	top: 5%;
	left: 50%;
	margin-left:-328px;
	*margin-left:-657px;
}
/*----------------------*/

	.mbox-overlay-container{
		margin:auto;
		width:657px;
		height:auto;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	img{
		border:0;	
	}
	
	a {
		color: #d3741e;
		/*color:#ff9600; */
		text-decoration:none;
	}

	
	.mbox-overlay-header{
		width:auto;
		height:	87px;
		padding-top:3px;
		background:url('../images/overlay/bg-overlay-top-tall.png') top center no-repeat;
	}

	.mbox-overlay-footer{
		width:auto;
		height:39px;
		background:url('../images/overlay/bg-overlay-bottom.png') bottom center no-repeat;
	}
	
	.mbox-overlay-content-container{
		width:657px;
		height:auto;
		background:url('../images/overlay/bg-overlay-middle.png') top center repeat-y;
	}
	
	
	.mbox-roadmap-header{
		height:72px;
		margin-top:16px;
		background:url('../images/overlay/road-map-heading.png') top center no-repeat;
	}
	
	.mbox-close-btn{
		height:37px;
		width:37px;
		float:right;
		margin-right:30px;
		margin-top:10px;
	}
	


	.mbox-pagination{
		color:#CCC;
		font-size:13px;
		margin-right:40px;
		margin-top:52px;
		float:right;
	}
	
	.mbox-pagination span{
		margin-right:5px;
	}
	
	.mbox-pagination .mbox-active{
		font-weight:bold;
		color:#FFFFFF;
	}
	
	.mbox-content{
		margin-left:20px;
		margin-right:20px;
		font-family:Arial, Helvetica, sans-serif;
		color:#000000;
		font-size:13px;
	}

	.mbox-content div{
		overflow:hidden;
	}
	.mbox-pad .mbox-content div{
		padding:8px 0px 8px 20px;
		text-align:left;
	}
	
	.mbox-content div .mbox-title{
		float:left;
		width:220px;
		font-size: 16px;
		line-height: 22px;
	}
	
	.mbox-content div .mbox-data{
		float:left;
		margin-left:50px;
		/*padding-top:-2px;*/
		font-weight:normal;
		color:#666666;
	}
	
	.mbox-content h1{
		color:#1f609b;	
		margin-top:0px;
	}
	
	
	.mbox-roadmap-content .mbox-questions-container div{
		padding-top:20px;
		/*padding:0 auto;*/
		margin-left:60px;
	}
	
	
	.mbox-button-container{
		height:30px;
		width:100%;
		margin-top:15px;
		padding-bottom:20px;
		text-align:center;
	}
	
	
	.mbox-button-container a{
		margin-left:20px;
	}
	
	.mbox-sub-text{
		font-size:10px;	
	}
	
	
	
	
	ul{
	margin:0px;
	padding:0px;	
}

.mbox-navlist{position:relative;}
.mbox-navlist li{margin:0;padding:0;list-style:none;position:absolute;top:15px;}
.mbox-navlist li, .mbox-navlist a{height:72px;display:block;}

/*.mbox-my-tracking{left:0px;width:297px;}
.mbox-my-tracking{background:url('../images/overlay/tracking-heading.png') -1px 72px;}
.mbox-my-tracking a:hover, .mbox-my-tracking .mbox-active{background:url('../images/overlay/tracking-heading.png') -1px 0px;}

.mbox-my-roadmap{left:297px;width:248px;}
.mbox-my-roadmap{background:url('../images/overlay/tracking-heading.png') -299px 0;}
.mbox-my-roadmap a:hover, .mbox-my-roadmap .mbox-active{background:url('../images/overlay/tracking-heading.png') -299px -72px;} */

.mbox-my-roadmap{background:url('../images/overlay/myPersonalAssessment.png') bottom center no-repeat; left: 0; width: 618px;}
.mbox-my-tracking{background:url('../images/overlay/myTracking-Header.png') bottom center no-repeat; left: 0; width: 618px;}
.mbox-my-account{background:url('../images/overlay/myAccount.png') bottom center no-repeat; left: 0; width: 618px;}

.mbox-btn-container{background:url('../images/overlay/tracking-heading.png') -547px 0 no-repeat; width:73px; height:72px; margin-top:15px; position:relative; float:right;}

.mbox-tracking-close{
	height:37px;
	width:37px;
	float:right;
	margin-right:20px;
	margin-top:18px;
}

#tracking-tool{
	overflow:hidden;
}

.mbox-tracking-header {
	width:618px;
	height:72px;
	margin-left:20px;
	*margin-left:0px;
}
	
.mbox-tracking-content{
	background:url('../images/overlay/bg-gradient.jpg')top center repeat-x;
	height:auto;
	overflow:hidden;
	width:617px;
	padding:0;
	position:relative;
}	

.mbox-official-start-date-container{
	background:url('../images/overlay/top-bar.png') no-repeat; 
	width:618px; 
	height:42px;
	text-align:center;
	margin-bottom:30px;
}

.mbox-official-start-date-container h3{
	float:left;
	padding-left:140px;
	margin:14px 0;
	font-size:12px;
	font-weight:normal;
}

.mbox-official-start-date-container .mbox-start-date{
	float:right;
	margin:14px 0;
	margin-right:160px;
	font-size:12px;
	font-weight:bold;
}

.mbox-official-start-date-container span{
	margin-left:5px;
}

.mbox-weight-lost-row{
	margin-bottom:20px;	
}

.mbox-current-week-container{
	width:200px;
	height:50px;
	float:left;	
	background:url('../images/overlay/calendar-icon.png') 0 0px no-repeat;
	padding-left:50px;
	padding-top:0px;
	margin-left:100px;
	margin-top:23px;
	margin-right:40px;
}

.mbox-current-week-container #title{
	font-size:16px;
}

.mbox-current-week-container span#current-date{
	font-size:11px;
	color:#666666;
}

.mbox-total-weight-lost-container{
	background:url('../images/overlay/blue-square.png') 0 0px no-repeat;
	width:149px;
	height:85px;
	padding-left:0px;
	padding-top:10px;
	text-align:center;
}

.mbox-total-weight-lost-container span#lbs-lost{
	color:#ffffff;
	font-size:32px;
}

.mbox-total-weight-lost-container span#lbs-lost b{
	color:#ffffff;
	font-size:12px;
}

.mbox-total-weight-lost-container span#total-weight-lost-title{
	color:#ffffff;
	font-size:11px;
}

.mbox-running-allowances{
	width:618px;
	height:130px;
	background:url('../images/overlay/shelf.png') bottom center no-repeat;
	text-align:center;
	
}

.mbox-flag .mbox-number-style{
	line-height:70px;
	color:#FFFFFF;
	font-size:32px;
	font-weight:normal;
}

.mbox-flag{
	float:left;
	width:120px;
	height:110px;
	font-size:12px;
	background:url('../images/overlay/green-flag.png') bottom center no-repeat;
}

.mbox-base-fuel-allowance-container{	
	margin-left:85px;
}

.mbox-fit-points-goal-container{	
	margin-left:45px;
}

.mbox-daily-fuel-allowance-container{
	margin-left:32px;	
}

.mbox-calendar-top{
	width:525px;
	height:49px;
	background:url('../images/overlay/calendar-bar.png') center center no-repeat;
	margin-left:48px;
	text-align:center;
}

.mbox-calendar-top div{
	float:left;
	padding-top:8px;
	color:#ffffff;
}

.mbox-calendar-top div a{
	color:#ffffff;
}

.mbox-calendar-top .mbox-prev-dates, .mbox-calendar-top .mbox-next-dates {
	margin-left:10px;
	padding-top:19px;
}

.mbox-calendar-top .mbox-cal-date{
	width:472px;
	height:42px;
	text-align:center;	
}

.mbox-calendar-top .mbox-cal-date-first {
	margin-left:25px;	
}

.mbox-calendar-top .mbox-cal-date-middle{
	margin-left:48px;
}

.mbox-calendar-top .mbox-cal-date-last{
	margin-left:62px; 
}
 
.mbox-calendar-body{
	width:536px;
	background:url('../images/overlay/middle-layer.png') center top repeat-y;
	margin-left:42px;
	text-align:center;
	padding-top:10px;
}

.mbox-calendar-body .mbox-intro-paragraph{
	font-size:10px;
	color:#999999;	
}

.mbox-calendar-flag-container{
	clear:both;
    width: 535px;
    margin: 20px 0 0 150px;
}

.mbox-input-values{
	width:536px;
	margin-left:80px;
	margin-top:20px;
	margin-bottom:15px;
	font-size:12px;
}

.mbox-input-values div{
	float:left;
	margin-left:16px;
}

.mbox-weekly-life-scores{
	
	text-align:center;
    margin-top:20px;
}

.mbox-weekly-life-scores div{

	float:left;
	font-size:10px;
	font-weight:normal;
	color:#999999;
	padding-left:10px;
	margin-left:45px;
}

.mbox-enter-current-weight-container{
	margin-top:35px;
	margin-bottom:35px;
}

.mbox-weekly-life-scores{
	margin-top:0px;
}

.mbox-calendar-body-bottom-corner{
	background:url('../images/overlay/bottom-layer.png') center center no-repeat;
	width:536px; height:12px;
	margin-left:42px;
}

.mbox-submit-btn{
	margin-bottom:20px;	
}

	
/*------------------- my account --------------------*/
.mbox-tracking-header.mbox-my-account {
	background-position: center bottom;
}
.mbox-ovr-content-myaccount{
	font-weight:normal;
	padding-top:30px;
}
.mbox-ovr-content-myaccount a{
	background: url("../images/overlay/arrow-blue.png") no-repeat right center transparent;
	text-decoration:none;
	padding-right:13px;
	color:#3ba5ca;
	font-weight:bold;
}
.mbox-ovr-content-myaccount a.mbox-img{
	background:none;
}
.mbox-ovr-content-myaccount a:hover{
	color:#E97A07;
}
.mbox-ovr-content-myaccount .mbox-ileft{
	text-align:center;
	min-height:380px;
	float:left;
	width:240px;
}
.mbox-ovr-content-myaccount p{
	margin:0px;
}
.mbox-ovr-content-myaccount .mbox-user-thumb{
	background: url("../images/overlay/user-thumb-shelf.png") no-repeat center bottom transparent;
	padding-bottom:23px;
	margin-top:10px;
}
.mbox-ovr-content-myaccount .mbox-user-thumb-link{
	color:#3ba5ca;
}
.mbox-ovr-content-myaccount .mbox-iright{
	float:right;
	width:370px;
}
.mbox-ovr-content-myaccount .mbox-iright div{
	margin:0px;
	padding:0px;
}
.mbox-ovr-content-myaccount .mbox-iright p{
	text-align:left;
}
.mbox-row{
	clear:both;
	border-bottom:1px solid #ccc;
	width:300px;
	display:table;
}
.mbox-row > .mbox-info{
	margin:10px 0px 5px 0px;
	padding:0px;
	width:230px;
	float:left;
}
.mbox-row > .mbox-info > span{
	display:block;
	font-weight:bold;
}
.mbox-row > .mbox-edit{
	color:#3ba5ca;
	display:table-cell;
	vertical-align:bottom;
	padding:0px 10px 5px 0px;
}
.mbox-no-bdr{
	border:none;
}
.mbox-pt20{
	clear:right;
	padding-top:20px;
	padding-bottom:20px;
	text-align:left;
}
.mbox-ovr-content-myaccount form input[type='text']{
	width:200px;
	color:#666;
}

/*------------------- my roadmap --------------------*/
.mbox-tracking-header.mbox-my-roadmap {
	background-position: center center;
}
.mbox-ovr-content-myroadmap{
	width:510px;
}
.mbox-ovr-content-myroadmap,
.mbox-ovr-content-myroadmap p{
	text-align:center;
	margin:0 auto;
}
.mbox-ovr-content-myroadmap .mbox-title{
	float:none !important;
	width:100% !important;
	margin:inherit !important;
	font-size:18px;
	padding:15px 0px 40px 0px;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb{
	background: url("../images/overlay/bck-myroadmap-shelf.png") no-repeat center bottom transparent;
	padding-bottom:26px;
	margin-top:10px;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb img{
}

.mbox-text-center{
	text-align:center !important;
}

/*------------------- forgot password  --------------------*/
.mbox-iblank-header{
	background:url('../images/overlay/mbox-header.png') top center no-repeat;
	padding-top:10px;
}
.mbox-iblank-header .mbox-title{
	display:inline-block;
	padding:8px 0px 0px 57px;
	*padding:8px 0px 0px 0px;	
	font-size:26px;
	color:#fff;
}
.mbox-text-msg{
	padding:30px;
}
.mbox-text-msg p{
	margin:10px auto;
	color:#999;
	font-size:14px;
}
.mbox-text-msg .mbox-text{
	width:360px;
}
.mbox-text-msg input[type='text']{
	width:400px;
	padding:5px;
	color:#666;
}
.mbox-p-button{
	display:inline-block;
	margin-bottom:0px !important;
	padding:10px;
	*padding-left:210px;
}
.mbox-button-container
{
	height: 30px;
	width: 100%;
	margin-top: 15px;
	padding-bottom: 20px;
	text-align: center;
}
/*
.mbox-button {
    color: #FFF;
    background-color: #48899C;
    display: block;
    float: right;
    width: 90px;
    font-weight: bold;
    height: 30px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    font-size: 18px !important;
}
*/
.mbox-button-container A
{
	margin-left: 20px;
}


a.mbox-button.blue {background: url("../images/overlay/Blue-btn.jpg") no-repeat scroll right top transparent;}
a.mbox-button.blue span {background: url("../images/overlay/Blue-btn.jpg") no-repeat scroll left top transparent;} 
.mbox-iblank-header .mbox-close-btn{
	*margin-top:-40px;
}
.single-block-form{
	text-align:center !important;
}
.single-block-form p{
	clear:both;
}
.single-block-form label{
	color:#999;
	font-size:14px;
	display:inline-block;
	text-align:right;
	padding-right:10px;	
	width:150px;
}
.single-block-form input[type='text'],
.single-block-form input[type='password'],
.single-block-form select{
	color:#666 !important;
	width:200px;
	padding:5px;
	margin-right:100px;
}
.single-block-form select{
	width:210px;
	margin-right:103px;
}
.single-block-form input[type='submit'],
.single-block-form input[type='button']{
	color:#000 !important;
	width:213px;
	margin-left:60px;
}
.single-block-form  .mbox-button{
	margin:18px 5px 0 55px;
}
.tex-red{
	color:#c00 !important;
}

/*--- myTracking ---*/
.mbox-ovr-content-mytracking{
    background: url("../images/overlay/bck-mytracking-main.jpg") repeat-x scroll left top transparent;
	padding:15px 22px;
}
.mtrk-top{
	text-align:left;
	margin-bottom: 10px;
}
.mtrk-top .mtrk-week{
    background: url("../images/overlay/icon-calendar.jpg") no-repeat scroll left 5px transparent;
    padding-left: 65px;
	float:left;
	width:130px;
	font-size:11px;
	color:#3f3f3f;
}
.mtrk-title{
	font-family: 'AvenirLTStd45BookRegular';
	font-weight: normal;
	font-size:34px;
}
.mtrk-top .mtrk-sdate
{
    background: url("../images/overlay/stats.jpg") no-repeat scroll left top transparent;
	float:right;
	width:321px;
	height:76px;
	color:#fff;
	font-size:12px;
}
.mtrk-sdate th, .mtrk-sdate td {width: 85px; padding-left: 15px; padding-right: 0; text-align: left;}
.mtrk-sdate th {color: #3f3f3f; font-weight: bold; padding-top: 20px; padding-bottom: 4px;}
.mtrk-sdate td {color: #2D449C; font-weight: bold; font-size: 15px;}
.mtrk-sdate a 
{
    color: #3A7CB6;
	text-decoration: underline;
	font-size: 11px;
	vertical-align:top;
}
.sdate-content{
	padding:20px 0px 0px 15px;
	line-height:20px;
	display:block;
}
.sdate-content strong{
	font-size:16px;
	font-weight:bold;
}
.mtrk-body div{
	margin:0px;
	padding:0px;
}
.mtrk-body .mtrk-body-t{
    background: url("../images/overlay/bck-mytracking-main-re-t.png") no-repeat scroll left top transparent;
	height:44px;
	padding:10px 19px 0;

}
.mtrk-body .mtrk-body-t p{
	display:block;
	float:left;
	width:10px;
	padding:0;
	margin:0;
}
.mtrk-body-t a.mtrk-arrow{
	text-indent:-9999px;
	display:block;
	width:10px;
	height:11px;
	margin-top:14px;
}
.mtrk-body-t a.prev{
    background: url("../images/overlay/bck-mytracking-arrow-left.jpg") no-repeat scroll left top transparent;
}
.mtrk-body-t a.next{
    background: url("../images/overlay/bck-mytracking-arrow-right.jpg") no-repeat scroll left top transparent;
}
.mtrk-body-t p.week-num{
	width:86px;
	color:#fff;
	padding:0px 42px;
	text-align: center;
}
.mtrk-body-t p.rbdr{
    background: url("../images/overlay/bck-mytracking-main-re-t-pipe.jpg") no-repeat scroll right center transparent;
}
.mtrk-body-t p.week-num a{
	color:#fff;
	display:block;
	font-size:14px;
	padding-top:5px;
	width:86px;
	height:36px;
}
.mtrk-body-t p.week-num a:hover,
.mtrk-body-t p.week-num a.active{
    background: url("../images/overlay/bck-mytracking-week-act.jpg") no-repeat scroll right center transparent;
	color:#4a93c3;
}
.mtrk-body-t p.week-num a.active{
	cursor:default;
}

.mtrk-body-t p.week-num a .font-small{
	font-size:11px;
}

.mtrk-body .mtrk-body-m{
    background: url("../images/overlay/bck-mytracking-main-re-m.gif") repeat-y scroll left top transparent;
	position:relative;
	text-align:left;
	padding: 0 6px;
}
.mtrk-body .mtrk-body-m .m-subnav-list {
	background-color: #cdcdcd;
	width: 560px;
	padding: 15px 0 0 0;
	height: 34px;
}


.m-subnav-list li{margin:0;padding:0;list-style:none;position:absolute; background-color: #CDCDCD;}
.m-subnav-list li, .m-subnav-list a{ height:34px; display:block; color: #ffffff; font-weight: bold; line-height: 31px;}

.m-subnav.results-journal{left:287px;width:265px; background:url('../images/overlay/tracking_tabs.png') -270px 0; text-align: center;}
.m-subnav.results-journal a:hover, .m-subnav.results-journal .active{background:url('../images/overlay/tracking_tabs.png') 0 0; color: #333333;}

.m-subnav.fuel-tracking{ left:15px; width:265px; background:url('../images/overlay/tracking_tabs.png') 265px 0; text-align: center;}
.m-subnav.fuel-tracking a:hover, .m-subnav.fuel-tracking .active{background:url('../images/overlay/tracking_tabs.png') 0 0; color: #333333;}





.mtrk-body .mtrk-body-m .m-content label{
	display:block;
	padding:15px 0px 5px 0px;
}
.mtrk-body .mtrk-body-m .m-content input[type='text']{
	outline:none;
	width:235px;
	height:20px;
	color:#666;
	border:1px solid #666;
	padding:0px 2px 0px 2px;
}

.m-content.results-journal .user_results_journal {
    background: url("../images/overlay/rj_user_info_bg.jpg") no-repeat scroll left top transparent;
	width: 443px;
	height: 172px;	
	padding: 40px 23px 38px;
	margin-bottom: 25px;
}

.m-content.results-journal .user_results_journal .body_info {
	border-bottom: 1px dotted #bfbdbc;
}

.m-content.results-journal .user_results_journal .body_info .user_info{
	width: 107px;
	float: left;
	text-align: center;
	padding-bottom: 16px;
}

.m-content.results-journal .user_results_journal .body_info .user_info span.label{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #939693;
	padding: 0;
	display: block;
}

.m-content.results-journal .user_results_journal .body_info .user_info input{
	width: 74px;
	height: 23px;
	border: 1px solid #000100;
	text-align: center;
	margin-bottom: 10px;
}

.m-content.results-journal .user_results_journal .body_info .user_info span{
	font-size: 32px;
	color: #2963a0;
}

.m-content.results-journal .user_results_journal .body_info .user_info span.error{
    font-size: 11px;
}

.m-content.results-journal .user_results_journal .body_info .current_weight{
	width: 100px;
	margin: 0 75px;
}

.m-content.results-journal .user_results_journal .body_info .current_weight span.label{
	font-size: 14px;
}

.m-content.results-journal .user_results_journal .body_info .waist_measurement{
	width: 127px;
	margin-right: 33px;
}	

.mtrk-body div.my_fit_pts_goal{
	padding-bottom: 10px;
}
.mtrk-body .mtrk-body-m .m-content div.my_fit_pts_goal input[type="text"]{
	width: 70px;
}

.m-content.results-journal .user_results_journal .feelings_info {
	padding-top: 20px;
}	

.m-content.results-journal .user_results_journal .feelings_info .head{
	font-size: 14px;
	color: #257bb5;
	font-family: Helvetica, Arial, sans-serif;
}

.m-content.results-journal .user_results_journal .feelings_info .legend{
	color: #767676;
	font-size: 10px;
}	

.m-content.results-journal .user_results_journal .feelings_info .user_info {
	float: left;
	padding-right: 15px;
}

.m-content.results-journal .user_results_journal .feelings_info .user_info span{
	font-size: 24px;
	color: #2963a0;
	text-align: center;
	width: 70px;
	display: block;
}

.m-content.results-journal .user_results_journal .feelings_info .user_info span.label{
	font-size: 11px;
	color: #000000;
	padding: 15px 0 5px;
}

.m-content.results-journal .user_results_journal .feelings_info .user_info select{
	width: 70px;
	border: 1px solid #363636;
}

.m-content.results-journal .user_results_journal .feelings_info input[type=button]{
	width: 76px;
	height: 34px;
	border: none;
	font-size: 0;
	margin: 24px 0 0 14px;
	cursor: pointer;
}

.m-content.results-journal .user_results_journal .feelings_info .btn_save{
    background: url("../images/overlay/btn_save_small.png") no-repeat scroll left top transparent;
}

.m-content.results-journal .user_results_journal .feelings_info .btn_edit{
    background: url("../images/overlay/btn_edit_small.png") no-repeat scroll left top transparent;
}


.mtrk-body .mtrk-body-b{
    background: url("../images/overlay/bck-mytracking-main-re-b.png") no-repeat scroll left top transparent;
	height:5px;
}


.mtrk-body .mtrk-body-m .m-content.results-journal{
	padding: 33px 40px 13px;
}

.m-content.results-journal table.rj_user_info_data td.label{
	font-size: 14px;
	color: #939693;
	font-weight: normal;
}

.m-content.results-journal table.weight_info {
	float: left;
	margin-left: 10px;
}
.m-content.results-journal table.fit_info {
	width: 265px;
	border-left: 1px dotted #d3d3d3;
}

.m-content.results-journal table.rj_user_info_data td {
	border-bottom: 1px dotted #d3d3d3;
	vertical-align: middle;
	padding: 9px 0;
}

.m-content.results-journal table.rj_user_info_data tr.last_row td {
	border-bottom: none;
}

.m-content.results-journal table.weight_info td.label {
	width: 145px;
}

.m-content.results-journal table.fit_info td.label {
	width: 165px;
	padding-left: 23px;
}

.m-content.results-journal table.fit_info td.user_data {
	padding: 0 10px;
	text-align: right;
	font-weight: bold;
}

.m-content.results-journal table.weight_info td.user_data {
	width: 61px;
	font-weight: bold;
}

.m-content.results-journal table.fit_info td.user_data.avg_daily_fuel_allow_week,
.m-content.results-journal table.fit_info td.user_data.avg_actual_fuel_cons_week {
	padding-top: 20px;
}
.mbox-pt20 {
    clear: right;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}
.mbox-ovr-content-myroadmap {
    width: 510px;
}
.mbox-ovr-content-myroadmap, .mbox-ovr-content-myroadmap p {
    margin: 0 auto;
    text-align: center;
}
.mbox-ovr-content-myroadmap .mbox-title {
    float: none !important;
    font-size: 18px;
    margin: inherit !important;
    padding: 15px 0 40px;
    width: 100% !important;
    font-weight: bold;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb {
    background: url("../images/overlay/bck-myroadmap-shelf.png") no-repeat scroll center bottom transparent;
    margin-top: 10px;
    padding-bottom: 26px;
}
.mbox-ovr-content-myroadmap .mbox-product-thumb img {
}
.m-content.fuel-tracking {
	padding: 15px 14px 17px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data {
	width: 532px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data thead tr{
    background: url("../images/overlay/ft_log_table_heading.gif") no-repeat scroll left top #3585ab;
	height: 40px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data thead th{
	border-bottom: 1px solid #5d9dbc;
	color: #ffffff;
	text-align: center;	
}

.m-content.fuel-tracking table.fuel_tracking_log_data .label{
	font-size: 11px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.odd{
	background-color: #f6f6f6;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr td{
	border-bottom: 1px solid #d5d5d5;
	height: 34px;
	text-align: center;
	color: #353535;
}
.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr td input[type="text"]  {
	width: 50px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.totals{
	background-color: #595959;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.avg_week{
	background-color: #333333;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.totals td,
.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.avg_week td{
	color: #ffffff;
	border-bottom: none;
}

/*.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.summary_edit_save td{ 

	border-bottom: none;
	color: #3585ab;
	font-size: 14px;
	padding: 21px 0 16px;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody tr.summary_edit_save td.summary{
	text-align: left;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody span.base_fuel_allow {
	font-weight: bold;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody a.btn_save {
	width: 99px;
	height: 36px;
	font-size: 0;
	border: none;
	cursor: pointer;
	display: block;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody .btn_edit {
    background: url("../images/overlay/btn_edit.png") no-repeat scroll left top transparent;
}

.m-content.fuel-tracking table.fuel_tracking_log_data tbody .btn_save {
    background: url("../images/overlay/btn_save.png") no-repeat scroll left top transparent;
} */



.m-content.fuel-tracking .summary_edit_save {
	color: #3585ab;
	font-size: 14px;
	padding: 21px 0 16px;
}

.m-content.fuel-tracking .summary_edit_save .summary{
	text-align: left;
	float: left;
	padding-top: 10px;
}

.m-content.fuel-tracking .summary_edit_save span.base_fuel_allow {
	font-weight: bold;
}

.m-content.fuel-tracking .summary_edit_save a.btn_save {
	width: 99px;
	height: 36px;
	font-size: 0;
	border: none;
	cursor: pointer;
	display: block;
}

.m-content.fuel-tracking .summary_edit_save .btn_edit {
    background: url("../images/overlay/btn_edit.png") no-repeat scroll left top transparent;
}

.m-content.fuel-tracking .summary_edit_save .btn_save {
    background: url("../images/overlay/btn_save.png") no-repeat scroll left top transparent;
    float: right;
}
.padding-left {
    padding-left:5px;
}