body {}
.container, .container-fluid {background-color:#fff;}
.page-content {width:100%;padding:0;margin:0 auto 0;}
/*Typography*/
p {font-size:16px;}
.blu-hilite{font-weight:bold;color:#5A9BAF}
.blu-drk-hilite {font-weight:bold;color:#476DC7}
.grn-hilite {color:#66BC57;font-weight:bold;}
.gry-hilite {font-weight:bold;color:#9b99a0}

/*Buttons*/
.btn-liteblu { }
.header-bottom.container {
    text-align: right;padding:0 15px;
}
.links2 li {
    display: inline-block; padding-left: 5px;
}
.links2 li a {
    display: inline-block;
    line-height: 36px;
    background-color: #9c9c9c;
    padding: 0 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.links2 li.linkstyle2 a {
    background-color: #0089cd;
}
.links2 li a:hover{
	background-color: #08c;
}


/*Popovers*/

.popover-plus {color:#000; border-color: #1F609B;padding:0;max-width:400px}
.popover-plus.left .arrow {border-left-color:#1F609B;}
.popover-plus.bottom .arrow:after {border-bottom-color:#1F609B;}
.popover-plus .popover-title {position:relative;border:solid 2px #1F609B !important; background-color: #1F609B;color: #FFF;cursor:pointer;margin:0 !important;font-size:16px;font-weight:bold;height:30px;line-height:30px;padding:0 0 0 10px;}
.popover-plus .popover-title::after{position:absolute;font-size:1em;display:block;right:0;top:0;height:30px;width:30px;margin:auto 0;text-align:center;line-height:27px;content:'X';cursor:pointer;font-weight:normal}
.popover-plus .popover-content p {margin:0 !important;font-size:14px;}
.popover-plus .popover-content ul {margin:0;padding:0 9px;font-size:14px;margin-bottom:10px;}

/*Modals*/
.golo-modal {height:300px;margin-top:auto;margin-bottom:auto; }
.golo-modal .modal-content { border:solid 4px #1F609B !important; }
.golo-modal .modal-header {background-color:  #1F609B;color:#fff;border:none;margin:0;padding:0 10px;height:40px;line-height:40px;}
.golo-modal .modal-header .close {opacity:1;text-shadow:none;color:#fff;height:40px;line-height:40px;font-size:24px;}
.golo-modal .modal-title {margin:0;padding:0;height:40px;line-height:40px;}
.golo-modal .modal-body {border:none;}
.golo-modal .modal-body {font-size:18px;font-weight:bold;}
.golo-modal .modal-footer {background:#fff;border:none;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.golo-modal .modal-footer button.btn.btn-primary {border:none;background-color:#B4B5B8;background-image:none;font-size:18px;padding:5px 20px;transition:all 200ms;}
.golo-modal .modal-footer button.btn.btn-primary:hover {background-color:#717274;}

.golo-login-modal {height:500px;width:100%;margin:auto;top:0;left:0;right:0;bottom:0;overflow-y:hidden !important; }
.golo-login-modal .modal-content {border:solid 4px #1F609B !important;width:100%; }
.golo-login-modal .modal-header {background-color:  #1F609B;color:#fff;border:none;margin:0;padding:0 10px;height:40px;line-height:40px;}
.golo-login-modal .modal-header .close {opacity:1;text-shadow:none;color:#fff;height:40px;line-height:40px;font-size:24px;}
.golo-login-modal .modal-title {margin:0;padding:0;height:40px;line-height:40px;}
.golo-login-modal .modal-body {border:none;}
.golo-login-modal .modal-body {font-size:18px;height:350px;overflow-y:auto;}
.golo-login-modal .modal-footer {background:#fff;border:none;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.golo-login-modal .modal-footer button.btn.btn-primary {border:none;background-color:#B4B5B8;background-image:none;font-size:18px;padding:5px 20px;transition:all 200ms;}
.golo-login-modal .modal-footer button.btn.btn-primary:hover {background-color:#717274;}

.form-login { text-align: left; padding-bottom:22px;}
.form-login.modified {text-align:center; }
.form-login p.gray.text-left {font-size:14px;}
.login-title {color:#559AB1;font-size:28px;font-weight:bold;}
.form-login .form-group .btn.btn-login {border:none;background-color:#498A9C;color:#fff;font-size:18px;padding:5px 20px;transition:all 200ms;border-radius:4px;}
.form-login .form-group .btn.btn-login:hover {background-color:#366774;}



/*Top Header*/
.top-header {width:100%;height:auto;padding-bottom:39px;background-color:#fff; }
.top-header .header-content {margin:0 auto;height:100%;position:relative; }
.header-right {margin-bottom:-10px;}
.header-links {text-align:center;padding:5px;}
.header-links a {color:#000;cursor:pointer;transition:all 250ms;}
.header-links a:hover, .header-links a:focus{text-decoration:none;color:#F68A15}
.header-buttons {list-style-type:none;margin:0;padding:0;}
.header-buttons li {display:block;width:106px;cursor:pointer;line-height:29px;height:29px;text-align:center;float:right;margin: 0 10px;border-top-left-radius:8px;border-top-right-radius:8px;transition:all 250ms;}
.header-buttons li a {display:block;width:100%;line-height:29px;height:29px;color:#fff;font-weight:bold;font-size:1.2em;text-decoration:none !important}
.header-buttons li:hover a {text-decoration:none;}
/*.header-buttons li:nth-child(2) {background-color:#F7921E;}
.header-buttons li:nth-child(2):hover {background-color:#F7AC56;}*/
.header-buttons li {background-color:#B3B3B3;}
    .header-buttons li:hover { background-color: #7D7D7D; }
.header-buttons li:nth-child(1) {background-color:#C45F05;margin:0 10px 0 0 !important;}
.header-buttons li:nth-child(1):hover {background-color:#C46D20}
.header-logo img {height:75px;width:280px;margin:10px;cursor:pointer;}

/*Page Subheader*/
.sub-header {background: rgba(178,74,50,1);background: -moz-linear-gradient(top, rgba(178,74,50,1) 0%, rgba(136,53,40,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(178,74,50,1)), color-stop(100%, rgba(136,53,40,1)));background: -webkit-linear-gradient(top, rgba(178,74,50,1) 0%, rgba(136,53,40,1) 100%);background: -o-linear-gradient(top, rgba(178,74,50,1) 0%, rgba(136,53,40,1) 100%);background: -ms-linear-gradient(top, rgba(178,74,50,1) 0%, rgba(136,53,40,1) 100%);background: linear-gradient(to bottom, rgba(178,74,50,1) 0%, rgba(136,53,40,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b24a32', endColorstr='#883528', GradientType=0 );}
.sub-header img {margin:0 auto;}

/*Footer*/
footer {background: rgba(67,123,163,1);
background: -moz-linear-gradient(top, rgba(67,123,163,1) 0%, rgba(15,88,136,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,123,163,1)), color-stop(100%, rgba(15,88,136,1)));
background: -webkit-linear-gradient(top, rgba(67,123,163,1) 0%, rgba(15,88,136,1) 100%);
/*background: -o-linear-gradient(top, rgba(67,123,163,1) 0%, rgba(15,88,136,1) 100%);
background: -ms-linear-gradient(top, rgba(67,123,163,1) 0%, rgba(15,88,136,1) 100%);
background: linear-gradient(to bottom, rgba(67,123,163,1) 0%, rgba(15,88,136,1) 100%);*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437ba3', endColorstr='#0f5888', GradientType=0 );height:160px;position:relative;width:100%;max-width:938px;margin:0 auto 0;}
footer .logo {text-align:center;padding:30px 0 10px;}
footer .logo img {max-width:114px;}
footer .copyright {position:absolute;bottom:20px;right:30px;text-align:right;color:#fff;font-size:.85em;height:20px;line-height:20px;}
.golo-support-card {text-align:center;font-weight:bold;color:#9b99a0;padding:25px;border-radius:25px;border:solid 3px #9b99a0;min-width:300px;max-width:356px;margin:10px auto;line-height:30px;font-size:16px;}
.golo-support-card a {color:#9b99a0 !important;}

/*Homepage*/
.download-MHA img{padding:10px 0 10px;}
.personal-metabolic-rate{color:#d3741e;font-weight:600;font-size:1.7em;margin:0;padding:20px 0;}
.homepage-intro strong {color:#559ab1}
.homepage-block{padding-bottom:10px;}
.homepage-block img {width:100%;}
.homepage-block .svg-image {margin-bottom:8px;}
.homepage-block .title {font-size:20px;color:#AA4333;font-weight:bold;margin:0;height:32px;line-height:32px;margin-bottom:8px;}
.homepage-block p {padding:8px 0;color:#777;font-size:14px;}
.homepage-links-image {cursor:pointer;text-decoration:none !important;}
.homepage-links{color:#F68A15 !important;text-decoration:none !important;cursor:pointer;font-size: 16px !important;}
.homepage-links.blu{color:#559ab1 !important;font-weight:bold;text-transform:uppercase;}
.homepage-bottom-links{line-height:45px;margin-bottom:25px;text-align:center;}
.homepage-bottom-links .hp-downloads {float:none;}
.homepage-bottom-links .hp-facebook {float:none;color:#2658a2;font-size:20px;font-weight:bold;height:45px;line-height:45px;}

/*Content Pages*/
.top-spacer {padding-top:15px;}
.sidebarlog {background-color:#ADAC97;padding:20px 20px 20px 15px;margin-bottom:15px;}
.sidebar-menu {padding:0;margin:0;list-style-type:none;}
.sidebar-menu > li a {display:block;margin-bottom:5px;color:#fff;font-weight:bold;font-size:16px;line-height:22px;cursor:pointer;}
.sidebar-menu > li a.active {color:#594207;text-decoration:none;}
.sidebar-menu > li a:hover {text-decoration:none !important;color:#594207;}
.sidebar-sub-menu {padding:0;margin:0;list-style-type:none;}
.sidebar-sub-menu > li a {display:block;padding-left:15px;font-weight:normal;}
.sidebar-menu-toggle {width:100%;height:30px;text-align:right;}
.sidebar-menu-toggle i {height:30px;background-color:#594207;color:#ADAC97;padding:0 15px;line-height:30px;text-align:right;font-size:18px;cursor:pointer}
.text-content {font-size:1.2em;padding:5px 0;}
.text-content:nth-child(1) {padding-top:15px;}
.text-content .pull-right {margin-left:35px;}
.text-content .pull-left {margin-right:15px;}
ul.text-content {padding:15px 25px}
ul.text-content li {padding:5px 10px;}
.max-four-hundred {max-width:400px;margin-bottom:15px;}
.text-content-heading {font-size:24px;font-weight:bold;color:#5A9BAF;margin:10px 0}
.text-content-heading .heading-button {border-radius:8px;background-color:#5A8BAF;display:block;cursor:pointer;margin:10px 0;float:none !important;padding:4px 15px;color:#fff;text-align:center;font-weight:normal;font-size:16px;}
.text-content-sub-heading {font-size:18px;color:#9b99a0;font-weight:bold;margin:0 0 10px;}
.content-page-container {margin-bottom:25px;}
.content-page-container a.homepage-links.larger-text {font-size:16px !important;}
.pdf-link {font-size:16px;color:#9b99a0}
.content-page-top-heading{font-size:29px;font-weight:bold;margin:0 0 20px;color:#aa4333}

/*Content Pages: Great Expectations*/
.profile {text-align:center;}
.profile h2 {font-size:20px;color:#559ab1;font-weight:bold;}
.profile .text-content {font-weight:600}
.profile .text-content.quoted {font-weight:400;font-style:italic;color:#9b99a0;text-align:left;}

/*Content Pages: Tips & Recipes*/

.recipe-group-heading {font-size:20px;color:#aa4333;font-weight:bold;margin:5px 0;padding:8px;background-color:#F2EAD6;}

.recipe-heading {color:#9b99a0;font-weight:bold;font-size:19px;margin:10px 0;}

/*Content Pages: Downloads*/
.download-link {display:table;width:100%;text-decoration:none !important;background:#FFFFFD;margin:10px 0;}
.download-item {display:table-row;}
.download-image {display:table-cell;width:295px}
.download-item-title {display:table-cell;vertical-align:middle;font-size:24px;color:#898989;padding-top:30px;padding-left:10px;}



/*Progress Tracking*/
.table-wrapper {overflow-x:auto;width:100%;}
.progress-tracking-page {min-height:500px;}
.tracking-table {width:100%;border:solid 1px #9b99a0;border-collapse:collapse; }
.tracking-table > thead > tr > th {background-color:#88C3D3;border:solid 1px #9b99a0;text-align:center;vertical-align:middle;font-size:13px;padding:2px 5px;font-weight:bold;line-height:22px;height:22px; }
.tracking-table > thead > tr > th:nth-child(1) {width:100px; }
.tracking-table > thead > tr > th:nth-child(2) {width:66px; }
.tracking-table > thead > tr > th:nth-child(3) {width:66px; }
.tracking-table > thead > tr > th:nth-child(4) {width:66px; }
.tracking-table > thead > tr > th:nth-child(5) {width:66px; }
.tracking-table > thead > tr > th:nth-child(6) {width:66px; }
.tracking-table > thead > tr > th:nth-child(7) {width:66px; }
.tracking-table > thead > tr > th:nth-child(8) { width:66px}
.tracking-table > thead > tr > th:nth-child(9) {width:66px }
.tracking-table > thead > tr > th:nth-child(10) {width:66px }
.tracking-table > thead > tr > th:nth-child(11) {width:66px }
.tracking-table > thead > tr > th:nth-child(12) {width:66px }
.tracking-table > tbody > tr > td {line-height:22px; padding:2px 5px;border:solid 1px #9b99a0;font-size:13px;}
.tracking-table > tbody > tr > td:first-child {padding:1px; }
.tracking-table > tbody > tr > td:last-child {padding:1px; }

.data-entry button {padding:0 4px; }
.date-entry {width:70px !important;}
.weight-entry {width:50px !important;}
.waist-entry{width:50px !important;}
.sleep-entry {width:50px !important;}
.energy-entry {width:50px !important;}
.mood-entry {width:50px !important;}
.stress-entry {width:50px !important;}
.tracking-table > tbody > tr > td:nth-child(even), .tracking-table .data-entry {background-color:#F7F3E8; }
.tracking-table > tbody > tr.totals-row > td {background-color:#A6A6A6;font-weight:bold;}
.tracking-table > tbody > tr.totals-row > td:first-child {padding:2px 5px;}
.btn.btn-tracking {background-color:#AA432B;font-weight:bold;color:#fff;transition:all 250ms; }
    .btn.btn-tracking:hover {background-color:#742D1E; }
.btn.thin { padding:0px 15px;}
.tracking-table .homepage-links {font-size:13px !important;padding:0px !important;display:inline-block;border:none !important; }

/*Fuel Tracking*/
.week-nav {width:100%;background-color:#0070AC;color:#fff;font-weight:bold;height:40px;line-height:40px;margin:15px 0;}
.week-nav .controls{max-width:600px;text-align:center;position:relative;height:40px;line-height:40px;width:100%;margin:0 auto; font-size:18px;}
.week-nav .controls i.fa {font-size:20px;line-height:40px;padding-right:10px;}
.week-nav .controls .arrow {position:absolute;height:40px;width:40px;text-align:center;top:0; }
.week-nav .controls .arrow i.fa {font-size:24px;line-height:40px;padding-right:0;}
.week-nav .controls .arrow:first-child {left:0; }
.week-nav .controls .arrow:last-child {right:0; }
.fuel-table {width:100%;border:solid 1px #9b99a0;border-collapse:collapse;margin:15px 0;}
.fuel-table > thead > tr > th {background-color:#7EBCD7;color:#fff;padding:5px 20px;border:solid 1px #7EBCD7;text-align:center;font-size:13px; }
.fuel-table > tbody > tr > td {background-color:#F6F6F6;padding:5px 20px;border:solid 1px #D5D5D5; text-align:center;font-size:13px;}
.fuel-table > tbody > tr.totals-row > td {background-color:#595959;color:#fff;border:solid 1px #595959;}
.fuel-table > tbody > tr > td > input {border:solid 1px black;border-radius:0;padding:0 2px;height:20px;line-height:20px;width:50px;margin:0 auto;}
.fuel-top-controls input, .fuel-bottom-controls input {border:solid 1px black;border-radius:0;padding:0 2px;height:20px;line-height:20px;width:100px;margin:0 auto;}
.fuel-table.averages-table {max-width:300px;margin-left:auto;margin-right:auto;}
.fuel-table.averages-table th{font-size:16px;}

/*MHA Results Summary*/
.mha-data-summary .content-page-container {padding-top:15px; }
.mha-data-filters {padding:8px 0;margin:10px 0;background-color:#ddd; }
.mha-data-filters .control-label {padding:0 10px;}
.mha-data-filters .btn {margin-left:10px;}
.mha-results-table thead {background-color:#0070AC;color:#fff;border-color:#0070AC;}
.mha-results-table thead th {border-color:#0070AC !important; }


/*Tracking Table Custom Styling*/
.tracking-table {
    width: auto;
    
    border-collapse: collapse;
    border: solid 1px #9B99A0;
}

.tracking-table td,
.tracking-table th {
    padding: .5em;
    border: solid 1px #9B99A0;
    white-space: normal !important;
}

.tracking-table tr td:nth-child(odd) {
    background-color: #F7F3E8;
}

.tracking-table td {
    width:90px;
    
    text-align:center;
}

.tracking-table th {
    background-color: #88C3D3;
   
    font-weight:normal;
}


.divider-row td {
    background-color: #A6A6A6 !important;
    border-left:solid 1px #A6A6A6 !important;
    border-right:solid 1px #A6A6A6 !important;

}
.divider-row th {
    background-color: #A6A6A6;
    border-right:solid 1px #A6A6A6;
    font-weight:bold;

}
.divider-row td:last-child{
    border-right:solid 1px #9B99A0;
}

.tracking-table tr:nth-child(29) th {text-align:right;}
.tracking-table tr:nth-child(35) th {text-align:right;}
.tracking-table tr:nth-child(36) th {text-align:right;}
.tracking-table tr:nth-child(37) th {text-align:right;}

/* MHA Questionnaire */
.health-analysis-container label {font-weight:bold !important}
.health-analysis-container .form-group {margin-bottom:0px !important;padding:15px 0 0 !important;}
.health-analysis-container .form-group:nth-child(odd) {background-color:#F7F5ED !important;}
.health-analysis-container .form-group > .control-label, .health-analysis-container .form-group > div {height:47px;}



 @media only screen and (max-width : 320px) {
     /*Page Subheader*/
     .control-label {font-weight:bold;}
     .health-analysis-container .form-horizontal.rating-scale .form-group > .control-label, .health-analysis-container .form-horizontal.rating-scale .form-group > div {text-align:center !important}
    
     .sub-header img {max-width:300%;margin-left:-320px;width:640px;}
    .golo-login-modal{width:320px;margin:0; }
    .golo-login-modal .modal-dialog {width:320px !important;margin:0;height:100vh !important; }
    .download-image {width:140px;}
    .download-item-title {font-size:18px;}
    }
/* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        /*Top Header*/
      .top-header {height:124px; }
        .header-right {height:29px;}
        .header-links {float:left;padding-left:10px;padding-bottom:4px;}
        .header-buttons {float:right;margin-right:5px;}
        .header-buttons li {margin-right:2px;}
        /*Homepage*/
        .homepage-bottom-links .hp-downloads{display:block;width:100%;}
        .golo-login-modal{width:460px; }
        .golo-login-modal .modal-dialog{width:460px;;margin:0;height:100vh !important; }
        .download-image{width:200px;}
        .download-item-title {font-size:24px;}
        .health-analysis-container .form-horizontal.rating-scale .form-group > .control-label, .health-analysis-container .form-horizontal.rating-scale .form-group > div {text-align:center !important}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        /*Top Header*/
        .top-header {height:93px;padding-bottom:0; }
        .header-logo {display:block;height:75px;width:280px;position:absolute;left:40px;top:0;bottom:0;margin:auto 0;}
        .header-logo img {height:75px;width:280px;margin:0;}
        .header-links {height:46px;line-height:46px;top:0;right:0;margin-right:10px;padding-left:0;float:none;}
        .header-buttons {height:47px;right:0;bottom:0;list-style-type:none;padding:18px 0;float:none;}
        .header-buttons li:nth-child(2) {margin-right:10px;}
        .header-right {text-align:right;position:absolute;right:0;top:0;height:100%;width:auto;margin-bottom:0;}
        /*Homepage*/
         .homepage-bottom-links .hp-downloads{display:block;width:auto;float:left;}
         .homepage-bottom-links .hp-facebook{display:block;width:auto;float:right;}
         .homepage-bottom-links {height:45px;margin:0 10px 25px -15px;}
        /*Content Pages*/
        .text-content-heading .heading-button{float:right !important;margin:0;}
        /*Fuel Tracking*/
        .btn-save-fuel {float:right;}
        .golo-login-modal {width:700px;margin:auto; }
        .golo-login-modal .modal-dialog {width:700px;margin:0 !important; }
        .form-login {background: url('/images/dots_vertical.svg') repeat-y top center; }
        .form-login.modified {background:none; }
        .health-analysis-container .form-horizontal.rating-scale .form-group > .control-label, .health-analysis-container .form-horizontal.rating-scale .form-group > div {text-align:center !important}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
         /*Top Header*/
        .top-header .header-content {margin:0 auto;width:938px; }
        /*Page Subheader*/
        .sub-header img {max-width:938px; width:100%;}
        
        .golo-login-modal {width:950px; }
        .golo-login-modal .modal-dialog {width:950px; }
        .health-analysis-container .form-horizontal.rating-scale .form-group > .control-label, .health-analysis-container .form-horizontal.rating-scale .form-group > div {text-align:center !important}
    }
    
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .health-analysis-container .form-horizontal.rating-scale .form-group > .control-label {text-align:right !important}
        .health-analysis-container .form-horizontal.rating-scale .form-group > div {text-align:left !important}
        .golo-login-modal {width:1170px; }
        .golo-login-modal .modal-dialog {width:1170px; }
      
    }