	

	.overlay-container{
		margin:auto;
		width:657px;
		height:auto;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	img{
		border:0;	
	}
	
	a{
		color:#ff9600;	
		text-decoration:none;
	}

	
	.overlay-header{
		width:auto;
		height:	87px;
		padding-top:3px;
		background:url(../images/bg-overlay-top-tall.png) top center no-repeat;
	}
	
	.overlay-footer{
		width:auto;
		height:39px;
		background:url(../images/bg-overlay-bottom.png) bottom center no-repeat;
	}
	
	.overlay-content-container{
		width:657px;
		height:auto;
		background:url(../images/bg-overlay-middle.png) top center repeat-y;
	}
	
	
	.roadmap-header{
		height:72px;
		margin-top:16px;
		background:url(../images/road-map-heading.png) top center no-repeat;
	}
	
	.close-btn{
		height:37px;
		width:37px;
		float:right;
		margin-right:30px;
		margin-top:10px;
	}
	


	.pagination{
		color:#CCC;
		font-size:13px;
		margin-right:40px;
		margin-top:45px;
		float:right;
	}
	
	.pagination span{
		margin-right:5px;
	}
	
	.pagination .active{
		font-weight:bold;
		color:#FFFFFF;
	}
	
	.content{
		margin-left:20px;
		margin-right:20px;
		font-family:Arial, Helvetica, sans-serif;
		color:#000000;
		font-size:13px;
		font-weight:bold;

	}

	.content div{
		overflow:hidden;	
	}
	
	.content div .title{
		float:left;
		width:150px;
	}
	
	.content div .data{
		float:left;
		margin-left:50px;
		/*padding-top:-2px;*/
		font-weight:normal;
		color:#666666;
	}
	
	.content h1{
		color:#1f609b;	
		margin-top:0px;
	}
	
	
	.roadmap-content .questions-container div{
		padding-top:20px;
		/*padding:0 auto;*/
		margin-left:60px;
	}
	
	
	.button-container{
		height:30px;
		width:100%;
		margin-top:15px;
		padding-bottom:20px;
		text-align:center;
	}
	
	
	.button-container a{
		margin-left:20px;
	}
	
	.sub-text{
		font-size:10px;	
	}
	
	
	
	
	ul{
	margin:0px;
	padding:0px;	
}

.navlist{position:relative;}
.navlist li{margin:0;padding:0;list-style:none;position:absolute;top:15px;}
.navlist li, .navlist a{height:72px;display:block;}

.my-tracking{left:0px;width:181px;}
.my-tracking{background:url('../images/tracking-heading.png') 0px 0px;}
.my-tracking a:hover, .my-tracking .active{background:url('../images/tracking-heading.png') -2px -72px;}

.my-roadmap{left:181px;width:181px;}
.my-roadmap{background:url('../images/tracking-heading.png') -183px 0;}
.my-roadmap a:hover, .my-roadmap .active{background:url('../images/tracking-heading.png') -183px -72px;}

.my-account{left:362px;width:183px;}
.my-account{background:url('../images/tracking-heading.png') -363px 0px;}
.my-account a:hover, .my-account .active{background:url('../images/tracking-heading.png') -363px -72px;}

.btn-container{background:url('../images/tracking-heading.png') -547px 0 no-repeat; width:73px; height:72px; margin-top:15px; position:relative; float:right;}

.tracking-close{
	height:37px;
	width:37px;
	float:right;
	margin-right:20px;
	margin-top:18px;
}

#tracking-tool{
	overflow:hidden;
}

.tracking-header {
	width:618px;
	height:72px;
	margin-left:20px;
}
	
.tracking-content{
	background:url(../images/bg-gradient.jpg)top center repeat-x;
	height:auto;
	overflow:hidden;
	width:617px;
	padding:0;
	position:relative;
}	

.official-start-date-container{
	background:url(../images/top-bar.png) no-repeat; 
	width:618px; 
	height:42px;
	text-align:center;
	margin-bottom:30px;
}

.official-start-date-container h3{
	float:left;
	padding-left:140px;
	margin:14px 0;
	font-size:12px;
	font-weight:normal;
}

.official-start-date-container .start-date{
	float:right;
	margin:14px 0;
	margin-right:160px;
	font-size:12px;
	font-weight:bold;
}

.official-start-date-container span{
	margin-left:5px;
}

.weight-lost-row{
	margin-bottom:20px;	
}

.current-week-container{
	width:200px;
	height:50px;
	float:left;	
	background:url(../images/calendar-icon.png) 0 0px no-repeat;
	padding-left:50px;
	padding-top:0px;
	margin-left:100px;
	margin-top:23px;
	margin-right:40px;
}

.current-week-container #title{
	font-size:16px;
}

.current-week-container span#current-date{
	font-size:11px;
	color:#666666;
}

.total-weight-lost-container{
	background:url(../images/blue-square.png) 0 0px no-repeat;
	width:149px;
	height:85px;
	padding-left:0px;
	padding-top:10px;
	text-align:center;
}

.total-weight-lost-container span#lbs-lost{
	color:#ffffff;
	font-size:32px;
}

.total-weight-lost-container span#lbs-lost b{
	color:#ffffff;
	font-size:12px;
}

.total-weight-lost-container span#total-weight-lost-title{
	color:#ffffff;
	font-size:11px;
}

.running-allowances{
	width:618px;
	height:130px;
	background:url(../images/shelf.png) bottom center no-repeat;
	text-align:center;
	
}

.flag .number-style{
	line-height:70px;
	color:#FFFFFF;
	font-size:32px;
	font-weight:normal;
}

.flag{
	float:left;
	width:120px;
	height:110px;
	font-size:12px;
	background:url(../images/green-flag.png) bottom center no-repeat;
}

.base-fuel-allowance-container{	
	margin-left:85px;
}

.fit-points-goal-container{	
	margin-left:45px;
}

.daily-fuel-allowance-container{
	margin-left:32px;	
}

.calendar-top{
	width:525px;
	height:49px;
	background:url(../images/calendar-bar.png) center center no-repeat;
	margin-left:48px;
	text-align:center;
}

.calendar-top div{
	float:left;
	padding-top:8px;
	color:#ffffff;
}

.calendar-top div a{
	color:#ffffff;
}

.calendar-top .prev-dates, .calendar-top .next-dates {
	margin-left:10px;
	padding-top:19px;
}

.calendar-top .cal-date{
	width:472px;
	height:42px;
	text-align:center;	
}

.calendar-top .cal-date-first {
	margin-left:25px;	
}

.calendar-top .cal-date-middle{
	margin-left:48px;
}

.calendar-top .cal-date-last{
	margin-left:62px; 
}
 
.calendar-body{
	width:536px;
	background:url(../images/middle-layer.png) center top repeat-y;
	margin-left:42px;
	text-align:center;
	padding-top:10px;
}

.calendar-body .intro-paragraph{
	font-size:10px;
	color:#999999;	
}

.calendar-flag-container{
	clear:both;
    width: 535px;
    margin: 20px 0 0 150px;
}

.input-values{
	width:536px;
	margin-left:80px;
	margin-top:20px;
	margin-bottom:15px;
	font-size:12px;
}

.input-values div{
	float:left;
	margin-left:16px;
}

.weekly-life-scores{
	
	text-align:center;
    margin-top:20px;
}

.weekly-life-scores div{

	float:left;
	font-size:10px;
	font-weight:normal;
	color:#999999;
	padding-left:10px;
	margin-left:45px;
}

.enter-current-weight-container{
	margin-top:35px;
	margin-bottom:35px;
}

.weekly-life-scores{
	margin-top:0px;
}

.calendar-body-bottom-corner{
	background:url(../images/bottom-layer.png) center center no-repeat;
	width:536px; height:12px;
	margin-left:42px;
}

.submit-btn{
	margin-bottom:20px;	
}

	
/*------------------- my account --------------------*/
.tracking-header.my-account {
	background-position: center bottom;
}
.ovr-content-myaccount{
	font-weight:normal;
	padding-top:30px;
}
.ovr-content-myaccount a{
	background: url("../images/arrow-blue.png") no-repeat right center transparent;
	text-decoration:none;
	padding-right:13px;
	color:#3ba5ca;
	font-weight:bold;
}
.ovr-content-myaccount a.img{
	background:none;
}
.ovr-content-myaccount a:hover{
	color:#E97A07;
}
.ovr-content-myaccount .ileft{
	text-align:center;
	min-height:380px;
	float:left;
	width:240px;
}
.ovr-content-myaccount p{
	margin:0px;
}
.ovr-content-myaccount .user-thumb{
	background: url("../images/user-thumb-shelf.png") no-repeat center bottom transparent;
	padding-bottom:23px;
	margin-top:10px;
}
.ovr-content-myaccount .user-thumb-link{
	color:#3ba5ca;
}
.ovr-content-myaccount .iright{
	float:right;
	width:370px;
}
.ovr-content-myaccount .iright div{
	margin:0px;
	padding:0px;
}
.row{
	clear:both;
	border-bottom:1px solid #ccc;
	width:300px;
	display:table;
}
.row > .info{
	margin:10px 0px 5px 0px;
	padding:0px;
	width:230px;
	float:left;
}
.row > .info > span{
	display:block;
	font-weight:bold;
}
.row > .edit{
	color:#3ba5ca;
	display:table-cell;
	vertical-align:bottom;
	padding:0px 10px 5px 0px;
}
.no-bdr{
	border:none;
}
.pt20{
	clear:right;
	padding-top:20px;
	padding-bottom:20px;
}
.ovr-content-myaccount form input{
	width:200px;
	color:#666;
}

/*------------------- my roadmap --------------------*/
.tracking-header.my-roadmap {
	background-position: center center;
}
.ovr-content-myroadmap{
	width:510px;
}
.ovr-content-myroadmap,
.ovr-content-myroadmap p{
	text-align:center;
	margin:0 auto;
}
.ovr-content-myroadmap .title{
	float:none !important;
	width:100% !important;
	margin:inherit !important;
	font-size:18px;
	padding:15px 0px 40px 0px;
}
.ovr-content-myroadmap .product-thumb{
	background: url("../images/bck-myroadmap-shelf.png") no-repeat center bottom transparent;
	padding-bottom:26px;
	margin-top:10px;
}
.ovr-content-myroadmap .product-thumb img{
}
