@import url('ng-custom.css');
BODY,
DIV,
P {
    margin: 0px;
    padding: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row:before,
.row:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.relative {
    position: relative;
}

.pageLink {
    color: #77787b;
}

a.pageLink {
    display: block;
    margin: 5px;
    font-size: 14px;
}

BODY {
    background-color: #F2EAD6;
    text-align: center;
    font-family: sans-serif;
}

.top-bar > DIV {
    width: 100%;
}

.top-bar .t-blue {
    background-color: #7EBCD7;
    height: 6px;
}

.top-bar .t-white {
    background-color: #FFF;
    height: 100px;
}

.top-bar .t-blue-big {
    background: transparent url("../images/bck-top-orange.png") repeat-x center top;
    height: 224px;
}

.wrapper {
    text-align: left;
    width: 938px;
    margin: -324px auto 0;
}


/*--- header ---*/

.header {}

.header .ileft {
    float: left;
    width: 165px;
    height: 100px;
}

.header .iright {
    float: right;
    width: 770px;
    height: 100px;
}

.header .ileft .logo {
    padding-top: 0;
    padding-left: 30px;
}

.logo img {
    max-width: 280px;
    height: 75px;
    padding: 20px 0 0 0;
}

.header .iright .order {
    background: transparent url("../images/top-tab_02.jpg") no-repeat right top;
    text-align: right;
    padding-right: 35px;
    float: right;
    width: 464px;
    height: 36px;
}

.header .iright .order P {
    margin-top: 10px;
}

.header .iright .order,
.header .iright .order A {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

.header .iright .order A {
    margin-left: 35px;
    text-decoration: none;
}

.header .iright .order A:hover {
    color: #2D449C;
}

.header .iright .return {
    text-align: right;
    padding: 20px;
    float: right;
    width: 464px;
    height: 36px;
}

.t-space {
    height: 11px;
}


/*--- container ---*/

.container {
    background-color: #FFF;
    min-height: 725px;
}

.container .first-read {
    background: transparent url("../images/bck-top-container.jpg") no-repeat center top;
    height: 233px;
    margin-top: 0;
}

.container .create-account-header {
    background: transparent url("../images/banner_create_account.jpg") no-repeat center top;
    height: 233px;
    margin-top: 0;
}

.container .health-analisis-header {
    background: transparent url("../images/bck-top-health-analisis.jpg") no-repeat center top;
    height: 233px;
    margin-top:256px;
}

.container .home-header {
    background: transparent url("../images/home-header.jpg") no-repeat center top;
    height: 233px;
    margin-top: 20px;
}

.container .first-read .title {
    background-color: #FFF;
    color: #2D449C;
    font-family: AvenirLTStd45BookRegular, sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
    padding: 25px 10px 23px;
    display: inline-block;
    width: 485px;
}

.container .message {
    background: transparent url("../images/break.jpg") no-repeat center bottom;
    height: 165px;
}

.container .message P {
    color: #2D449C;
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
}

.container .content {
    text-align: center;
}

.container .content .title {
    font-family: AvenirLTStd55RomanBold, sans-serif;
    color: #559ab1;
    font-size: 32px;
    margin-bottom: 20px;
}

.container .content P {
    padding-bottom: 25px;
}

.container .content .txt {
    font-family: AvenirLTStd55RomanBold, sans-serif;
    color: #333333;
    font-size: 18px;
    margin-bottom: 5px;
}

.container .content LABEL {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.error LABEL {
    color: #D30606 !important;
}

.error LABEL SPAN {
    margin-left: 15px;
    font-size: 12px;
}

.error INPUT[type='text'],
.error INPUT[type='password'] {
    box-shadow: 0px 0px 5px #D30606 !important;
    -webkit-box-shadow: 0px 0px 5px #d30606 !important;
    -moz-box-shadow: 0px 0px 5px #d30606 !important;
    border: 1px solid #D30606 !important;
    =border: 2px solid #D30606 !important;
}

.container INPUT[type='text'],
.container INPUT[type='password'] {
    color: #111111 !important;
    font-size: 14px;
    padding: 14px 7px;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    border: 1px solid #CCC;
    border-radius: 8px;
}

.container .content INPUT[type='password'] {
    color: #111111;
    font-size: 14px;
    padding: 14px 7px;
}

.container .content INPUT[type='text']:focus,
.container .content INPUT[type='password']:focus {
    outline: none;
    box-shadow: 0px 0px 5px #36F;
    -webkit-box-shadow: 0px 0px 5px #36f;
    -moz-box-shadow: 0px 0px 5px #36f;
    border: 1px solid #9CC;
}

.container .content .login {
    width: 785px;
    margin: 0 auto;
    text-align: left;
}

.iborder A {
    color: #666666;
    line-height: 1.9;
}

.container .content .login .ileft {
    float: left;
    width: 390px;
    margin-right: 50px;
}

.container .content .login .iright .submit {
    margin-top: 68px;
}

.container .content .create-account {
    text-align: left;
    width: 550px;
    margin: 0 202px;
}

.vlines-right {
    background: transparent url("../images/dots_vertical.svg") no-repeat 1px;
    background-position: right top;
}

.vlines-center {
    background: transparent url("../images/dots_vertical.svg") no-repeat 1px;
    background-position: top center;
}

.container .content .create-account .ileft {
    float: left;
    width: 240px;
}

.container .content .create-account .iright {
    margin-top: 68px;
}

.container .content .create-account .ileft INPUT[type='text'],
.container .content .create-account .iright INPUT[type='text'] {
    width: 200px;
}

.container .content .create-account INPUT[type='text'],
.container .content .create-account INPUT[type='password'] {
    width: 440px;
}


/*
.btn-create-acct {
    padding-top: 30px !important;
    padding-bottom: 60px !important;
}
*/


/*--- footer ---*/

.wrapper .footer {
    margin-top: 324px;
}

.footer {
    height: 160px;
    color: #FFF;
    font-size: 0.875rem;
    background: #437ba3;
    background: -moz-linear-gradient(top, #437ba3 0%, #0f5888 100%);
    background: -webkit-linear-gradient(top, #437ba3 0%, #0f5888 100%);
    background: linear-gradient(to bottom, #437ba3 0%, #0f5888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#437ba3', endColorstr='#0f5888', GradientType=0);
}

.footer .wrapper {
    margin: 0 auto;
    padding-top: 35px;
}

.footer UL,
.footer LI {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.footer LI {
    margin-bottom: 1px;
}

.footer-links .icol {
    float: left;
    /*width:260px;*/
    width: 44%;
}

.footer LI,
.footer LI A {
    color: #FFF;
    text-decoration: none;
}

.footer LI A {
    background: transparent url("../images/arrow-white.png") no-repeat right center;
    padding-right: 13px;
}

.footer LI A:hover {
    text-decoration: underline;
}

.footer .ileft {
    float: left;
    width: 700px;
}

.footer .iright {
    width: 938px;
}

.footer .iright .copyright {
    padding: 30px 80px 0 0;
    text-align: left;
    font-size: 0.75rem;
    color: #fff;
}

.footer .icenter .copyright img {
    padding-top: 30px;
    padding-bottom: 10px;
    height: 50px;
}

.footer .iright .copyright {
    float: right !important;
}


/*--- others ---*/

.clearfix {
    clear: both;
}

.font14 {
    font-size: 14px !important;
}

.gray {
    color: #666 !important;
}

.orange {
    color: #DD7302 !important;
}

A.orange:hover {
    color: #2D449C !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-no-underline {
    text-decoration: none !important;
}

.w285 {
    width: 285px !important;
}

.container .first-read .title H1 {
    font-family: AvenirLTStd45BookRegular, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.errorMessage {
    color: #FF0000;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    padding-top: 5px
}

#ctl00_ctl00_ContentBodyPlaceHolder_MyContentBodyPlaceHolder_RegularExpressionValidator1 {
    display: none;
}

.mbox-button {
    color: #FFF;
    background-color: #498a9c;
    display: block;
    width: 90px;
    font-weight: bold;
    height: 30px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    font-size: 18px !important;
}

.mbox-button.btnsubmit {
    float: left;
}

.mbox-button.btnlogin {
    float: right;
}

.mbox-button-green {
    color: #FFF;
    background-color: #1A5C10;
    display: block;
    float: right;
    font-weight: bold;
    height: 30px;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-top: 7px;
    font-size: 18px !important;
    padding-left: 7px;
    padding-right: 7px;
}

.cmd-button {
    color: #FFF;
    background-color: #48899C;
    display: block;
    float: right;
    width: 90px;
    font-weight: bold;
    height: 30px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    font-size: 18px !important;
}

.icenter {
    text-align: center;
    width: 100%;
}

.iLeft {
    text-align: left;
}

.iborder {
    margin: auto;
    border-radius: 25px;
    border: solid;
    width: 300px;
    border-color: #CDCDCD;
    height: 35px;
    margin: 15px auto 25px auto;
    padding: 25px;
    color: #666666;
}

.error {
    color: #FF0000;
}

.login .ileft {
    width: 48%;
    float: left;
    margin: 0;
    display: inline-block;
}

.login .iright {
    width: 43.6%;
    float: right;
    margin: 0;
    display: inline-block;
}

.forgot {
    font-size: 0.75rem;
    margin-top: 30px;
}

#FrameSizeInfo {
    position: absolute;
    width: 350px;
    height: 190px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: -webkit-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: linear-gradient(to top, #ffffff 90%, #1f609b 10%);
    border: 3px solid #1F609B;
    padding: 20px;
    border-radius: 15px;
}

#FrameSizeInfo H1 {
    background-color: #1F609B;
    color: #FFF;
    font-size: 14px;
    margin: -20px -20px 0 -20px;
    padding: 10px;
}

#FrameSizeInfo UL {
    margin-left: 3px;
    padding: 15px;
    list-style-type: disc;
}

#FrameSizeInfo P {
    margin: 0 0 0 2px;
    padding: 20px 0 0 0;
}
#ActivityLevelInfo{
    position: absolute;
    width: 350px;
    height: 190px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: -webkit-linear-gradient(top, #ffffff 90%, #1f609b 10%);
    background: linear-gradient(to top, #ffffff 90%, #1f609b 10%);
    border: 3px solid #1F609B;
    padding: 20px;
    border-radius: 15px;
   
}

#ActivityLevelInfo H1 {
    background-color: #1F609B;
    color: #FFF;
    font-size: 14px;
    margin: -20px -20px 0 -20px;
    padding: 10px;
}

#ActivityLevelInfo UL {
    margin-left: 3px;
    padding: 15px;
    list-style-type: disc;
}

#ActivityLevelInfo P {
    margin: 0 0 0 2px;
    padding: 20px 0 0 0;
}
.modal-closer {float:right;font-size:2em;font-weight:100;color:white;margin-top:-10px;text-decoration:none !important; }
.fa.fa-info-circle {color:#0070AC;background:#fff;border-radius:50%;font-size:1.1em}
.help-text { font-size:.8em}


/***** Create Account New Styles *****/

.container .create-account .icenter {
    width: 456px;
}


.pageHeader {
    margin: 18px 0 20px 0 !important;
    font-size: 1.8rem !important;
    font-weight: bold;
}

.pageh2 {
    margin: 10px 0 10px 0 !important;
    font-size: 1.25rem !important;
    font-weight: bold;
}

.pageh3 {
    margin: 0 0 10px 0 !important;
    font-size: 1.1rem !important;
    font-weight: bold;
}
.col-blue,
.col-blue a {
    color: #559ab1;
}

.col-red {
    color: #aa4333;
}

.privacy-terms {
    margin: 0 30px 0 20px;
}
.next-button a {
    margin: 0 auto;
}

.mbox-pad .mbox-content div.next-button,
.mbox-pad .mbox-content div.row {
    padding: 0 !important;
}

.mbox-pad .mbox-content div.row {
    width: 578px;
}

.center-button {
    padding: 8px 0 !important;
    text-align: center !important;
}