﻿<div class="container-fluid top-spacer">
    <div class="row">
        
        <div class="col-xs-12 col-sm-9 col-sm-push-3" ui-view="page">

        </div>
        <div class="col-xs-12 col-sm-3 col-sm-pull-9" ui-view="sidebar">

        </div>
    </div>
</div>
