﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">Support Document Download</h1>

    <p class="text-content">

        Your myGOLO membership enables you to download a variety of the most common and widely used GOLO forms and documents in convenient, printable PDF format.
    </p>
    <p class="text-content">
        <strong>Didn’t see what you were looking for?</strong>
    </p>
    <p class="text-content">Send us an email and we’ll do our best to post items that assist with your weight loss.<br/><a href="mailto:support@golo.com" class="homepage-links">Support@golo.com</a></p>
    <center>
        <div ng-include="'view/layout/PdfDownload.html'"></div>
    </center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/seasonal/fall-2016/Autumn-Meal-Plan-11-7-to-11-13.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/autumn_meal_plan.jpg" class="img-responsive" alt="Autumn Meal Plan" />
                        </div>
                        <div class="download-item-title">Autumn Meal Plan 11/7</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/seasonal/fall-2016/Autumn-Meal-Plan-Shopping-List-11-7-to-11-13.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/autumn_shop_list.jpg" class="img-responsive" alt="Autumn Meal Plan Shopping List" />
                        </div>
                        <div class="download-item-title">Shopping List 11/7</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/seasonal/fall-2016/Autumn-Meal-Plan-10-31-to-11-6-ec.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/autumn_meal_plan.jpg" class="img-responsive" alt="Autumn Meal Plan" />
                        </div>
                        <div class="download-item-title">Autumn Meal Plan 10/31</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/seasonal/fall-2016/Autumn-Meal-Plan-Shopping-List-10-31-to-11-6.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/autumn_shop_list.jpg" class="img-responsive" alt="Autumn Meal Plan Shopping List" />
                        </div>
                        <div class="download-item-title">Shopping List 10/31</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/7_Day_Kickstart_plan.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/7_day_kickstart.jpg" class="img-responsive" alt="7 Day Kickstart Cover" />
                        </div>
                        <div class="download-item-title">7 Day Kickstart Plan</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Matrix_Meal_Recipes.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/creating_matrix_meals.jpg" class="img-responsive" alt="Creating Matrix Meals - Recipes Cover" />
                        </div>
                        <div class="download-item-title">Creating Matrix Meals Recipes</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Smart_Card.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/smart_card.jpg" class="img-responsive" alt="GOLO Smart Card" />
                        </div>
                        <div class="download-item-title">GOLO Smart Card</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Fuel_Log.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/fuel_log.jpg" class="img-responsive" alt="Fuel Log" />
                        </div>
                        <div class="download-item-title">Fuel Log</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Matrix_Meals_expanded_fuel_index.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/expanded_fuel_index.jpg" class="img-responsive" alt="Expanded Fuel Index" />
                        </div>
                        <div class="download-item-title">Expanded Fuel Index</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Shopping_List.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/shopping_list.jpg" class="img-responsive" alt="GOLO Shopping List" />
                        </div>
                        <div class="download-item-title">Shopping List</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/Results_Tracking_Chart.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/results_tracking.jpg" class="img-responsive" alt="Results Tracking" />
                        </div>
                        <div class="download-item-title">Results Tracking</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Fit_Points.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/fit_points.jpg" class="img-responsive" alt="Fit Points" />
                        </div>
                        <div class="download-item-title">Fit Points</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="Downloads/GOLO_Weekly_Fitness_Planner.pdf" class="download-link" target="_blank">
                    <div class="download-item">
                        <div class="download-image">
                            <img src="images/downloads/weekly_fit_commitment.jpg" class="img-responsive" alt="Weekly Fit Commitment" />
                        </div>
                        <div class="download-item-title">Weekly Fit Commitment</div>
                    </div>
                </a>
            </div>
        </div>







        <div class="row">
            <div class="col-xs-12 col-md-6">
                <br />
                <a href="http://www.adobe.com/go/getreader" target="_blank" class="pdf-link"><img src="images/get_reader_pdf_icon_cm.gif" alt="Get Adobe Reader" /></a>
            </div>
            <div class="col-xs-12 col-md-6">
                &nbsp;
            </div>
        </div>
        <center>

        </center>
    </div>

</div>