﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">GOLO Fit</h1>
    <h2 class="text-content-heading">Perfect 5 and Fit Points</h2>
    <p class="text-content">
        <a href="Downloads/GOLO_Fit_Points.pdf" class="pdf-link" target="_blank">
            <img src="images/mygolo/perfect-5-collage.jpg" alt="GOLO Smart Card Cover" class="pull-right" />
        </a>
        Chances are you have lost muscle with previous dieting. The more you diet and the less you exercise, the worse it gets. The body loses muscle as it ages. Did you know you can lose 1 pound of muscle every year after the age of 35 unless you strength train?
    </p>
    <p class="text-content">
        The Perfect 5 exercise system was designed by GOLO to give you an effective exercise program that anyone can do in the privacy of their own home in just minutes a day. Follow the exercises in the Perfect 5 booklet to earn Fit Points and get leaner and
        more toned.
    </p>
    <p class="text-content gry-hilite">Exercise the GOLO Way!</p>
    <p class="text-content">
        The Perfect 5 exercise system was designed by GOLO to give you an effective exercise program that anyone can do in the privacy of their own home in just minutes a day. Follow the exercises in the Perfect 5 booklet to earn Fit Points and get leaner and
        more toned.
    </p>
    <p class="text-content"><strong>GOLO Burst Training:</strong> Burst training is high intensity interval training where you increase the intensity of the exercise for short bursts of time and then rest for a short period, and repeat. Bursting can be added to ANY workout or
        exercise activity such as walking or cardio machines.</p>
    <p class="text-content"><strong>GOLO Spot Training:</strong> Spot Training (strength training) is where you exercise large muscle groups or individual muscle groups, completing a range of repetitions and bringing the muscles close to fatigue. This enables the muscle to rebuild
        stronger and shaping the muscle.</p>
    <p class="text-content blu-hilite">Fit Points</p>
    <p class="text-content">The GOLO Fit Points allow you to keep track of your exercise activity. Fit Points get added to your Fuel Allowance, which means you get to eat more! You can keep track of your Fit Points on the Fuel Logs, or if you want a more detailed exercise planner,
        download our fitness schedule worksheet from the Downloads page of myGOLO.</p>
    <a href="Downloads/GOLO_Fit_Points.pdf" class="pdf-link" target="_blank"><img src="images/pdf_icon.gif" alt="PDF"> GOLO Fit Points</a>
    <hr/>
    <h2 class="text-content-heading">GOLO Fit</h2>
    <p class="text-content">You are embarking on a new journey, one that will change your life and GOLO will be there every step of the way.</p>
    <p class="text-content">Reading through all the materials is essential for success. The more you know the better. Take your time and make sure you understand all aspects of GOLO before starting. Follow the GOLO Rescue Plan Get Started Guide for the best steps to success.</p>
    <p class="text-content">Complete your Personal Assessment here on myGOLO to learn your Insulin Resistance score and Metabolic Age. Complete the exercises in the Defeating Emotional Eating booklet to help you identify your triggers and obstacles and guide you through breaking
        bad habits and adopting new healthy ones.</p>
    <p class="text-content"><strong>Additional GOLO Support Materials:</strong></p>
    <p class="text-content">We recommend that you take advantage of your myGOLO membership. Not only will you be able to track your results easily online, but myGOLO offers other great benefits only available to GOLO members. Read about current events on health and weight related
        issues, fitness advice, recipes and much more. Even after you have reached your goals you will be able to keep your GOLO membership.</p>
    <hr/>
    <h2 class="text-content-heading">Beat Gym Intimidation</h2>
    <p class="text-content">Getting fit does not require a gym membership. However, gyms do offer equipment, classes, training, and other amenities that help make working out convenient and safe.</p>
    <p class="text-content">You may have avoided going to a gym for any number of reasons. Maybe you belonged to a gym before and never used it, or you didn't see results. Perhaps you feel that you won't be as advanced as other members, or are afraid people will stare. There
        are plenty of ways to talk yourself out of going to a gym, but what benefit is that to you? Being fit is about getting as healthy as possible.</p>
    <p class="text-content">A good gym can offer a great place to lose weight, gain muscle, improve your health, and feel good about yourself. Plus, you can meet other health conscious people that can assist you on your journey. You won't get that sitting on a couch!</p>
    <p class="text-content gry-hilite">
        <img src="images/mygolo/workout_1_balls.jpg" class="pull-left" alt="Excercising on Yoga Balls"> Choosing a Gym
    </p>
    <p class="text-content">Select the right gym for you: Location is everything. If it takes you 30 minutes just to get to the gym, you probably won't go as often. The gym should offer equipment and services that you would want or need, such as group classes, day-care for the
        kids, a pool, lockers, etc.</p>
    <p class="text-content">Before joining the gym: Talk with personnel and tell them you are new or haven't been for a while. Tell them your fitness goals and ask for guidance on the best way to get started. Most gyms offer free trials, whether it's a day or week. You should
        also be offered an orientation, fitness assessment and maybe even some time to talk with a trainer to set up a program that is achievable.</p>
    <p class="text-content"><strong>Once You Join</strong></p>
    <p class="text-content">Now that you have decided to join a gym, here are some things to keep in mind. Everyone was a beginner at some point. Other members are there with the same thing in mind as you, to get fit and healthy. It doesn't matter if they are in better shape
        than you; everyone has their own starting point.</p>
    <p class="text-content">Fitness is about progress not perfection. Start slowly. Don't jump into an overzealous routine and end up burned out or injured. Set goals, but break them down into manageable tasks; daily, weekly or monthly. If you have a question about something:
        ask! Staff and even other members like to help if you have a question about an exercise or piece of equipment.</p>
    <p class="text-content gry-hilite">
        <img src="images/mygolo/workout_3_treadmill.jpg" class="pull-right"> Taking Advantage of What Your Gym Offers
    </p>
    <p class="text-content">Classes are a great way to get comfortable and have fun exercising. In group classes you have companionship and an instructor who will lead you through the program. Most gyms offer a variety of classes for all skill levels allowing you to find something
        you will enjoy doing.</p>
    <p class="text-content">Group class tip: If possible show up a few minutes before trying a new class and tell the instructor this is your first class. He/she will give you some pointers on how to modify exercises if necessary and will keep an eye on you during the class
        without drawing attention to you.</p>
    <p class="text-content"><strong>Strength machines:</strong> Machines are a great way to build muscle and help maintain correct form. Don't worry too much about how much weight you are using until you have mastered the exercise and correct form. Start slow by focusing on
        your large, main muscle groups. (Legs, Chest, Back and Arms)</p>
    <p class="text-content"><strong>Swim:</strong> If your gym has a pool this is a great way to get a workout without putting too much strain on your body. Water aerobics are a common gym workout for older or obese exercisers. Larger people have better range of motion in the
        water and can get a better workout. Swimming laps is a great exercise too!</p>
    <p class="text-content"><strong>Free weights:</strong> Start slow and have someone with you who can help. Only lift enough that you can maintain complete control of the weight throughout the entire range of motion for the exercise.</p>
    <p class="text-content"><strong>Cardio:</strong> Cardio workouts are important, but make sure they are not the only thing you do. Start slowly. You want to build up to where you can do your workout for 30 minutes straight, whether walking, biking, or running. This means
        you may only be able to start by doing 10 minutes of cardio gradually building up your endurance and incorporate Bursts into your cardio workouts or break up a 30 minute cardio workout with some strength training on machines or with free weights.</p>
    <p class="text-content"><strong>Cardio tips:</strong> Don't distract yourself with a magazine or book. If you are able to read then you are reading, not exercising. You should be tuned into your body and what you are doing and avoid distractions.</p>
    <p class="text-content">Focus on breathing and listening to your body. You can always add music once you have a developed a sense for your body's endurance and are more comfortable with working out.</p>
    <p class="text-content"><strong>Always stretch AFTER your workout:</strong> You might be sore a day or two after you exercise, but don't let this discourage you. The soreness will lessen the fitter you get. Stretching after exercise will help you relax your muscles and correct
        muscle imbalances. If you stretch before a workout always warm up before strength training (walk, jog, star jumps, etc.).</p>
    <p class="text-content gry-hilite">
        <img src="images/mygolo/workout_2_guys.jpg" class="pull-left"> Gym Workout Tips
    </p>
    <p class="text-content">Keep some regularity with your routine in the beginning. This will allow you to feel comfortable with the gym and working out. Gradually add new exercises, classes and activities.</p>
    <p class="text-content">Plan in advance what region of the body you will focus on. If necessary do some research in advance so you are prepared for what to expect.</p>
    <p class="text-content">Write down your workout, exercises or new machines youve tried and how much weight you used. It's a great way to track your progress</p>
    <p class="text-content"><strong>Be patient!</strong> Getting fit takes time but if you stick with it, you will see results.</p>
    <p class="text-content">Find a partner to join and go with you and make the commitment to hold each other accountable.</p>
    <p class="text-content">Eat before and after you go to the gym. Don't go to the gym hungry.</p>
    <p class="text-content">Always have water on hand to stay hydrated.</p>
    <p class="text-content gry-hilite">Keep Yourself Motivated</p>
</div>