﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">GOLO Graduates</h1>
    <p class="text-content">
        Meet some of the people who have had success with GOLO. It is great to lose weight and trim inches off the waist, but what you see here are people who have defeated emotional eating, learned to prepare better foods, and began to work exercise into their
        lifestyle. The result is a better body, but also a better outlook on life.
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Kendra</h2>
                <p class="text-content">
                    Lost 19 pounds and 4 dress sizes!
                </p>
                <p class="text-content quoted">
                    "GOLO really helped with my snacking and junk food cravings. GOLO taught me a great deal about eating the right foods so I can feel healthy and not gain weight."


                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/kendra_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Kendra: GOLO really helped with my snacking and junk food cravings. GOLO taught me a great deal about eating the right foods so I can feel healthy and not gain weight.">
                    <img src="images/mygolo/success/kendra_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Ron</h2>
                <p class="text-content">
                    Lost 65 pounds and 8 inches from his waist!
                </p>
                <p class="text-content quoted">
                    "Before starting GOLO I didn't realize I was sabotaging my weight loss efforts by eating ‘healthy' protein bars. I could've lost way more weight if I hadn't been eating them."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/ron_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Ron: Before starting GOLO I didn't realize I was sabotaging my weight loss efforts by eating ‘healthy' protein bars. I could've lost way more weight if I hadn't been eating them.">
                    <img src="images/mygolo/success/ron_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Gwen</h2>
                <p class="text-content">
                    Lost 61 pounds and 5 dress sizes!
                </p>
                <p class="text-content quoted">
                    "With GOLO you can make the change, you don't have to continue living in a body you're ashamed of. What I gained over the past 22 years, I lost in 1 year!"
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/gwen_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Gwen: With GOLO you can make the change, you don't have to continue living in a body you're ashamed of. What I gained over the past 22 years, I lost in 1 year!">
                    <img src="images/mygolo/success/gwen_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Nombu</h2>
                <p class="text-content">
                    Lost 48 pounds and dropped 3 dress sizes!
                </p>
                <p class="text-content quoted">
                    "This is the first time I have been able to lose the weight and keep it off."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/nombu_BnA_102516.jpg" class="swipebox img-responsive" title="Nombu: This is the first time I have been able to lose the weight and keep it off.">
                    <img src="images/mygolo/success/nombu_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Sherry</h2>
                <p class="text-content">
                    Lost 30 total inches and 5 dress sizes!
                </p>
                <p class="text-content quoted">
                    "With GOLO I have more energy! I get up earlier and want to work out. I never did before."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/sherry_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Sherry: With GOLO I have more energy! I get up earlier and want to work out. I never did before.">
                    <img src="images/mygolo/success/sherry_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Bob</h2>
                <p class="text-content">
                    Lost 36 pounds and eliminated all medications!
                </p>
                <p class="text-content quoted">
                    "I'm in my sixties and in the best shape and lowest weight since the past 40 years!"
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/bob_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Bob: I'm in my sixties and in the best shape and lowest weight since the past 40 years!">
                    <img src="images/mygolo/success/bob_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Patrick</h2>
                <p class="text-content">
                    Lost 97 pounds and and 11 inches from his waist!
                </p>
                <p class="text-content quoted">
                    "I was always feeling tired, feeling sleepy. Since I've been on GOLO I'm much more energetic. I spend more time playing with my kids and my wife says I'm a better husband, which makes me feel good."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/patrick_BnA_102516.jpg" class="swipebox img-responsive" title="Patrick: I was always feeling tired, feeling sleepy. Since I've been on GOLO I'm much more energetic. I spend more time playing with my kids and my wife says I'm a better husband, which makes me feel good.">
                    <img src="images/mygolo/success/patrick_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Susie</h2>
                <p class="text-content">
                    Lost 44 pounds and 32 total inches!
                </p>
                <p class="text-content quoted">
                    "Over the past few years I've struggled with my weight. My job is stressful and I didn't realize how much of an emotional eater I was until I started GOLO."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/susie_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Susie: Over the past few years I've struggled with my weight. My job is stressful and I didn't realize how much of an emotional eater I was until I started GOLO.">
                    <img src="images/mygolo/success/susie_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Marguerite</h2>
                <p class="text-content">
                    Lost 29 pounds and 26 total inches!
                </p>
                <p class="text-content quoted">
                    "My husband keeps telling me how great I look!"
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/marguerite_BnA_102516.jpg" class="swipebox img-responsive" title="Marguerite: My husband keeps telling me how great I look!">
                    <img src="images/mygolo/success/marguerite_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Welcome</h2>
                <p class="text-content">
                    In only 27 weeks lost 33 pounds.
                </p>
                <p class="text-content quoted">

                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/welcome_BnA_102516.jpg" class="swipebox img-responsive" title="Welcome">
                    <img src="images/mygolo/success/welcome_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Jacques</h2>
                <p class="text-content">
                    Lost 65 pounds and over 16 inches from his waist
                </p>
                <p class="text-content quoted">
                    "I'm bursting with energy, and I feel 20 years younger!"that I was twenty years ago."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/jacques_t_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Jacques: I'm bursting with energy, and I feel 20 years younger! That I was twenty years ago.">
                    <img src="images/mygolo/success/jacques_t_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Gary</h2>
                <p class="text-content">
                    Lost 41 pounds and 9 pant sizes!
                </p>
                <p class="text-content quoted">
                    "GOLO allowed me to step back into life and pursue my dreams."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/gary_BnA_102516.jpg" class="swipebox img-responsive" title="Gary: GOLO allowed me to step back into life and pursue my dreams.">
                    <img src="images/mygolo/success/gary_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Helene</h2>
                <p class="text-content">
                    Lost 38 pounds and eliminated medication!
                </p>
                <p class="text-content quoted">
                    "All my friends were asking me what I was doing to look so good and wanted to join me! With GOLO I've been able to get off my cholesterol medication, and have blood sugar levels that are better than they've ever been."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/helene_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Helene: All my friends were asking me what I was doing to look so good and wanted to join me! With GOLO I've been able to get off my cholesterol medication, and have blood sugar levels that are better than they've ever been.">
                    <img src="images/mygolo/success/helene_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Carlos</h2>
                <p class="text-content">
                    Lost 26 pounds and 7 inches from his waist!
                </p>
                <p class="text-content quoted">
                    "Before GOLO I was a stress eater and felt my health was in jeopardy. Through GOLO I've learned how to make the right choices and maintain an active lifestyle."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/carlos_BnA_102516.jpg" class="swipebox img-responsive" title="Carlos: Before GOLO I was a stress eater and felt my health was in jeopardy. Through GOLO I've learned how to make the right choices and maintain an active lifestyle.">
                    <img src="images/mygolo/success/carlos_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 profile">
                <h2>Courtney</h2>
                <p class="text-content">
                    Lost 37 pounds and 27 total inches!
                </p>
                <p class="text-content quoted">
                    "The GOLO lifestyle is what I'm committed to for the rest of my life With GOLO I feel fabulous!"
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/courntey_BnA_102516.jpg" class="swipebox img-responsive" title="Courtney: The GOLO lifestyle is what I'm committed to for the rest of my life With GOLO I feel fabulous!">
                    <img src="images/mygolo/success/courntey_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Carrie</h2>
                <p class="text-content">
                    Lost 22 pounds and 5 dress sizes!
                </p>
                <p class="text-content quoted">
                    "I haven't been this size since high school. For the first time in 15 years I achieved this goal that I thought would never happen."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/carrie_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Carrie: I haven't been this size since high school. For the first time in 15 years I achieved this goal that I thought would never happen.">
                    <img src="images/mygolo/success/carrie_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-6 profile">
                <h2>Michelle</h2>
                <p class="text-content">
                    Lost 52 pounds and 5 dress sizes!
                </p>
                <p class="text-content quoted">
                    "I've done so many weight loss programs- I've done them all, GOLO is the only program I've ever done that I have never deprived myself of anything."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/michelle_BnA_102516.jpg" class="swipebox img-responsive" title="Michelle: I've done so many weight loss programs- I've done them all, GOLO is the only program I've ever done that I have never deprived myself of anything.">
                    <img src="images/mygolo/success/michelle_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Sharon</h2>
                <p class="text-content">
                    Lost 48 pounds and dropped 3 dress sizes!
                </p>
                <p class="text-content quoted">
                    "Before GOLO, I felt sick, tired, uncomfortable and insecure, every day of my life. Now I am healthier, fit, comfortable and very confident. GOLO has changed my life forever!"
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/sharon_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Sharon: Before GOLO, I felt sick, tired, uncomfortable and insecure, every day of my life. Now I am healthier, fit, comfortable and very confident. GOLO has changed my life forever!">
                    <img src="images/mygolo/success/sharon_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-6 profile">
                <h2>Pat</h2>
                <p class="text-content">
                    Lost 36 pounds and 5 dress sizes!
                </p>
                <p class="text-content quoted">
                    "I was certain that GOLO wouldn't work - I've tried and failed others. However, I was proved so very wrong."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/pat_BnA_Success_060716.jpg" class="swipebox img-responsive" title="Pat: I was certain that GOLO wouldn't work - I've tried and failed others. However, I was proved so very wrong.">
                    <img src="images/mygolo/success/pat_BnA_Success_060716.jpg" alt="image" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 profile">
                <h2>Mark</h2>
                <p class="text-content">
                    Lost 32 pounds and 7 inches from his waist!
                </p>
                <p class="text-content quoted">
                    "I had about 25 pounds to lose but my real concern was my health. It was easy to follow GOLO."
                </p>
                <a rel="GreatExpectations" href="images/mygolo/success/mark_BnA_102516.jpg" class="swipebox img-responsive" title="Mark: I had about 25 pounds to lose but my real concern was my health. It was easy to follow GOLO.">
                    <img src="images/mygolo/success/mark_BnA_102516.jpg" alt="image" class="img-responsive">
                </a>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    ;
    (function($) {

        $('.swipebox').swipebox();

    })(jQuery);
</script>