﻿<div class="content-page-container">
<h1 class="content-page-top-heading">Health News</h1>
<h2 class="text-content-heading" >Insulin in Weight Management</h2>
<p class="text-content">
   Many of us think that insulin is important only for diabetics. This is not true. Insulin is a critical hormone for everyone. It's the hormone that regulates weight gain or weight loss.
</p>
<p class="text-content">
    Obesity and insulin: In addition to causing fat storage, insulin also controls the environment inside the fat cell and the body's ultimate energy storeroom. Acting as storeroom manager, Insulin's primary goal is to fill the storeroom to the maximum. This includes protecting the fat by preventing its release back into the bloodstream. The enzyme hormone-sensitive lipase also plays an important role in this process. Acting as the dispatch manager, this enzyme's only role is to release as much fat as possible from the fat cell, to be burned as energy. If insulin is present, however, this function is overruled and the enzyme's action is prevented. Only when insulin levels drop can this enzyme release fatty acids into the bloodstream.
</p>
<p class="text-content">
    <strong>How insulin stimulates the production of fat:</strong>
    </p>
<p class="text-content">When more glucose than can be used enters the system, insulin promotes the conversion of the excess glucose into fatty acids. The fatty acids are then transported to the body's fat stores and deposited as fat.</p>
<p class="text-content">Insulin increases the utilization of glucose by most of the body's tissues as an energy source, thus acting as a fat conserver. This automatically decreases the utilization of fat for energy.</p>
<p class="text-content">Insulin protects the body's stored energy by actively blocking the release of fat from the fat cells by inhibiting the action of the enzyme hormone-sensitive lipase that causes the breakdown of fat already stored in the fat cells, thus preventing the release of fatty acids.</p>
<p class="text-content">Insulin used to protect our ancestors from famine by stockpiling energy reserves. We now consume more high energy food as well as too much food, but from a genetic standpoint, insulin still performs the same tasks.</p>
<p class="text-content">How Insulin affects the Metabolism: Insulin is the driver of the metabolism and the way the body uses digested food for energy. The digestive tract breaks down carbohydrates into glucose. With the help of insulin, cells throughout the body absorb glucose and use it for energy.</p>
<p class="text-content">In healthier people, insulin is correctly balanced with the amount of glucose that enters the bloodstream from the small intestine and liver. With normal insulin levels, recently ingested fats are used for energy during a 2 hour period after a meal. If high insulin levels are present, fat is more likely to be stored in fat cells. If insulin levels are chronically high, you cannot burn body fat.</p>
<p class="text-content">Other hormones are affected adversely when insulin is high. This causes the body to react in unhealthy patterns that inhibit its ability to recover its normal metabolism. Leptin, insulin, sex and growth hormones affect appetite, metabolism and body fat distribution. Obese people have levels of these hormones that encourage abnormal metabolism.</p>
<p class="text-content">When you are insulin resistant and glucose cannot enter your cells, the cells are starved for fuel. They signal the brain to increase insulin which results in sugar cravings. Most diets and diet products do not control insulin, and often increase insulin production causing excessive muscle loss, rather than fat loss, during caloric deficit. Diet products have essentially made the population fatter. To regulate insulin, it takes all four food groups: Healthy fats, quality protein, complex carbohydrates, fruits and vegetables.</p>
<hr/>
<h2 class="text-content-heading">Cheap Food, High Cost</h2>
<p class="text-content">Dollar menus and dollar deals may sound good at the time, but Americans are paying the price for the cheap food they consume. Americans used to spend more than 17% of their disposable income on food in the 1960s compared to just over 9% today, and much less than other countries. That can be confusing because Americans are much heavier than they used to be. The bottom line is they are getting more food substances for less money. So quantity has increased, while quality decreased.</p>
<p class="text-content">According to Michael Pollan: <strong>Cheap food is an illusion</strong>. There is no such thing as cheap food. The real cost of the food is paid somewhere. And if it isn't paid at the cash register, it's charged to the environment or to the public in the form of subsidies. And it's charged to your health.</p>
<p class="text-content">You get what you pay for. Processed foods are cheap because they are filled with high-fructose corn syrup, grains, and factory farmed meats. All of these ingredients receive Government subsidies.</p>
<p class="text-content">Animals raised in confined animal feed operations (CAFOs) pay one of the highest prices for Americans cheap food. The typical CAFO can house tens of thousands of animals (and in the case of chickens, 100,000) under one roof, in nightmarish, unsanitary, disease-ridden conditions.</p>
<p class="text-content"></p>
<p class="text-content"></p>
<hr/>
<h2 class="text-content-heading">Eat Right and Look Better</h2>
<p class="text-content">According to Fernando Gomez-Pinilla, UCLA professor of neurosurgery and physiological science, "Food is like a pharmaceutical compound that affects the brain." Diet, exercise and sleep have the potential to alter our brain health and mental function. Food can impact our state of mind: affecting mood, stress, and even focus and clarity. Different foods can drain energy and impair cognitive function, as others create a heightened sense of focus and energy.</p>
<p class="text-content">Anxiety, stress or a foggy mind can be the result of a food allergy or sensitivity. Common food allergens that may create a subtle physical reaction include sugar, saturated fats, wheat and dairy. This reaction may have a negative effect on the body's ability to nourish the brain. Nutrients that support proper nourishment for better physical and mental function include:</p>
<p class="text-content">Omega 3 fatty acids: Fish, nuts, olive oil and avocado all contain healthy Omega 3s</p>
<p class="text-content">Vitamin D: Eggs contain Vitamin D, not commonly found in food, can improve cognitive function and boost mood levels</p>
<p class="text-content">Protein: Found in meat, cheese, eggs, fish, nuts and seeds: The chemicals your brain needs to regulate thoughts and feelings come from the amino acids in protein</p>
<p class="text-content">Magnesium: Leafy greens contain magnesium that can boost energy levels</p>
<p class="text-content">The Gut & Brain Connection: Your gut and brain communicate with each other and use many of the same chemicals. Foods to support a healthy gut include fruits and vegetables and foods that contain probiotics like yogurt and fermented foods.</p>

</div>