<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div ng-include="'view/layout/MetabolicRate.html'"></div>
        </div>
        <div class="col-xs-12 col-md-6">


            <div ng-include="'view/layout/PdfDownload.html'"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <p class="homepage-intro">
                <img src="images/lets_get_started.jpg" style="float:left;padding-right:10px">
                <span class="col-blue"><strong>myGOLO</strong></span> is your unique, personalized site where you will find all the tools and resources necessary to get the best results from the GOLO program. At <span class="col-blue"><strong>myGOLO</strong></span>                you can view your account information, use the myTracking tab to monitor your progress, as well as view and download your Metabolic Health Analysis (Personal Assesment), and re-order Release supplements.
            </p>
        </div>
        <div class="col-xs-12 col-sm-5">
            <script src="http://fast.wistia.com/embed/medias/fqi8p17ti4.jsonp" async></script>
            <script src="http://fast.wistia.com/assets/external/E-v1.js" async></script>
            <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                    <div class="wistia_embed wistia_async_fqi8p17ti4 seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 homepage-block">
            <a ui-sref="content.golorescueplan" class="homepage-links-image">
                <img src="images/golo-rescue-plan.svg" alt="GOLO Rescue Plan" class="img-responsive svg-image">
                <img src="images/news/rescue_plan_small.jpg" alt="Metabolic Health Analysis, 7 Day Kickstart Plan, GOLO for Life, Metabolic Fuel Matrix, Smart Card" class="img-responsive">
            </a>
            <p>Essential information to get you started with GOLO. Today is the day to start.</p>
            <a ui-sref="content.golorescueplan" class="homepage-links">Learn More &gt;</a>
        </div>
        <div class="col-xs-12 col-sm-4 homepage-block">
            <a ui-sref="content.golograduates" class="homepage-links-image">
                <h2 class="title">GOLO Graduates</h2>
                <img src="images/news/great_expectations_small.jpg" class="img-responsive">

            </a>
            <p>Learn the stories of some of the people who have come before you and stood in your shoes. Inspiring stories.</p>
            <a ui-sref="content.golograduates" class="homepage-links">Learn More &gt;</a>
        </div>
        <div class="col-xs-12 col-sm-4 homepage-block">
            <a ui-sref="content.healthnews" class="homepage-links-image">
                <h2 class="title">Health News</h2>
                <img src="images/news/health_news_small.jpg" class="img-responsive">

            </a>
            <p>Get the facts about the diet, food, and healthcare industries to help you make the right decisions.</p>
            <a ui-sref="content.healthnews" class="homepage-links">Learn More &gt;</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 homepage-block">
            <a ui-sref="content.tipsrecipes" class="homepage-links-image">
                <h2 class="title">Tips & Recipes</h2>
                <img src="images/news/tips_recipes_small.jpg" class="img-responsive">

            </a>
            <p>GOLO shows you how to cook delicious meals using real food. See how to expand your choices in flavorful fuel.</p>
            <a ui-sref="content.tipsrecipes" class="homepage-links">Learn More &gt;</a>
        </div>
        <div class="col-xs-12 col-sm-4 homepage-block">
            <a ui-sref="content.golofit" class="homepage-links-image">
                <h2 class="title">GOLO Fit</h2>
                <img src="images/news/golofit_small.jpg" class="img-responsive">

            </a>
            <p>Discover simple exercises which help you get started with being more active. Start slow and build a little each day.</p>
            <a ui-sref="content.golofit" class="homepage-links">Learn More &gt;</a>
        </div>
        <div class="col-xs-12 col-sm-4 homepage-block">
            <a ui-sref="content.support" class="homepage-links-image">
                <h2 class="title">Support</h2>
                <img src="images/news/support_small.jpg" class="img-responsive">

            </a>
            <p>Our customer service staff is here to guide you with understanding the GOLO Rescue Plan, and supporting your journey.</p>
            <a ui-sref="content.downloads" class="homepage-links blu">Downloads</a><br/>
            <a ui-sref="content.support" class="homepage-links">Learn More &gt;</a>
        </div>
    </div>
    <div class="homepage-bottom-links">
        <a ui-sref="content.downloads" class="hp-downloads"><img src="images/downloads.jpg" alt="Downloads" border="0"></a><a href="https://www.facebook.com/GOLO4life/?view_public_for=416345998448711" target="_blank" class="hp-facebook">Like us on Facebook <img src="images/like_us_on_facebook.jpg" alt=""></a>
    </div>
</div>