﻿<div class="content-page-container" ng-controller="AccountCtrl as acvm">
    <h1 class="content-page-top-heading">My Account <i class="fa fa-spinner fa-pulse" ng-hide="acvm.DataLoaded"></i></h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-push-8">
                <img src="UserResourceHandler.ashx?id=1" alt="Profile Picture" class="img-responsive" style="min-width:100%;" ng-hide="acvm.UploadedNewProfilePic" />
                <img src="{{acvm.ProfileImageUrl}}" alt="Profile Picture" class="img-responsive" style="min-width:100%;" ng-show="acvm.UploadedNewProfilePic" />
                <br/>
                <button class="btn btn-primary form-control" ng-click="acvm.PhotoEdit = !(acvm.PhotoEdit)" ng-hide="acvm.PhotoEdit">Change Photo</button>
                <div ng-show="acvm.PhotoEdit">
                    <input type="file" name="file" accept="image/*" ngf-select ng-model="acvm.PictureFile" />
                    <div class="progress" ng-show="acvm.PictureFile.progress !=0">
                        <div style="width:{{acvm.PictureFile.progress}}%" ng-bind="acvm.PictureFile.progress"></div>
                    </div>
                    <span ng-click="acvm.UploadClicked(1)" class="btn btn-default">Upload Photo</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-pull-4">
                <div class="profile-display" ng-hide="acvm.Edit">
                    <div class="profile-inner" ng-show="acvm.DataLoaded">
                        <dl>
                            <dt>Username</dt>
                            <dd>{{ acvm.AccountInfo.NickName }}</dd>
                            <dt>Email</dt>
                            <dd>{{ acvm.AccountInfo.Email }}</dd>
                            <dt>Full Name</dt>
                            <dd>{{ acvm.AccountInfo.FirstName }}&nbsp;{{ acvm.AccountInfo.LastName }}</dd>
                            <dt>Last Updated</dt>
                            <dd>{{ acvm.AccountInfo.Updated }}</dd>
                        </dl>
                        <p class="text-content" ng-show="acvm.Message != ''">{{ acvm.Message }}</p>
                        <button class="btn btn-primary" ng-click="acvm.Edit = !(acvm.Edit)">Edit</button>&nbsp;
                        <!--<a href="#/health-analysis" class><img src="images/mygolo/metabolic_health_anaylis_review.svg" height="34"></a>--><a href="#/health-analysis" class="btn btn-primary btn-liteblu">Retake <strong>Metabolic Health Analysis</strong></a>
                    </div>

                </div>
                <form name="acvm.accountForm" class="form form-horizontal" ng-show="acvm.Edit" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : acvm.accountForm.Username.$invalid && !acvm.accountForm.Username.$pristine }">
                        <label class="col-xs-4 control-label" for="Username">Username</label>
                        <div class="col-xs-8">
                            <input name="Username" type="text" class="form-control" placeholder="Enter a Username" ng-model="acvm.AccountInfo.NickName" ng-model-options="{ updateOn: 'blur' }" ng-change="acvm.CheckUsername()" required/>
                            <p ng-show="acvm.accountForm.Username.$error.required" class="help-block">A Username is required</p>
                            <p ng-show="acvm.accountForm.Username.$error.existing" class="help-block">That Username address is already in use.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : acvm.accountForm.Email.$invalid && !acvm.accountForm.Email.$pristine }">
                        <label class="col-xs-4 control-label" for="Email">Email</label>
                        <div class="col-xs-8">
                            <input name="Email" type="email" class="form-control" placeholder="Enter Your Email" ng-model="acvm.AccountInfo.Email" ng-model-options="{ updateOn: 'blur' }" ng-change="acvm.CheckEmail()" required/>
                            <p ng-show="acvm.accountForm.Email.$error.required" class="help-block">An Email is required</p>
                            <p ng-show="acvm.accountForm.Email.$error.existing" class="help-block">That Email address is already in use.</p>
                            <p ng-show="acvm.accountForm.Email.$error.email" class="help-block">You must enter a valid email address.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="Password">Password</label>
                        <div class="col-xs-8">
                            <input name="Password" type="password" class="form-control" placeholder="Enter a Password" ng-model="acvm.AccountInfo.Password" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : acvm.accountForm.FirstName.$invalid && !acvm.accountForm.FirstName.$pristine }">
                        <label class="col-xs-4 control-label" for="FirstName">First Name</label>
                        <div class="col-xs-8">
                            <input name="FirstName" type="text" class="form-control" placeholder="Enter Your First Name" ng-model="acvm.AccountInfo.FirstName" required/>
                            <p ng-show="acvm.accountForm.FirstName.$error.required" class="help-block">A First is required</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : acvm.accountForm.LastName.$invalid && !acvm.accountForm.LastName.$pristine }">
                        <label class="col-xs-4 control-label" for="LastName">Last Name</label>
                        <div class="col-xs-8">
                            <input name="LastName" type="text" class="form-control" placeholder="Enter Your Last Name" ng-model="acvm.AccountInfo.LastName" required/>
                            <p ng-show="acvm.accountForm.LastName.$error.required" class="help-block">A Last Name is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="Address1">Address 1</label>
                        <div class="col-xs-8">
                            <input name="Address1" type="text" class="form-control" placeholder="Enter Your Street Address" ng-model="acvm.AccountInfo.Street1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="Address2">Address 2</label>
                        <div class="col-xs-8">
                            <input name="Address2" type="text" class="form-control" placeholder="Suite / Apartment / Unit" ng-model="acvm.AccountInfo.Street2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="City">City</label>
                        <div class="col-xs-8">
                            <input name="City" type="text" class="form-control" placeholder="Enter Your City" ng-model="acvm.AccountInfo.City">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : acvm.accountForm.Country.$invalid && !acvm.accountForm.Country.$pristine }">
                        <label class="col-xs-4 control-label" for="Country">Country</label>
                        <div class="col-xs-8">
                            <select name="Country" class="form-control" ng-model="acvm.AccountInfo.Country">
                            <option value="">-Country-</option>
                            <option value="USA">United States</option>
                            <option value="CA">Canada</option>
                        </select>
                            <p ng-show="acvm.accountForm.Country.$error.required" class="help-block">A Country is required</p>
                        </div>
                    </div>

                    <div class="form-group" ng-if="acvm.AccountInfo.Country == 'USA'" ng-class="{ 'has-error' : acvm.accountForm.State.$invalid && !acvm.accountForm.State.$pristine }">
                        <label class="col-xs-4 control-label" for="State">State</label>
                        <div class="col-xs-8">
                            <select name="State" class="form-control" ng-model="acvm.AccountInfo.State">
                            <option value="">-State-</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DC">District of Columbia</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                            <option value="PR">Puerto Rico</option>
                        </select>
                            <p ng-show="acvm.accountForm.State.$error.required" class="help-block">A State is required</p>
                        </div>
                    </div>
                    <div class="form-group" ng-show="acvm.AccountInfo.Country == 'CA'" ng-class="{ 'has-error' : acvm.accountForm.Province.$invalid && !acvm.accountForm.Province.$pristine }">
                        <label class="col-xs-4 control-label" for="Province">Province</label>
                        <div class="col-xs-8">
                            <select name="Province" class="form-control" ng-model="acvm.AccountInfo.Province">
                            <option value="">-Province-</option>                                            
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NU">Nunavut</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YT">Yukon</option>
                        </select>
                            <p ng-show="acvm.accountForm.Province.$error.required" class="help-block">A Province is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="Zip">Zip</label>
                        <div class="col-xs-8">
                            <input name="Zip" type="text" class="form-control" placeholder="Enter Your Zip Code" ng-model="acvm.AccountInfo.Zip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" for="Phone">Phone</label>
                        <div class="col-xs-8">
                            <input name="Phone" type="text" class="form-control" placeholder="Enter Your Phone Number" ng-model="acvm.AccountInfo.Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">&nbsp;</label>
                        <div class="col-xs-8">
                            <button class="btn btn-primary" type="button" ng-click="acvm.CancelEdit()">Cancel</button>&nbsp;<button class="btn btn-primary" type="button" ng-click="acvm.SaveEdit()" ng-disabled="(acvm.accountForm.$invalid || acvm.CheckingEmail || acvm.CheckingUsername)">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>