﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">myGOLO Support Options</h1>
    <h2 class="text-content-heading">How do I contact GOLO if I have questions?</h2>
    <p class="text-content">
        Our GOLO experts are available by phone or email to answer your questions and offer support, free of charge.
    </p>
    <p class="text-content">
        Call customer support at 1-800-730-GOLO (4656)
    </p>
    <p class="text-content">Email us at: <a href="mailto:support@golo.com" class="homepage-links">support@golo.com</a>.</p>
    <h2 class="text-content-heading">Can I reorder Release supplements by phone?</h2>
    <p class="text-content">Yes. Simply call us at 1-800-730-GOLO (4656)</p>
    <p class="text-content">Visit <a href="/" class="homepage-links" target="_blank">Shop GOLO</a> to reorder Release online now.</p>
    <div class="homepage-bottom-links">
        <a href="https://www.facebook.com/GOLO4life/?view_public_for=416345998448711" target="_blank" class="hp-facebook pull-left">Like us on Facebook <img src="images/like_us_on_facebook.jpg" alt=""></a>
    </div>
    <p class="text-content"><a ui-sref="content.downloads" class="homepage-links">Support Documents Download</a></p>
    <p class="text-content"><a ui-sref="terms" class="homepage-links">Privacy Policy, Guarantee, Terms &amp; Conditions</a></p>
</div>