﻿
<div class="container-fluid" style="padding-top:25px;padding-bottom:25px;">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="content-page-top-heading">Privacy, Guarantee, Terms & Conditions</h1>
            <h2 class="text-content-heading">Privacy Policy</h2>
            <p class="text-content"><strong>Your Personal Information:</strong></p>
            <p class="text-content">Your Personal Information:Your confidentiality is assured. GOLO does not sell, rent, or lease any personal information to any third parties, for any reason. We use your personal information strictly for internal purposes. We may share your information with companies that perform services for us (such as customer service, fulfillment, and shipping) but they may not disclose your information for other purposes.</p>
            <p class="text-content"><strong>Your personal information on www.golo.com or mygolo.com is safe and encrypted:</strong></p>
            <p class="text-content">We value the privacy of your personal information. When you enter information such as a credit card number on our order forms, we encrypt the information using secure socket layer technology (SSL). We adhere to industry standards to protect your personal information submitted to us. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security. We do not store credit card information in written or digital form.</p>
            <h2 class="text-content-heading">What is the GOLO guarantee?</h2>
            <p class="text-content">GOLO comes with a 30-day money back guarantee so you have time to receive the GOLO Rescue Plan and get started. GOLO is an affordable, effective, and lasting weight loss solution that works when followed and has been significantly discounted so that the greatest number of people possible can benefit from it. We also ship it to you for free.</p>
            <p class="text-content"><strong>Refund and Return Policy:</strong></p>
            <p class="text-content">By following GOLO our customers have saved money by getting healthier and our team at GOLO has worked very hard to provide you with a product that works and we all hope that you will make a commitment to GOLO and yourself. However, if you wish to return your product please contact us at (800) 730-GOLO (4656) for a return authorization number and for return instructions so we can process your return and refund. Please note GOLO does not pay the return shipping costs and you are responsible for this.</p>
            <p class="text-content">Refused shipments will incur the shipping costs GOLO is charged by the shipper for refused shipments and any other fees incurred for the refused return shipment. These charges will be deducted from your refund. Please also note that if you return GOLO your membership to myGOLO will be deactivated and you will no longer have access.</p>
            <p class="text-content"><strong>Is GOLO an Auto-Ship Auto-Bill Company?</strong></p>
            <p class="text-content">No. Every customer is unique and we believe it is in their best interest to order additional supplements at their own discretion, without being burdened by an auto ship program that may or may not align with their specific needs. You can buy additional Release supplements at your discretion at any time. The decision is yours to make, and shipping is free.</p>
            <p class="text-content"><strong>Shipping:</strong></p>
            <p class="text-content">GOLO will normally ship all orders the next business day if possible. Orders are shipped via USPS, UPS, FEDEX or other comparable shippers. Credit cards will not be charged unless inventory is available and the order is ready to be shipped.</p>
            <h2 class="text-content-heading">Terms and Conditions</h2>
            <p class="text-content"><strong>Customer Support:</strong></p>
            <p class="text-content">GOLO’s customer support team is available Monday to Friday, 9am to 5pm EST, to assist you with any questions. You can reach our customer support team at 1-800-730-GOLO (4656).</p>
            <p class="text-content">You can also contact customer support by email at support@golo.com. Your order can be tracked online and instructions for tracking will be provided with email order and shipping confirmations.</p>
            <p class="text-content"><strong>Use of Our Website:</strong></p>
            <p class="text-content">By using our website (www.golo.com or mygolo.com) you agree to be legally bound and to abide by these terms and conditions. We may from time to time make changes or additions to these terms and conditions without notifying you. We encourage you to review our terms and conditions periodically for changes.</p>
            
            <p class="text-content"><strong>Content:</strong></p>
            <p class="text-content">You understand and acknowledge that all content, whether privately or publicly posted or transmitted, is the sole responsibility of the person from whom such content originated. You, not GOLO, are responsible for all content that you post, upload, email, transmit, or make available on the website. GOLO does not control the content (GOLO may or may not pre-screen content) and does not guarantee the accuracy, integrity, or quality of content. GOLO will not be liable for any content or loss or damage of any kind incurred as a result of the use of any content made available on the website.</p>
            <p class="text-content">GOLO may access and/or disclose your account and content if required to by law or in good faith belief that such access is reasonably necessary to 1) enforce our Terms and Conditions, 2) respond to claims including legal processes, 3) respond to your requests for customer service, or 4) to protect GOLO, its users and the public.</p>
            <p class="text-content"><strong>Opting out of Information from GOLO:</strong></p>
            <p class="text-content">GOLO will periodically update you on news, product information, and offers. You may opt out of these by selecting opt out under your account setup, selecting opt out on any electronic communication, calling customer service at 1-800-730-GOLO (4656), or emailing us at support@golo.com.</p>
            <p class="text-content"><strong>Cookies:</strong></p>
            <p class="text-content">We use cookies (small text files that are stored on a user’s computer for record-keeping purposes) to collect anonymous information about how you use this site by setting and accessing cookies on your computer. The cookies track information such as how often you visit our site, what pages you view, and where you go after you leave our site. The cookies are not connected to your personal information.</p>
            <p class="text-content"><strong>Web Beacons:</strong></p>
            <p class="text-content">We use web beacons to help us manage content on our site by informing us what content is effective. (Beacons are a small graphic with a unique identifier, similar in function to cookies, which are used to track the online movements of web users. Beacons are embedded invisibly on web pages and are not stored on a user’s computer hard drive.) The information gathered by web beacons does not tie into your personal identifiable information.</p>
            <p class="text-content"><strong>Becoming a Registered User:</strong></p>
            <p class="text-content">When you create an account on our website, you agree to provide accurate and complete information about yourself. GOLO has the right to suspend or terminate your account if you are suspected of providing false information. The responsibility for maintaining the confidentially of your account is yours. GOLO will not be liable or responsible for any loss or damage that arises from any unauthorized use, access, or any other breach of security of your Account. You agree not to: 1) post, upload, email, or otherwise make available any content that is fraudulent, deceptive, unlawful, harmful, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful, or is otherwise objectionable; 2) impersonate any person, business or entity, including, but not limited to, GOLO and its employees or agents; 3) harass, victimize, intimidate or stalk an individual or group of individuals whether on the basis or religion, gender, orientation, race, ethnicity, age, disability or otherwise; 4) manipulate identifiers in order to disguise the origin of any content; 5) upload, post, email, transmit or otherwise make available: (a) any content that you do not have a right to make available under any law or contract (b) any content that infringes on any intellectual property or proprietary rights of any third party, including patent, trademark, trade secret, copyright, and/or publicity rights or (c) any material that contains software viruses or any other computer codes, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; 6) interfere with or disrupt the Site or servers or networks connected to the Site or interfere with any other party’s use and enjoyment of the Site; 7) gain or attempt to gain unauthorized access to the site, accounts, computer systems or networks via hacking, password mining or any other means; 8) transmit, directly or indirectly, any unsolicited bulk communications, including emails and instant messages; 9) violate any applicable local, state or federal laws, rules and/or regulations or 10) violate these terms or any policy posted on this site.</p>
            <p class="text-content"><strong>License:</strong></p>
            <p class="text-content">When you submit or post something on www.golo.com, you grant GOLO the license to use such content in any form of media.</p>
            <p class="text-content"><strong>Indemnification:</strong></p>
            <p class="text-content">You agree to hold and indemnify GOLO and its subsidiaries, affiliates, officers, agents, and employees harmless from any and all liabilities, claims, demands, actions, suits, losses, obligations, judgments, proceedings, damages, expenses, and costs (including reasonable attorneys’ fees), based on, arising from or related to (a) content you post, transmit, submit, modify or make available on the Site; (b) your use of the Site; (c) your connection to the Site; (d) your breach or attempted breach of these Terms; or (e) your violation of any third party rights.</p>
            <p class="text-content"><strong>Disclaimer:</strong></p>
            <p class="text-content">Your use of this website is at your sole risk. The products, content and materials on this website are provided “as is” and without warranties of any kind, whether implied or expressed including but not limited to warranties of title, merchantability, fitness for a particular purpose and non-infringement. GOLO does not represent that your use will be uninterrupted, timely, secure or free from error or that any errors will be corrected.</p>
            <p class="text-content"><strong>Copyright:</strong></p>
            <p class="text-content">You agree and understand that GOLO, LLC shall not be liable to you for anything relating to our website.</p>
            
            <p class="text-content"><strong>Limitation:</strong></p>
            <p class="text-content">GOLO respects the intellectual property of others, and we ask our users to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, please contact us.</p>
            <p class="text-content">GOLO, LLC 1501 Casho Mill Rd. Suite #11 Newark, DE 19711 1-302-781-4260 support@golo.com</p>
            <p class="text-content"><strong>Children:</strong></p>
            <p class="text-content">Children under 16 need their parent or guardian’s permission to use our site.</p>
            <p class="text-content"><strong>Health Disclaimer:</strong></p>
            <p class="text-content">GOLO offers weight loss management and information and is intended only to assist users in their personal weight loss efforts. GOLO is not a medical organization. The GOLO staff cannot give you medical advice or diagnosis. Nothing contained in this website or in the materials provided by GOLO should be construed as a diagnosis or treatment. The information and reports generated by GOLO should not be interpreted as a substitute for physician consultation, evaluation, or treatment. You are urged and advised to seek the advice of a physician before beginning any weight loss regimen. This website is intended for use only by healthy adult individuals who have been cleared by a physician to start a weight loss program. It is not intended for use by minors, pregnant women, or individuals with any type of health condition. Such individuals are specifically warned to seek professional medical advice prior to initiating any form of weight loss effort or regimen.</p>
            <p class="text-content"><strong>General:</strong></p>
            <p class="text-content">The content of these terms and conditions is the entire agreement between you and GOLO, LLC and it governs your use of the website. The laws of the state of Delaware shall govern these terms and conditions.</p>
            <a class="homepage-links" data-dismiss="modal" onclick="window.history.back();">&lt;&lt; Return to the previous page</a>

        </div>
       
    </div>
    <div class="golo-support-card">
        <div>GOLO Support 1-800-730-4656</div>
        <div><a href="mailto:support@golo.com">support@golo.com</a></div>
    </div>
</div>