﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">Tips &amp; Recipes</h1>

    <div>
        <p class="text-content">
            <a href="Downloads/GOLO_Matrix_Meal_Recipes.pdf" class="pdf-link" target="_blank">
                <img src="images/mygolo/matrix_recipes_cover.jpg" class="pull-right">
            </a>
            GOLO Matrix Meals provide you many opportunities to explore new foods and mix and match old favorites. Here are several traditional meals and stir-fry meals, plus some quick breakfast suggestions.
        </p>
        <p class="text-content">
            There are more ideas in the Creating Matrix Meals recipe download. Along with recipe ideas, there are some great ideas for preparing food, particularly for newer cooks who may not be familiar with fish or easy one pan dishes.
        </p>
        <a href="Downloads/GOLO_Matrix_Meal_Recipes.pdf" class="pdf-link" target="_blank"><img src="images/pdf_icon.gif" alt="PDF"> Creating Matrix Meals Recipes</a>
        <div class="clearfix"></div>
    </div>
    <h3 class="text-content-sub-heading">Seasonal Recipes to Download</h3>
    <a href="Downloads/seasonal/fall-2016/Autumn_SuperFuel.pdf" class="pdf-link" style="color:black;" target="_blank">
        Autumn Superfuel
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Banana-Pancakes.pdf" class="pdf-link" style="color:black;" target="_blank">
        Banana Pancakes
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Ginger_Salmon.pdf" class="pdf-link" style="color:black;" target="_blank">
        Ginger Salmon
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Mini_Chicken_Pot_Pies.pdf" class="pdf-link" style="color:black;" target="_blank">
        Mini Chicken Pot Pies
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Sweet_Potato_Chicken_Salad.pdf" class="pdf-link" style="color:black;" target="_blank">
        Sweet Potato Chicken Salad
    </a><br/>
    <a href="Downloads/seasonal/fall-2016/Pumpkin-Chili.pdf" class="pdf-link" style="color:black;" target="_blank">
        Pumpkin Chili
    </a><br/>
    <a href="Downloads/seasonal/fall-2016/Autumn-Chicken.pdf" class="pdf-link" style="color:black;" target="_blank">
        Autumn Chicken
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Apple-Cinnamon-Refrigerator-Oatmeal.pdf" class="pdf-link" style="color:black;" target="_blank">
        Apple Cinnamon Refrigerator Oatmeal
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Meatloaf-Cupcakes.pdf" class="pdf-link" style="color:black;" target="_blank">
        Meatloaf Cupcakes
    </a><br />
    <a href="Downloads/seasonal/fall-2016/GOLO-Salad.pdf" class="pdf-link" style="color:black;" target="_blank">
        GOLO Salad
    </a><br />
    <a href="Downloads/seasonal/fall-2016/Egg-Bites.pdf" class="pdf-link" style="color:black;" target="_blank">
        Anytime Egg Bites
    </a>
    <h2 class="recipe-group-heading">Look at the Following GOLO Matrix Meals &amp; See How Easy It Is!</h2>
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/beef_pasta_veggie.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Lean Beef with Whole Wheat Pasta &amp; Mixed Vegetable</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 170</strong></p>
                <p class="text-content">6 ounce beef: 90<br />1/2 cup whole wheat pasta: 45<br />Sauted peppers and onions: 20<br />Olive oil for cooking: 15</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/steak_salad_bread.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Steak Salad</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 170</strong></p>
                <p class="text-content">3 ounce beef: 45 <br />2 cups (2 portions) mixed salad: 20 <br />3 ounce feta cheese: 35 <br />Slice of bread with butter: 55<br />GOLO dressing: 15</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/shrimp_pasta_veggie.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Shrimp Stir-fry</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 105</strong></p>
                <p class="text-content">3 ounce shrimp: 35 <br />1 cup asparagus: 10 <br />1/2 cup whole wheat pasta: 45 <br />Olive oil: 15</p>
            </div>
        </div>
    </div>
    <h2 class="recipe-group-heading">Traditional Meals</h2>
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/beef_pasta_veggie.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Steak with Sweet Potatoes &amp; Broccoli</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 150</strong></p>
                <p class="text-content">6 ounce lean beef: 90 <br />1 cup broccoli: 10<br />1 small sweet potato: 40 <br />1 teaspoon butter: 10<br />Option:<br />Add 1 1/2 cup mixed salad with GOLO dressing: +35</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/salad_salmon_rice.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Salmon with Brown Rice &amp; Broccoli</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 135</strong></p>
                <p class="text-content">6 ounce salmon: 70 <br />1/2 cup brown rice: 45 <br />1 1/2 cup broccoli: 10 <br />Butter: 10</p>
            </div>
        </div>
    </div>
    <h2 class="recipe-group-heading">Quick &amp; Healthy Breakfast</h2>
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/eggs_fruit_dish_bread.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Egg, Fruit &amp; Toast</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 145</strong></p>
                <p class="text-content">2 hardboiled eggs: 50 <br />1/2 cup berries: 40 <br />1 slice bread with butter: 55</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/egg_grapes_bread.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Egg Bite &amp; Toast</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 155</strong></p>
                <p class="text-content">2 Egg Bites - made with eggs and vegetables: 50 <br />1/2 cup grapes: 50 <br />1 slice of bread with butter: 55</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid recipe">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <img src="images/mygolo/recipes/ham_avocado_fruit.jpg" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <h3 class="recipe-heading">Oatmeal, Fruit, Canadian Bacon &amp; Avocado</h3>
                <p class="text-content"><strong>Total GOLO Fuel Values: 195</strong></p>
                <p class="text-content">1/2 cup oatmeal: 45 <br />1/2 cup berries: 40 <br />2 ounce Canadian bacon: 75 <br />1/4 avocado: 35</p>
            </div>
        </div>
    </div>

</div>