﻿<h1 class="personal-metabolic-rate" ng-controller="MetabolicRateCtrl as mrcvm">
    <span ng-if="mrcvm.MetabolicRate">Your Personal Metabolic Rate is {{ mrcvm.MetabolicRate }}</span></h1>
    <span ng-if="mrcvm.LoggedIn">You are logged in</span>
    </h1>
