
    <img src="{{phcvm.ImageUrl}}" alt="{{phcvm.AltText}}" class="img-responsive" style="width:100%"  ng-controller="PageHeaderCtrl as phcvm"/>

<!--<div class="sub-header">
    <img src="/images/headers/banner-4.jpg" alt="Your Best YOU. Starting Right Now...and never ending" class="img-responsive" />
</div>-->