﻿<span class="download-MHA" ng-controller="PdfCtrl as pcvm">
    <a id="PDFDownload" href="/tracking/#/mha-results" style="cursor: pointer" target="_blank" ng-if="pcvm.PDFAvailable">
        <img src="images/assesment_download_pdf_icon.gif" class="img-responsive" />
    </a>
    <!--<a id="PDFDownload" ng-href="{{ pcvm.PDFUrl }}" download="MetabolicHealthAnalysis">
        <img src="/golo/images/assesment_download_pdf_icon.gif" class="img-responsive" />
    </a>-->
</span>
