﻿<div class="sidebar" ng-controller="SidebarCtrl as sbcvm">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="content.golorescueplan" ng-class="{active: sbcvm.checkActive('content.golorescueplan')}">GOLO Rescue Plan</a>
            <ul class="sidebar-sub-menu" ng-show="sbcvm.checkSubMenu('golorescueplan')">
                <li><a href="/pages/golo-rescue-plan/7-day-kickstart-plan.html" ng-class="{active: sbcvm.checkActive('content.golorescueplan.kickstart')}">7 Day Kickstart Plan</a></li>
                <li><a href="/pages/golo-rescue-plan/golo-for-life.html" ng-class="{active: sbcvm.checkActive('content.golorescueplan.goloforlife')}">GOLO for Life</a></li>
                <li><a href="/pages/golo-rescue-plan/metabolic-fuel-matrix.html" ng-class="{active: sbcvm.checkActive('content.golorescueplan.metabolicfuelmatrix')}">Metabolic Fuel Matrix</a></li>
                <li><a href="/pages/golo-rescue-plan/smart-card.html" ng-class="{active: sbcvm.checkActive('content.golorescueplan.smartcard')}">Smart Card</a></li>
                <li><a ui-sref="content.golorescueplan.mytracking" ng-class="{active: sbcvm.checkActive('content.golorescueplan.mytracking')}">myTracking</a></li>
            </ul>
        </li>
        <li><a href="/pages/golo-graduates.html" ng-class="{active: sbcvm.checkActive('content.golograduates')}">GOLO Graduates</a></li>
        <li><a href="/pages/health-news.html" ng-class="{active: sbcvm.checkActive('content.healthnews')}">Health News</a></li>
        <li><a href="/pages/tips-and-recipes.html" ng-class="{active: sbcvm.checkActive('content.tipsrecipes')}">Tips &amp; Recipes</a></li>
        <li><a href="/pages/golo-fit.html" ng-class="{active: sbcvm.checkActive('content.golofit')}">GOLO Fit</a></li>
        <li><a href="/pages/support.html" ng-class="{active: sbcvm.checkActive('content.support')}">Support</a></li>
        <li><a href="/customer/account/" ng-class="{active: sbcvm.checkActive('content.myaccount')}">My Account</a></li>
        <li><a href="/pages/downloads.html" ng-class="{active: sbcvm.checkActive('content.downloads')}">Downloads</a></li>
        <li><a href="/" >Shop GOLO</a></li>
    </ul>
</div>
