﻿<div class="top-header" ng-controller="TopHeaderCtrl as thcvm">
    <div class="header-content">
        <div class="header-logo" href="/">

            <img src="images/updated/mygolo_logo.svg" alt="my GOLO" />
        </div>
        <div class="header-right">
            <div class="header-links">
                <span ng-show="thcvm.Welcome != ''">{{ thcvm.Welcome }}</span> | <a href="/customer/account/">My Account</a> |
                <a href="/customer/account/logout/">Logout</a>
            </div>

            <ul class="">
                <li><a href="/products.html" target="_blank">Shop GOLO</a></li>
                <li><a ui-sref="content.golorescueplan.mytracking">myTracking</a></li>
                <li><a href="/pages/downloads.html">Downloads</a></li>
            </ul>

        </div>
    </div>
</div>