﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">7-Day Kickstart Plan</h1>
    <h2 class="text-content-heading">Kickstart Your Weight Loss</h2>
    <p class="text-content">
        <a href="Downloads/7_Day_Kickstart_plan.pdf" class="pdf-link pull-right" target="_blank">
            <img src="images/mygolo/7day_kickstart.jpg" alt="My GOLO 7 Day Kickstart Plan Cover" /></a>
        A new way of eating can be overwhelming. The 7 Day Kickstart Plan makes it easy! By the end of one week, you will be familiar with how the GOLO Metabolic Fuel Matrix works, and will have made significant lifestyle changes. GOLO's 7 Day Kickstart Plan
        is an intervention to prevent further damage to your body, promote healing and help get you started on your GOLO journey. These changes will set you up for a lifetime of good health.
    </p>
    <p class="text-content">
        The 7 Day Kickstart Plan utilizes the unique GOLO Metabolic Fuel Matrix for optimal insulin control, and focuses on eating a variety of "powerfoods" that will cleanse, reduce inflammation, and can help relieve health issues that may be sabotaging your
        weight loss efforts. On the GOLO 7 Day Kickstart Plan you will eat three nutritious and filling meals each day, and up to 2 snacks if needed. Certain foods, such as dairy, grains and red meat are omitted from the Kickstart Plan. Don't worry, you
        can reincorporate them as you transition to eating foods from the regular GOLO Matrix Meal Plan.
    </p>
    <p class="text-content">
        Other detox and cleanse diets focus on drastically reduced fat and calories plus significant restrictions. Some even promise a "miracle" fat-melting ingredient. These crash diets can be harmful to your health, are unsustainable and leave you irritable
        and hungry. They can even cause serious side effects like increased blood sugar levels and headaches because they do not provide enough nutrition for your body to function properly. GOLO's 7 Day Kickstart Plan provides the proper nutrition to
        fuel your body and you will be eating REAL FOOD all week rather than starving yourself.
    </p>
    <a href="Downloads/7_Day_Kickstart_plan.pdf" class="pdf-link" target="_blank"><img src="images/pdf_icon.gif" alt="PDF"> 7 Day Kickstart Plan</a>
</div>