<div class="content-page-container">
    <img src="images/golo-rescue-plan.svg" alt="GOLO Rescue Plan" class="img-responsive max-four-hundred">
    <p class="text-content">
        <img src="images/get-started_2.jpg" alt="GOLO Rescue Plan Get Started Guide" class="pull-right"> Welcome to myGOLO, lets get down to business. You purchased the <strong>GOLO Rescue Plan</strong> because you want to look better, feel better and
        be more active. You are tired of your weight or body standing in the way of the things you want to do in this life. In this section of myGOLO we are going to get into the nuts and bolts of your health. You will learn how to use the resources which
        came with your GOLO Rescue Plan, and how to utilize this web site. We have been busy redoing all of our essential literature, so some things might appear a little different to you, but the good news is that we have worked to simplify the GOLO
        plan, which helps everyone. The Smart Card (Cheat Sheet) is completely updated and much “smarter” than before. We believe it is an essential tool to get you started right, and so we offer it as a complimentary download.
    </p>
    <h2 class="text-content-heading">Metabolic Health Analysis</h2>
    <div ng-include="'view/layout/MetabolicRate.html'"></div>
    <p class="text-content">The Metabolic Health Analysis is a personal health assessment which estimates Insulin Resistance, metabolic age and lifestyle choices to calculate your Personal Metabolic Rate. The result also helps set initial goals for you to aim for. </p>
    <center>
        <div ng-include="'view/layout/PdfDownload.html'"></div>
    </center>
    <h2 class="text-content-heading">7 Day Kickstart Plan <span class="heading-button pull-right" ui-sref="content.golorescueplan.kickstart">more info</span></h2>
    <p class="text-content">GOLO's 7 Day Kickstart Plan is an intervention to prevent further damage to your body, promote healing and help get you started on your GOLO journey. A new way of eating can be overwhelming. The 7 Day Kickstart Plan makes it easy! By the end of one
        week, you will be familiar with how the GOLO Metabolic Fuel Matrix works, and will have made significant lifestyle changes.</p>
    <a ui-sref="content.golorescueplan.kickstart" class="homepage-links">
    Learn More >
</a>
    <h2 class="text-content-heading">GOLO for Life <span class="heading-button pull-right" ui-sref="content.golorescueplan.goloforlife">more info</span></h2>
    <p class="text-content">This area includes essential information for you to take charge of your health, and to understand some of the hidden factors which got you here in the first place. You will learn about behavior and habits that may have sabotaged your weight loss in
        the past. Learn the truth, and be ready to change. In our updated literature, the key concepts in Roadmap are presented in two new booklets: <span class="blu-hilite">30 Days to Better Health</span> and <span class="blu-drk-hilite">Defeating Emotional Eating</span>.</p>
    <a ui-sref="content.golorescueplan.goloforlife" class="homepage-links">
    Learn More >
</a>
    <h2 class="text-content-heading">Metabolic Fuel Matrix <span class="heading-button pull-right" ui-sref="content.golorescueplan.metabolicfuelmatrix">more info</span></h2>
    <p class="text-content">The Metabolic Fuel Matrix, in combination with the Release supplement, form the foundation of the GOLO plan to maximise fat loss and help reverse Insulin Resistance. Learn how to burn fat faster, plan meals, shop wisely, and dine out without freaking
        out. We will show you which Powerfoods will improve your health and help you feel stronger and more alert.</p>
    <p class="text-content">Pull out your booklet, <strong>Creating Matrix Meals</strong>, here you will see how to use normal everyday foods to make healthy meals which will maximise your metabolism. We show you how to prepare foods in advance for quick healthy meals and snacks
        throughout the week. Put all this together to create GOLO Superfuel meals, then season them to meet the taste preferences of you and your family.</p>
    <a ui-sref="content.golorescueplan.metabolicfuelmatrix" class="homepage-links">
    Learn More >
</a>
    <h2 class="text-content-heading">Smart Card <span class="heading-button pull-right" ui-sref="content.golorescueplan.smartcard">more info</span></h2>
    <p class="text-content">Completely redesigned, the GOLO Smart Card explains how to use your unique Personal Metabolic Rate, from the Metabolic Health Analysis, and learn how much fuel you can eat each day to maximise your weight loss without loosing muscle max. Get your
        complimentary Smart Card today.</p>
    <a ui-sref="content.golorescueplan.smartcard" class="homepage-links">
    Learn More >
</a>
    <h2 class="text-content-heading">myTracking </h2>
    <p class="text-content">At the top of each page is the myTracking tab, keeping all your vital information only a click away. You can track your daily and weekly progress, enter your fuel values and GOLO Fit Points, and even remind yourself how you are feeling throughout
        your progress.</p>
    <a ui-sref="content.golorescueplan.mytracking" class="homepage-links">
    Track My Progress >
</a>
    <div class="clearfix">&nbsp;</div>
</div>