﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">GOLO for Life</h1>
    <h2 class="text-content-heading">The GOLO for Life resources include:</h2>
    <h3 class="text-content-sub-heading">30 Days to Better Health</h3>
    <p class="text-content">

        <img src="images/mygolo/30_days_better_health_D-2.jpg" alt="30 Days to Better Health Cover" class="pull-right" /> Food and drug manufacturers have spent many years convincing us that their products are good for us. Unfortunately, we know that
        is not true.
    </p>
    <p class="text-content">
        How can that be when two-thirds of our society is overweight or obese and chronic illnesses like type 2 diabetes, heart disease, cancer, and others are more prevalent than ever before?
    </p>
    <p class="text-content"><strong>Take a look at these facts:</strong></p>
    <ul class="text-content">
        <li>1 in 3 will develop type 2 diabetes</li>
        <li>Diet products lead to weight gain and Insulin Resistance</li>
        <li>Side effects of medications: weight gain and Insulin Resistance</li>
        <li>Increases in health care and prescription costs</li>
    </ul>
    <p class="text-content">
        Unless things change, these statistics and facts will just get worse. Now is the time to make the decision to change.
    </p>
    <p class="text-content">
        Your <span class="blu-hilite">30 Days to Better Health</span> booklet is filled with information about the diet and healthcare industry that will help you make the right decisions about what you feed yourself and your family. Regain your vitality
        by rebelling against things that have brought you to where you are and take control of your weight, your health, and your life. Transition easily from unhealthy processed foods to whole foods that will give your body proper nutrition for improved
        health and sustainable weight loss.
    </p>
    <p class="text-content"><strong>Exercise Habits:</strong> The information in this booklet will help create awareness of the importance of exercising while showing you how SMARTER exercise can give you better results from exercising just a few minutes per day rather than
        spending hours in a gym.</p>
    <p class="text-content"><strong>Saving money:</strong> We all want more of that, don't we? With GOLO you can! Eliminating unhealthy foods and bad habits means you will have more money to spend on yourself and your family, for vacation or retirement. No more will you give
        your money to food manufacturers who have one thing on their minds: PROFIT, not your health. By getting healthy you may be able to reduce and eventually eliminate medications and the need for frequent doctor visits, which can result in significant
        savings.
    </p>
    <p class="text-content blu-hilite">Be a GOLO Statistic!</p>
    <hr/>
    <h3 class="text-content-sub-heading">Defeating Emotional Eating</h3>
    <p class="text-content">
        <img src="images/mygolo/defeating-_emotional_eating_D-2.jpg" alt="Defeating Emotional Eating Cover" class="pull-right" />
    </p>
    <p class="text-content">Now that you belong to the GOLO community, you may have realized it's time to take back your life and health. That can only be accomplished through changing bad patterns and habits, not controlling them short-term.</p>
    <p class="text-content">That may sound daunting, but CHANGE is easier than control.</p>
    <p class="text-content">Sustainable change is a process. Things don't happen overnight. The first step is to take ownership of the areas in your life that require change. Only then are you able to recognize how they have hurt you and apply a solution consistently until the
        old habit or pattern is no longer even a thought in your mind.</p>
    <p class="text-content">Your <span class="blu-drk-hilite">Defeating Emotional Eating</span> booklet guides you through areas that may be sabotaging your weight loss efforts.</p>
    <p class="text-content">Some areas that sabotage weight loss are:</p>
    <p class="text-content"><strong>Emotional eating:</strong> We often use food for comfort in both good times and bad. We have lost the real focus of food's purpose: to fuel the body! Reflect and read about ways to recognize your triggers and change your emotional eating habits.</p>
    <p class="text-content">Use the GOLO to guide you to a variety of healthy foods that you can prepare easily.</p>
    <hr/>
    <h3 class="text-content-sub-heading">GOLO LifeCards</h3>
    <p class="text-content">
        <img src="images/mygolo/sunflower_life_card.jpg" alt="Sunflower Life Card" class="pull-left" /> The LifeCards, developed in partnership with Dr. Keith Ablow, are located in the <span class="blu-drk-hilite">Defeating Emotional Eating</span> booklet.
        The GOLO LIfeCards were created to give you daily motivation to stay on your journey when life tries to push you off track. You can cut them out and post around your home, car or at work as reminders of your goals, and the positive change you
        have initiated. LifeCards cover a number of topics such as Stress, Loneliness, Anxiety, Anger, Frustration, Fatigue, and Boredom. The LifeCards help to define each of these, but offer realistic action items you can do today to fight back.
    </p>

    <hr/>
    <h3 class="text-content-sub-heading">Shopping for Good Food</h3>
    <p class="text-content">The GOLO lifestyle may mean changing some of your shopping habits. If you have been eating a diet full of processed foods, frozen dinners or boxed meals, then it is time to start saving money and making better choices in the market. We have created
        a simple shopping list you can put on the refrigerator and add your items on as the week goes by. The list is based on common foods including vegetables, meat and fish, dairy products, fruit, grains, and simple seasonings and staples.</p>
    <a href="Downloads/GOLO_Shopping_List.pdf" class="pdf-link" target="_blank"><img src="images/pdf_icon.gif" alt="PDF"> GOLO Shopping List</a>
</div>