﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">Metabolic Fuel Matrix</h1>
    <h2 class="text-content-heading">Food is Fuel</h2>
    <p class="text-content">

        <img src="images/mygolo/mfm_booklet_cover_D-2.jpg" alt="30 Days to Better Health Cover" class="pull-right" /> We call food Fuel because your body is like a car. It needs good fuel or it doesn't run well. Our GOLO Metabolic Fuel Matrix is designed
        to provide maximum energy and promote fat loss and not muscle loss. If you follow the Metabolic Fuel Matrix you will eat more, never be hungry and never be in diet isolation ever again.
    </p>
    <p class="text-content">
        Many of us have gotten into the habit of eating whenever we can or want, eating on the go (in the car or at our desks), or worse, skipping meals due to lack of time.
    </p>
    <p class="text-content">It's important to get in the good habit of fueling your body when it's hungry and consciously taking the time to eat healthy. Otherwise you find yourself reaching for ANYTHING and often something unhealthy. The way to control hunger is by managing
        your insulin levels. Typically we eat too many foods with sugar that spike our insulin and then crash later. Insulin Resistance occurs when your body produces more insulin because normal amounts of insulin are not enough for your body to turn
        the food you eat into energy. Your body then develops a resistance to insulin, gaining weight more quickly and becoming less successful at turning food and stored fat into energy.</p>
    <p class="text-content">
        GOLO teaches you how to manage your insulin levels by including insulin friendly foods from each food group. You will learn to prepare balanced meals which include the correct number of servings of each food group: Protein, Vegetables, Carbohydrates and
        Fats.
    </p>
    <h3 class="text-content-sub-heading">Key Fuel Tips from GOLO</h3>
    <p class="text-content">
        As you begin GOLO there are a couple of key tips to help you make better decisions. First, clean out your pantry, fridge and freezer of processed foods and any and all diet products including shakes and meal replacements. They serve no purpose and can
        sabotage your weight loss and health. Secondly, plan ahead by shopping and cooking your key GOLO foods in advance. Stick to your shopping list and avoid impulse purchases. We have prepared a shopping list to help remind you of healthy foods in
        the market, and to plan your purchases.
    </p>
    <a href="Downloads/GOLO_Shopping_List.pdf" class="pdf-link"><img src="images/pdf_icon.gif" alt="PDF"> GOLO Shopping List</a>
    <p class="text-content">By following the GOLO Metabolic Fuel Matrix, your body will reward you with:</p>
    <ul class="text-content">
        <li>Fat loss</li>
        <li>Improved digestion</li>
        <li>Disease prevention</li>
        <li>Increased energy and vitality</li>
        <li>Improved sleep</li>
        <li>Improved mood and less stress</li>
        <li>Pain reduction</li>
        <li>Hormone balance</li>


    </ul>
    <h3 class="text-content-sub-heading">Creating Matrix Meals</h3>


    <p class="text-content">GOLO believes that you don't have to be a chef to eat well and prepare great tasting meals. Rather than focusing on difficult recipes, focus on quality ingredients that are delicious even BEFORE you cook them! When you eat meals that are full of nutrients,
        you will have fewer cravings and you will stay fuller longer.</p>
    <p class="text-content">While you may be enticed by cost with processed, cheap foods, you will end up paying for them in the long run with medical bills, lost wages due to sickness, and a lower quality of life.</p>
    <p class="text-content">Purchase fresh, rather than packaged, frozen or processed foods. You will consume less and get the most nutrients. If possible, try purchasing grass-fed beef and chicken, organic eggs, and wild caught fish, fresh vegetables and fruits.</p>
    <p class="text-content">The better the quality the food, the less you need to eat, and the more satisfied it will keep you, saving you money.</p>
    <p class="text-content">By following the GOLO Metabolic Fuel Matrix and preparing the healthy foods on the GOLO Matrix Meal Plan, you can create great tasting, satisfying meals in minutes by just adding a few simple ingredients such as: lemon, olive oil, sea salt, fresh
        herbs and spices.</p>
    <hr />
    <h2 class="text-content-heading">Lets Get Cooking</h2>

    <p class="text-content">
        <img src="images/mygolo/creating_matrix_meals_D-2.jpg" alt="Creating Matrix Meals Cover" class="pull-right" /> The <span class="grn-hilite">Creating Matrix Meals</span> booklet has suggestions for herb and spice combinations to change the flavors
        of your basic prepared foods. So whether you want to flavor a dish Mediterranean style or Mexican, it takes just minutes. And, Creating Matrix Meals also includes the GOLO SuperFuel recipe, the easiest way to get proper nutrition for weight loss.
    </p>
    <p class="text-content">We have prepared some recipe ideas which follow these principles, and are easy to prepare and cook. The <a ui-sref="content.tipsrecipes">Tips &amp; Recipes</a> page includes several meal ideas, and there is a Matrix Meals Recipe booklet to download.</p>
    <h3 class="text-content-sub-heading">Matrix Meals Fuel Values</h3>
    <p class="text-content">People have been requesting we provide a more detailed list of foods and their related Fuel Value. This handy guide separates foods into Protein, Vegetables, Carbohydrates and Fats</p>

    <a href="Downloads/GOLO_Matrix_Meals_expanded_fuel_index.pdf" class="pdf-link"><img src="images/pdf_icon.gif" alt="PDF"> Matrix Meals Expanded Fuel List</a>
</div>