<div class="content-page-container">
    <h1 class="content-page-top-heading">myTracking</h1>

    <p class="text-content">
        <a href="#/progress-tracking" class="pdf-link pull-right">

        </a>
        The ability to track your progress will help you get the best results from GOLO. We encourage you to take time each week to enter your new information so that you can see the progress you are making.
    </p>
    <p class="text-content">Click to
        <!--review or !-->retake your <a href="#/health-analysis" class="homepage-links">Metabolic Health Analysis</a>.</p>
    <p class="text-content">Click to <a href="#/progress-tracking" class="homepage-links">Track Your Results</a>.</p>
        <p class="text-content">Click to <a href="#/mha-tracking" class="homepage-links">View Your Latest MHA Results</a>.</p>
    <p class="text-content">Click to edit your <a href="#/fuel-tracking" class="homepage-links">Fuel Log</a>.</p>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-4 text-center">
            <a href="#/health-analysis" class="pdf-link">
                <img src="images/mygolo/mytracking_mha.svg" alt="Metabolic Health Analysis" class="img-responsive" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <a href="#/progress-tracking" class="pdf-link">
                <img src="images/mygolo/results_tracking.svg" alt="Results Tracking" class="img-responsive" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <a href="#/fuel-tracking" class="pdf-link">
                <img src="images/mygolo/fuel_log_value.svg" alt="Fuel Log" class="img-responsive" />
            </a>
        </div>
    </div>
    <hr/>
    <div ng-include="'view/layout/MetabolicRate.html'"></div>
    <p class="text-content">
        Your Personal Metabolic Rate is unique to each person, and indicates the amount of Fuel (food) that you need each day to lose 1-2 pounds per week. You will add this number to your GOLO Fit Points to calculate your Daily Fuel Allowance (for more information
        see the Get Started Guide booklet, pg 6).
    </p>
    <div ng-include="'view/layout/PdfDownload.html'"></div>
    <p class="text-content">The Metabolic Health Analysis, which you took when first becoming a myGOLO member, gives you a snap shot of your health today. This personal assessment provides your Insulin Resistance score, metabolic age, processed food consumption, and stress and
        emotional eating value. The Metabolic Health Analysis also helps you set initial weight loss and waist reduction goals.</p>


</div>