﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">GOLO Smart Card</h1>
    <h2 class="text-content-heading">A quick reference cheat sheet</h2>
    <p class="text-content">
        <a href="Downloads/GOLO_Smart_Card.pdf" class="pdf-link pull-right" target="_blank">
            <img src="images/mygolo/smart_card_cover.jpg" alt="GOLO Smart Card Cover" />
        </a>
        The Smart Card is an essential tool for all GOLO participants. Designed with your refrigerator in mind, the card gives you all the basic information and tools in one place.
    </p>
    <p class="text-content">
        Designed in easy to follow steps, the Smart Card walks you through managing your daily fuel values, planning how to put together your Matrix Meals, entering values in your Fuel Log, and adding in your GOLO Fit Points. Your Personal Metabolic Rate is explained,
        and you can see how it applies to your fuel intake.
    </p>
    <p class="text-content">There is also a handy list of foods which may be hurting your weight loss efforts, and which you will want to limit or avoid.</p>

    <a href="Downloads/GOLO_Smart_Card.pdf" class="pdf-link" target="_blank"><img src="images/pdf_icon.gif" alt="PDF"> GOLO Smart Card</a>
</div>