﻿<style>
    table {
        width: 100%;
    }
    table thead {
        font-weight: bold;
    }
    .subitem {
        text-align: right;
    }
    .login-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<div class="container-fluid mha-data-summary" ng-controller="DataSummaryCtrl as vm">
    <div class="row">
        <div class="col-xs-12">
            <div class="content-page-container">
                <h1 class="content-page-top-heading">MHA Data Summary</h1>
                <div class="login-container" ng-show="!vm.LoggedIn">
                    UserName: <input ng-model="vm.Creds.UserName" /><br />
                    Password: <input ng-model="vm.Creds.Password" /><br />
                    <div>
                        <button ng-click="vm.Login()">Login</button>
                    </div>
                </div>
                <div ng-show="vm.LoggedIn">
                    <div class="form form-inline mha-data-filters">
                        <div class="form-group">
                            <label class="control-label">From Date:</label>
                            <input class="form-control datepicker" id="FromDate" name="FromDate" ng-model="vm.FormData.FromDate" validate-on="blur" required-message="'Please enter a date!'" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">To Date:</label>
                            <input class="form-control datepicker" id="ToDate" name="ToDate" ng-model="vm.FormData.ToDate" validate-on="blur" required-message="'Please enter a date!'" required />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="vm.Search()">Search</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered mha-results-table">
                            <thead>
                                <tr>
                                    <td>Attribute</td>
                                    <td>Total</td>
                                    <td>Male</td>
                                    <td>Female</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Row in vm.Data">
                                    <td ng-class="{subitem: Row.IsSubItem}">{{Row.Name || 'attribute name'}}</td>
                                    <td ng-if="Row.IsSubItem">{{Row.ValueTotal}}</td>
                                    <td ng-if="Row.IsSubItem">{{Row.ValueM}}</td>
                                    <td ng-if="Row.IsSubItem">{{Row.ValueF}}</td>
                                    <td ng-if="!Row.IsSubItem">{{Row.ValueTotal | number:2}}</td>
                                    <td ng-if="!Row.IsSubItem">{{Row.ValueM | number:2}}</td>
                                    <td ng-if="!Row.IsSubItem">{{Row.ValueF | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

</div>
    </div>
