﻿<style>
    .disabled-item {
        opacity: .5;
    }
    
    .fuel-bottom-controls {
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid" ng-controller="FuelTrackingCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="content-page-container">
                <h1 class="content-page-top-heading" style="margin:20px 0;">Fuel Log</h1>

                <p class="text-content">
                    <b>INSTRUCTIONS</b>: After entering your Personal Metabolic Rate and Fit Points Goal for the week, you'll be able to fill out your information for each day. To see your previous PMRs, click the info icon next to the text box.<br />
                </p>

                <div class="week-nav">
                    <div class="controls">
                        <div class="arrow" ng-click="vm.SwitchWeek('previous')"><i class="fa fa-backward"></i></div>

                        <i class="fa fa-calendar"></i>
                        <!--<h2>Week {{vm.Week}}</h2>-->
                        {{vm.WeekRange}}<br /><b<br /><br />
                        <span style="color: red">{{vm.StatusMessage}}</span>

                        <div class="arrow" ng-click="vm.SwitchWeek('next')"><i class="fa fa-forward"></i></div>
                    </div>

                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="fuel-bottom-controls">
                                Enter your Personal Metabolic Rate:
                                <input type="number" ng-model="vm.FuelTrackWeek.MetabolicRate" />
                                <a tabindex="0" role="button" id="popoverPMRHistory">
                                    <i class="fa fa-info-circle" aria-hidden="true" title="Recent Personal Metabolic Rates"></i>
                                </a>
                            </div>
                            <div class="fuel-top-controls">
                                Enter Fit Points Goal for the week:
                                <input type="number" ng-model="vm.FuelTrackWeek.FitPointsGoal" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button type="button" class="btn btn-tracking btn-save-fuel" ng-click="vm.SaveFuelTrackWeek()">Save</button>
                        </div>
                    </div>

                </div>

                <div class="table-wrapper" ng-class="{'disabled-item': !vm.FuelTrackWeek.Id}">
                    <table class="fuel-table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>
                                    Personal Metabolic Rate

                                    <a tabindex="0" role="button" id="popoverPMR">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </th>
                                <th>
                                    Fit Points
                                    <a tabindex="0" role="button" id="popoverFitPoints">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </th>
                                <th>
                                    Fuel Goal Total
                                    <a tabindex="0" role="button" id="popoverFuelGoalTotal">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </th>
                                <th>
                                    Fuel Consumed Today
                                    <a tabindex="0" role="button" id="popoverFuelConsumedToday">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </th>
                                <th>
                                    My Compliance
                                    <a tabindex="0" role="button" id="popoverMyCompliance">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Day in vm.Days">
                                <td>{{Day.Name || 'day'}}</td>
                                <td>{{vm.FuelTrackWeek.MetabolicRate}}</td>
                                <td>
                                    <input class="form-control" type="number" min="0" step="1" ng-model="Day.ActualFitPoints" ng-blur="vm.CalculateTotals(); vm.Save();" ng-disabled="!vm.FuelTrackWeek.Id" />
                                </td>
                                <td>{{Day.DailyFuelAllowance}}</td>
                                <td>
                                    <input class="form-control" type="number" ng-model="Day.ActualFuelConsumed" ng-blur="vm.CalculateTotals(); vm.Save();" ng-disabled="!vm.FuelTrackWeek.Id" />
                                </td>
                                <td>{{Day.MyCompliance | number:1}}<span ng-show="Day.MyCompliance !== ''">%</span></td>
                            </tr>
                            <tr class="totals-row">
                                <td>Total</td>
                                <td></td>
                                <td>{{vm.Totals.ActualFitPoints}}</td>
                                <td></td>
                                <td>{{vm.Totals.ActualFuelConsumed}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="fuel-table averages-table">
                    <thead>
                        <tr>
                            <th colspan="2">This Week's Averages</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Personal Metabolic Rate</td>
                            <td>{{vm.Averages.BaseFuelAllowance}}</td>
                        </tr>
                        <tr>
                            <td>Fuel Goal Total</td>
                            <td>{{vm.Averages.DailyFuelAllowance}}</td>
                        </tr>
                        <tr>
                            <td>Actual Fuel Consumed</td>
                            <td>{{vm.Averages.ActualFuelConsumed}}</td>
                        </tr>
                        <tr>
                            <td>My Compliance</td>
                            <td>{{vm.Averages.MyCompliance | number:1}}%</td>
                        </tr>
                        <tr>
                            <td>Fit Points</td>
                            <td>{{vm.Averages.ActualFitPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal golo-modal fade" id="savedModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Fuel Log Saved</h4>
                        </div>
                        <div class="modal-body">
                            <p>Your Fuel Log updates have been saved successfully.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>