﻿<!DOCTYPE html>
<html ng-app="GoloApp">

<head>
    <title>GOLO for Life | testing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/swipebox.min.css" />
    <link rel="stylesheet" href="css/site-style.css" />
</head>

<body>

    <div ui-view="topHeader">
        <div class="header-content">
            <div class="header-logo" ui-sref="default">
                <img src="images/updated/mygolo_logo.svg" alt="my GOLO" />
            </div>
            <div id="Top_Right" class="header-right">
                <div class="header-links">
                    {{ thcvm.Welcome }} |
                    <a href="logout.aspx">Logout</a>
                </div>

                <ul class="header-buttons">
                    <li><a href="/" target="_blank">Shop GOLO</a></li>
                    <li><a ui-sref="content.golorescueplan.mytracking">myTracking</a></li>
                    <li><a ui-sref="content.downloads">Downloads</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div ui-view="header"></div>
    <div ui-view="content" class="page-content"></div>
    <footer>
        <div class="logo">
            <img src="images/copyright.png" alt="GOLO for life" />
        </div>
        <div class="copyright">
            &copy; 2014-2016 GOLO, LLC
        </div>
    </footer>

    <script src="Scripts/jquery-2.0.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/bootstrap-slider.min.js"></script>
    <script src="Scripts/jquery.swipebox.min.js"></script>
    <script src="Scripts/angular-1.5.8.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/AngularValidator.js"></script>
    <script src="Scripts/ng-file-upload-shim.js"></script>
    <script src="Scripts/ng-file-upload.js"></script>
    <script src="Scripts/GoloApp.js"></script>
    <script src="Scripts/GoloService.js"></script>
    <script src="Scripts/AnalysisCtrl.js"></script>
    <script src="Scripts/layout/sidebarCtrl.js"></script>
    <script src="Scripts/layout/TopHeaderCtrl.js"></script>
    <script src="Scripts/layout/pageHeaderCtrl.js"></script>
    <script src="Scripts/layout/PdfCtrl.js"></script>
    <script src="Scripts/layout/MetabolicRateCtrl.js"></script>
    <script src="Scripts/content/AccountCtrl.js"></script>
    <script src="Scripts/mha-tracking.js"></script>
    <script src="Scripts/MHAQuestionnaireCtrl.js"></script>
    <script src="Scripts/MHAResultsPrintCtrl.js"></script>
    <script src="Scripts/ProgressTrackingCtrl.js"></script>

</body>

</html>