﻿<!DOCTYPE html>
<html ng-app="GoloApp">
<head>
    <title></title>
	<meta charset="utf-8" />

    <script src="../Scripts/angular-1.5.8.min.js"></script>
    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/AngularValidator.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../css/ng-custom.css" />
</head>
<body>
    <div class="form-horizontal col-md-12" ng-controller="MHAListCtrl as vm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="MHA in vm.MHAs">
                    <td>{{MHA.DateCreated}}</td>
                    <td>
                        <button class="btn" ng-click="vm.ViewMHA(MHA)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../Scripts/GoloApp.js"></script>
    <script src="../Scripts/GoloService.js"></script>
    <script src="../Scripts/MHAListCtrl.js"></script>
</body>
</html>
