<div class="container-fluid health-analysis-container" ng-controller="MHAQuestionnaireCtrl as vm">
    <div class="row">
        <div class="wizard-header" ng-show="vm.Step > 0">
                <!--<h1>My GOLO Metabolic Health Analysis</h1>-->
                <span class="step-indicator">Step {{vm.Step}} of 4</span>
            </div>
        <div class="col-xs-12">
            
             <center>
                <h2 ng-show="vm.Step == 1" class="blue-pdf-is-bold">Please complete your Metabolic Health Analysis</h2>
                <p ng-show="vm.Step < 4">Your confidential assessment will become part of your personalized weight loss plan.</p>

                <p ng-show="vm.Step == 3" class="lead">Rate the following on a scale of 1 to 10:</p>
            </center>
        </div>
    </div>
    <div class="row" ng-show="vm.Step == 0">
        <div class="col-xs-12">
             <center>
                    <h1>Loading...</h1>
                    <i class="fa fa-spinner fa-3x fa-pulse"></i>
            </center>
        </div>
    </div>
    <div class="row" ng-show="vm.Step == 1">
        <div class="col-xs-12">
            <div class="form form-horizontal">
                <div class="form-group" ng-show="vm.First">
                    <label for="SEX" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label">Gender</label>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                        <label class="radio-inline"><input type="radio" name="SEX" ng-model="vm.Data.UserDetails.Sex" ng-value="0" >Male</label>
                        <label class="radio-inline"><input type="radio" NAME="SEX" ng-model="vm.Data.UserDetails.Sex" ng-value="1">Female</label>
                    </div>
                </div>
                 <div class="form-group" ng-class="{'has-error': vm.YearError}" ng-show="vm.First">
                   <label class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label"  for="YEAR">Year I Was Born</label>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                        <select name="YEAR" class="form-control" ng-model="vm.Data.UserDetails.Year" required-message="'Please enter a year!'">
                                    <option selected="selected" value="">-Please select-</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>
                                    <option value="1929">1929</option>
                                    <option value="1928">1928</option>
                                    <option value="1927">1927</option>
                                    <option value="1926">1926</option>
                                    <option value="1925">1925</option>
                                    <option value="1924">1924</option>
                                    <option value="1923">1923</option>
                                    <option value="1922">1922</option>
                                    <option value="1921">1921</option>
                                    <option value="1920">1920</option>
                                    <option value="1919">1919</option>
                                    <option value="1918">1918</option>
                                    <option value="1917">1917</option>
                                    <option value="1916">1916</option>
                                    <option value="1915">1915</option>
                                    <option value="1914">1914</option>
                                    <option value="1913">1913</option>
                                    <option value="1912">1912</option>
                                    <option value="1911">1911</option>
                                    <option value="1910">1910</option>
                                    <option value="1909">1909</option>
                                    <option value="1908">1908</option>
                                    <option value="1907">1907</option>
                                    <option value="1906">1906</option>
                                    <option value="1905">1905</option>
                                    <option value="1904">1904</option>
                                    <option value="1903">1903</option>
                                    <option value="1902">1902</option>
                                    <option value="1901">1901</option>
                                    <option value="1900">1900</option>

                                </select><br />
                                <span class="help-block text-danger" ng-show="vm.YearError">Please select your birth year!</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': vm.WeightError}">
                    <label for="WEIGHT" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label">My Current Weight</label>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                        <div class="input-group">
                            
                        <input type="number" class="form-control" name="WEIGHT" ng-model="vm.Data.MHAData.Weight" validate-on="blur" required-message="'Please enter a weight!'" required /> 
                        <span class="input-group-addon">lbs.</span>
                        </div>
                          <br ng-if="vm.WeightError" />
                                <span class="help-block text-danger" ng-if="vm.WeightError">Please enter your current weight!</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': vm.WeightError}" ng-show="vm.First">
                    <label for="HEIGHT_FT" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label">My HEIGHT</label>
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="input-group height-group">
                          <select class="form-control inline-selector" name="HEIGHT_FT" ng-model="vm.Data.UserDetails.HeightFT" validate-on="blur" required-message="'Please select a value!'" required>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select> <span class="input-group-addon">ft.</span>
                                
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="input-group height-group">
                                <select class="form-control inline-selector" name="HEIGHT_IN" ng-model="vm.Data.UserDetails.HeightIN" validate-on="blur" required-message="'Please select a value!'" required>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                </select><span class="input-group-addon">in.</span>
                            </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="FRAMESIZE" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label"> My Frame Size <a ng-click="vm.ShowFrameSizeInfo = true"><i class="fa fa-info-circle" aria-hidden="true"></i></a></label>
                    <div id="FrameSizeInfo" ng-show="vm.ShowFrameSizeInfo">
                                    <h1>Frame Size <a ng-click="vm.ShowFrameSizeInfo = false" class="modal-closer">x</a></h1>
                                    <p>To determine your frame size, place your thumb and middle finger around your wrist:</p>
                                    <ul>
                                        <li><strong>Small:</strong> If your thumb and finger overlap</li>
                                        <li><strong>Medium:</strong> If your thumb and finger just touch</li>
                                        <li><strong>Large:</strong> If your thumb and finger do not touch</li>
                                    </ul>

                                </div>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                             <label class="radio-inline"><input type="radio" name="FRAMESIZE" ng-model="vm.Data.MHAData.Frame" ng-value="1.0" /> Small</label>
                             <label class="radio-inline"><input type="radio" name="FRAMESIZE" ng-model="vm.Data.MHAData.Frame" ng-value="1.1" /> Medium</label>
                            <label class="radio-inline"><input type="radio" name="FRAMESIZE" ng-model="vm.Data.MHAData.Frame" ng-value="1.2" /> Large</label>
                    </div>
                </div>
                <div class="form-group" ng-class="{'error': vm.WaistError}">
                    <label for="WAISTSIZE" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label">My Waist at My Belly Button</label>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                        <div class="input-group">
                            
                         <input type="number" class="form-control" name="WAISTSIZE" ng-model="vm.Data.MHAData.Waist" validate-on="blur" required-message="'Please enter a waist size!'" required />
                              
                        <span class="input-group-addon"> in.</span>
                        </div>
                          <br />
                                <span class="help-block text-danger" ng-show="vm.WaistError">Please enter your current waist size!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ACTIVITY" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label">   My Overall Activity Level <a ng-click="vm.ShowActivityLevelInfo = !(vm.ShowActivityLevelInfo)"><i class="fa fa-info-circle" aria-hidden="true"></i></a></label>
                    <div id="ActivityLevelInfo" ng-show="vm.ShowActivityLevelInfo">
                                    <h1>Overall Activity Level <a ng-click="vm.ShowActivityLevelInfo = !(vm.ShowActivityLevelInfo)" class="modal-closer">x</a></h1>

                                    <ul>
                                        <li><strong>Sedentary:</strong> Inactive lifestyle with little physical activity</li>
                                        <li><strong>Moderate:</strong> Less than 3 hours of moderate aerobic excercise per week, such as mowing the lawn or walking.</li>
                                        <li><strong>High:</strong> 4 or more hours of vigorous activity per week.</li>
                                    </ul>

                                </div>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                             <label class="radio-inline"><input type="radio" name="ACTIVITY" ng-model="vm.Data.MHAData.Activity" ng-value="20" /> Sedentary</label>
                              <label class="radio-inline">      <input type="radio" name="ACTIVITY" ng-model="vm.Data.MHAData.Activity" ng-value="35" /> Moderate</label>
                                   <label class="radio-inline"> <input type="radio" name="ACTIVITY" ng-model="vm.Data.MHAData.Activity" ng-value="50" /> High</label>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="EXERCISEHOURLIST" class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 control-label">How Often I Exercise:</label>
                    <div class="col-xs-12 col-sm-8 col-lg-7">
                        <select name="EXERCISEHOURLIST" class="form-control" ng-model="vm.Data.MHAData.ExcercisePerWeek" validate-on="blur" required-message="'Please select a value!'" required>
                                    <option value="0">None</option>
                                    <option value="20">1 Hour or Less</option>
                                    <option value="30">1-2 Hours</option>
                                    <option value="50">3-5 Hours</option>
                                    <option value="60">6+ Hours</option>
                                </select>
                        <p class="help-text">(Average time per week over the last 6 months)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.Step == 2">
        <div class="col-xs-12">
            <div class="form form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-6 col-lg-5 control-label">How many protein bars and meal replacement shakes I consume per week</label>
                    <div class="col-xs-12 col-sm-6 col-lg-7">
                                <select name="BARCOUNT" class="form-control" ng-model="vm.Data.MHAData.MealReplacementsPerWeek" validate-on="blur" required-message="'Please select a value!'" required>
                                    <option value="0">None</option>
                                    <option value="2">1-3</option>
                                    <option value="6">4-5</option>
                                    <option value="8">6-9</option>
                                    <option value="10">10+</option>
                                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-6 col-lg-5 control-label">How many meals a week come from processed and packaged foods like cereals, frozen dinners, boxed foods?</label>
                    <div class="col-xs-12 col-sm-6 col-lg-7">
                        <select name="PROCESSEDFOODLIST"  class="form-control" ng-model="vm.Data.MHAData.ProcessedFoodsPerWeek" validate-on="blur" required-message="'Please select a value!'" required>
                                    <option value="0">None</option>
                                    <option value="2">1-3</option>
                                    <option value="6">4-5</option>
                                    <option value="8">6-9</option>
                                    <option value="10">10+</option>
                                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-6 col-lg-5 control-label">Amount of diet or regular soda drinks I consume per week?</label>
                    <div class="col-xs-12 col-sm-6 col-lg-7">
                                <select name="SODACOUNT" class="form-control" ng-model="vm.Data.MHAData.SodasPerWeek" validate-on="blur" required-message="'Please select a value!'" required>
                                    <option value="0">None</option>
                                    <option value="2">1-3</option>
                                    <option value="6">4-5</option>
                                    <option value="8">6-9</option>
                                    <option value="10">10+</option>
                                </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.Step == 3">
        <div class="col-xs-12">
            <div class="form form-horizontal rating-scale">
                <div class="form-group">
                    <label for="emotionalEating" class="col-xs-12 col-lg-5 control-label">Rate your level of stress or emotional eating (with 1 being never and 10 being all the time)</label>
                    <div class="col-xs-12 col-lg-7">
                        <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="5">5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="6">6
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="7">7
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="8">8
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="9">9
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="emotionalEating" ng-model="vm.Data.MHAData.EmotionalEatingRating" ng-value="10">10
                                </label>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="hungerCravings" class="col-xs-12 col-lg-5 control-label">Rate your hunger and cravings between meals (with 1 being low and 10 being high)</label>
                    <div class="col-xs-12 col-lg-7">
                         <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="5">5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="6">6
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="7">7
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="8">8
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="9">9
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hungerCravings" ng-model="vm.Data.MHAData.CravingsRating" ng-value="10">10
                                </label>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="sleepQuality" class="col-xs-12 col-lg-5 control-label">Rate your quality of sleep (with 1 being great and 10 being poor)</label>
                    <div class="col-xs-12 col-lg-7">
                        <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="5">5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="6">6
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="7">7
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="8">8
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="9">9
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sleepQuality" ng-model="vm.Data.MHAData.SleepRating" ng-value="10">10
                                </label>
                    </div>
                </div>
           
                <div class="form-group">
                    <label for="energyLevel" class="col-xs-12 col-lg-5 control-label">Rate your energy level (with 1 being high and 10 low and poor energy)</label>
                    <div class="col-xs-12 col-lg-7">
                        <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="5">5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="6">6
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="7">7
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="8">8
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="9">9
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="energyLevel" ng-model="vm.Data.MHAData.EnergyRating" ng-value="10">10
                                </label>
                    </div>
                </div>
           
                <div class="form-group">
                    <label for="moodHappiness" class="col-xs-12 col-lg-5 control-label">Rate your mood and happiness (with 1 being great and 10 poor or not happy)</label>
                    <div class="col-xs-12 col-lg-7">
                        <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="5">5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="6">6
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="7">7
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="8">8
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="9">9
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="moodHappiness" ng-model="vm.Data.MHAData.MoodRating" ng-value="10">10
                                </label>

                    </div>
                </div>
           
                <div class="form-group">
                    <label for="stressLevel" class="col-xs-12 col-lg-5 control-label"> Rate your general stress level (with 1 being low stress and 10 being high stress)</label>
                    <div class="col-xs-12 col-lg-7">
                         <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="5">5
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="6">6
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="7">7
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="8">8
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="9">9
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stressLevel" ng-model="vm.Data.MHAData.StressRating" ng-value="10">10
                                </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12">
            <div class="content-page-container">
                <div class="health-analysis">
                   
                    <div class="wizard-control" ng-show="vm.Step > 0">
                        <button type="button" class="wizard-btn" ng-show="vm.Step > 1" ng-click="vm.PrevStep()" ng-disabled="vm.Saving" ng-class="{disabled: vm.Saving}">Prev</button>
                        <button type="button" class="wizard-btn" ng-show="vm.Step < 3" ng-click="vm.NextStep()" ng-disabled="vm.Saving" ng-class="{disabled: vm.Saving}">Next</button>
                        <button type="button" class="wizard-btn custom" ng-show="vm.Step == 3" ng-click="vm.Save()" ng-disabled="vm.Saving" ng-class="{disabled: vm.Saving}">
                            <span ng-hide="vm.Saving">Finish and Continue to MyGolo</span><span ng-show="vm.Saving"><span class="fa fa-spinner fa-pulse"></span> Saving... Please Wait </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>