﻿<div class="container-fluid progress-tracking-page" style="padding-top:25px;padding-bottom:25px;" ng-controller="ResultsTrackingCtrl as vm">
    <div class="row">
        <div class="col-xs-12">
            <div style="text-align: right">
                <a href="/index.php" class="btn btn-tracking">Return to HOME page</a>
            </div>

            <h1 class="content-page-top-heading">MHA Summary</h1>

            <div class="table-wrapper">
                <table class="tracking-table">
                    <tbody>
                        <tr ng-repeat="row in vm.Table track by $index" ng-class="{'divider-row': ($index == 17) || ($index == 32) || ($index == 1)}">
                            <th ng-repeat-start="column in row track by $index" ng-if="$index==0">
                                {{column}}
                            </th>
                            <td ng-if="$index!=0" ng-repeat-end>
                                {{column}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>