﻿<div class="content-page-container">
    <h1 class="content-page-top-heading">Health News</h1>
    <h2 class="text-content-heading">Metabolic Health Analysis Under Construction</h2>
    <p class="text-content">
        The MHA is currently unavailable. We are working to upgrade the MyGolo portal and our Metabolic Health Analysis to provide a better user experience. Please check back soon for an improved MyGolo and Metabolic Health Analysis.
    </p>
</div>