<style>
	.main.container {display:none;}
</style>
﻿<div class="container-fluid progress-tracking-page" style="padding-top:25px;padding-bottom:25px;" ng-controller="ProgressTrackingCtrl as vm">
    <div class="row">
        <div class="col-xs-12">
            <div style="text-align: right">
                <a href="/" class="btn btn-tracking">Return to HOME page</a>
            </div>

            <h1 class="content-page-top-heading" style="text-align:left !important">Results Tracking</h1>
            <p class="text-content">
                <b>INSTRUCTIONS</b>: Each week enter your weight, waist, and how you feel in the last table row, then click <b>Save</b>.<br/>
                <b class="blu-hilite">How do you feel?</b> Rate your <b>Sleep</b>, <b>Energy</b>, <b>Mood</b> and <b>Stress</b> from 1 (poor) to 10 (great).
            </p>
            <div class="table-wrapper">
                <table class="tracking-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Total Days</th>
                            <th>Weight</th>
                            <th>Weight Lost</th>
                            <th>Waist</th>
                            <th>Waist Lost</th>
                            <th>Sleep</th>
                            <th>Energy</th>
                            <th>Mood</th>
                            <th>Stress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Day in vm.Days" ng-init="$last && vm.RegisterDatePickers()">
                            <td>{{$index == 0 ? 'Your Start Date' : ''}}</td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Date | date:'shortDate'}}</span>
                                <input id="{{ 'day_' + $index }}" name="{{ 'day_' + $index }}" type="text" class="datepicker date-entry" ng-model="Day.Date" ng-show="Day.IsEditing" />
                            </td>
                            <td>{{Day.TotalDays}}</td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Weight}}</span>
                                <input class="weight-entry" type="number" ng-model="Day.Weight" ng-show="Day.IsEditing" />
                            </td>
                            <td>{{Day.WeightLost}}</td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Waist}}</span>
                                <input class="waist-entry" type="number" ng-model="Day.Waist" ng-show="Day.IsEditing" />
                            </td>
                            <td>{{Day.WaistLost}}</td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Sleep}}</span>
                                <input class="sleep-entry" type="number" ng-model="Day.Sleep" ng-show="Day.IsEditing" />
                            </td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Energy}}</span>
                                <input class="energy-entry" type="number" ng-model="Day.Energy" ng-show="Day.IsEditing" />
                            </td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Mood}}</span>
                                <input class="mood-entry" type="number" ng-model="Day.Mood" ng-show="Day.IsEditing" />
                            </td>
                            <td>
                                <span ng-show="!Day.IsEditing">{{Day.Stress}}</span>
                                <input class="stress-entry" type="number" ng-model="Day.Stress" ng-show="Day.IsEditing" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-link homepage-links" ng-click="vm.EditDay(Day, $index)" ng-show="!Day.IsEditing">Edit</button>
                                <button type="button" class="btn btn-link homepage-links" ng-click="vm.DeleteDay(Day)" ng-show="!Day.IsEditing">Delete</button>
                                <button type="button" class="btn btn-link homepage-links" ng-click="vm.SaveDay(Day)" ng-show="Day.IsEditing">Save</button>
                                <button type="button" class="btn btn-link homepage-links" ng-click="Day.IsEditing = null" ng-show="Day.IsEditing">Cancel</button>
                            </td>
                        </tr>

                        <!-- Summary -->

                        <tr class="totals-row" ng-show="vm.ShowSummary">
                            <td colspan="4" style="text-align: left">Total</td>
                            <td>{{vm.Summary.Total.WeightLost}}</td>
                            <td></td>
                            <td>{{vm.Summary.Total.WaistLost}}</td>
                            <td>{{vm.Summary.Total.Sleep}}</td>
                            <td>{{vm.Summary.Total.Energy}}</td>
                            <td>{{vm.Summary.Total.Mood}}</td>
                            <td>{{vm.Summary.Total.Stress}}</td>
                            <td></td>
                        </tr>
                        <tr class="totals-row" ng-show="vm.ShowSummary">
                            <td colspan="4" style="text-align: left">% Body Weight Lost (start/now)</td>
                            <td>{{vm.Summary.Percentage.WeightLost | number:0}}%</td>
                            <td></td>
                            <td></td>
                            <td>{{vm.Summary.Percentage.Sleep | number:0}}%</td>
                            <td>{{vm.Summary.Percentage.Energy | number:0}}%</td>
                            <td>{{vm.Summary.Percentage.Mood | number:0}}%</td>
                            <td>{{vm.Summary.Percentage.Stress | number:0}}%</td>
                            <td></td>
                        </tr>
                        <tr class="totals-row" ng-show="vm.ShowSummary">
                            <td colspan="4" style="text-align: left">Average Loss Per Week</td>
                            <td>{{vm.Summary.Average.WeightLost | number:1}}</td>
                            <td></td>
                            <td>{{vm.Summary.Average.WaistLost | number:1}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <!-- Input -->

                        <tr class="data-entry">
                            <td><span ng-show="vm.Days.length > 0">Enter Date</span><span ng-show="vm.Days.length == 0">Your Start Date</span></td>
                            <td><input class="datepicker date-entry" type="text" id="Date" name="Date" ng-model="vm.FormDay.Date" validate-on="blur" ng-blur="vm.UpdateDate($event, vm.FormDay.Date)" required-message="'Please enter a date!'" required /></td>
                            <td></td>
                            <td><input class="weight-entry" name="Weight" ng-model="vm.FormDay.Weight" validate-on="blur" required-message="'Please enter a value!'" required /></td>
                            <td></td>
                            <td><input class="waist-entry" name="Waist" ng-model="vm.FormDay.Waist" validate-on="blur" required-message="'Please enter a value!'" required /></td>
                            <td></td>
                            <td><input class="sleep-entry" name="Sleep" type="number" min="1" max="10" ng-model="vm.FormDay.Sleep" validate-on="blur" required-message="'Please enter a value!'" required /></td>
                            <td><input class="energy-entry" name="Energy" type="number" min="1" max="10" ng-model="vm.FormDay.Energy" validate-on="blur" required-message="'Please enter a value!'" required /></td>
                            <td><input class="mood-entry" name="Mood" type="number" min="1" max="10" ng-model="vm.FormDay.Mood" validate-on="blur" required-message="'Please enter a value!'" required /></td>
                            <td><input class="stress-entry" name="Stress" type="number" min="1" max="10" ng-model="vm.FormDay.Stress" validate-on="blur" required-message="'Please enter a value!'" required /></td>
                            <td><button type="button" ng-click="vm.AddDay()">Save</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <p class="text-content">

                The percentage shown is your change since the day you started.
            </p>
        </div>
    </div>
</div>
