﻿<html !DOCTYPE="html" ng-app="GoloApp">

<head id="ctl00_ctl00_Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

    <title>
        GOLO for Life
    </title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/ng-custom.css" />
    <link rel="stylesheet" type="text/css" href="css/overlay.css">
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">-->
    <script src="../Scripts/angular-1.5.8.min.js"></script>
    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/AngularValidator.js"></script>
    <script src="https://use.fontawesome.com/a336309686.js"></script>



</head>

<body>

    <!--BEGIN: top-bar-->
    <div class="top-bar">
        <div class="t-blue">
        </div>
        <div class="t-white">
        </div>
        <div class="t-blue-big">
        </div>
    </div>
    <!--END: top-bar-->
    <!--BEGIN: wrapper-->
    <div class="wrapper" ng-controller="AnalysisCtrl as vm">
        <!--BEGIN: header-->
        <div class="header">
            <div class="ileft">

                <div class="logo">
                    <a href="MyGoloHome.aspx"><img src="images/updated/mygolo_logo.svg" alt="GOLO Logo"></a>
                </div>

            </div>
            <div class="iright">



            </div>
            <div class="clearfix">
            </div>
        </div>
        <!--END: header-->
        <div class="t-space">
        </div>
        <!--BEGIN: container-->
        <div class="container">
            <div class="health-analisis-header">&nbsp;</div>
            <div class="content">
                <div class="health-analysis">
                    <div class="wizard-header">
                        <!--<h1>My GOLO Metabolic Health Analysis</h1>-->
                        <span class="step-indicator">Step {{vm.Step}} of 3</span>
                    </div>
                    <center>
                        <h2>Please complete your GOLO personal health assessment</h2>
                        <p>Your confidential assessment will become part of your personalized weight loss plan.</p>
                    </center>
                    <form novalidate angular-validator name="frmMHA3" angular-validator-submit="vm.Save()" class="wizard-step">
                        <!-- Page 1 -->
                        <div class="wizard-form" ng-show="vm.Step == 1">
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="SEX">Gender</label>

                                </div>
                                <div class="wizard-cell">
                                    <div class="wizard-radio">
                                        <input type="radio" name="SEX" ng-model="vm.FormData.SEX" ng-value="'Male'" /> Male
                                        <input type="radio" name="SEX" ng-model="vm.FormData.SEX" ng-value="'Female'" /> Female
                                    </div>
                                </div>

                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="YEAR">Year I Was Born</label>

                                </div>
                                <div class="wizard-cell">
                                    <select name="YEAR" ng-model="vm.FormData.YEAR" validate-on="blur" required-message="'Please enter a year!'" required>
                                        <option value="">-Please select-</option>
                                        <option selected="selected" value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                        <option value="1949">1949</option>
                                        <option value="1948">1948</option>
                                        <option value="1947">1947</option>
                                        <option value="1946">1946</option>
                                        <option value="1945">1945</option>
                                        <option value="1944">1944</option>
                                        <option value="1943">1943</option>
                                        <option value="1942">1942</option>
                                        <option value="1941">1941</option>
                                        <option value="1940">1940</option>
                                        <option value="1939">1939</option>
                                        <option value="1938">1938</option>
                                        <option value="1937">1937</option>
                                        <option value="1936">1936</option>
                                        <option value="1935">1935</option>
                                        <option value="1934">1934</option>
                                        <option value="1933">1933</option>
                                        <option value="1932">1932</option>
                                        <option value="1931">1931</option>
                                        <option value="1930">1930</option>
                                        <option value="1929">1929</option>
                                        <option value="1928">1928</option>
                                        <option value="1927">1927</option>
                                        <option value="1926">1926</option>
                                        <option value="1925">1925</option>
                                        <option value="1924">1924</option>
                                        <option value="1923">1923</option>
                                        <option value="1922">1922</option>
                                        <option value="1921">1921</option>
                                        <option value="1920">1920</option>
                                        <option value="1919">1919</option>
                                        <option value="1918">1918</option>
                                        <option value="1917">1917</option>
                                        <option value="1916">1916</option>
                                        <option value="1915">1915</option>
                                        <option value="1914">1914</option>
                                        <option value="1913">1913</option>
                                        <option value="1912">1912</option>
                                        <option value="1911">1911</option>
                                        <option value="1910">1910</option>
                                        <option value="1909">1909</option>
                                        <option value="1908">1908</option>
                                        <option value="1907">1907</option>
                                        <option value="1906">1906</option>
                                        <option value="1905">1905</option>
                                        <option value="1904">1904</option>
                                        <option value="1903">1903</option>
                                        <option value="1902">1902</option>
                                        <option value="1901">1901</option>
                                        <option value="1900">1900</option>

                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="WEIGHT">My Current Weight</label>

                                </div>
                                <div class="wizard-cell">
                                    <input type="number" name="WEIGHT" ng-model="vm.FormData.WEIGHT" validate-on="blur" required-message="'Please enter a weight!'" required /> lbs.
                                </div>

                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="HEIGHT_FT">My Height</label>

                                </div>
                                <div class="wizard-cell">
                                    <select class="inline-selector" name="HEIGHT_FT" ng-model="vm.FormData.HEIGHT_FT" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select> ft.
                                    <select class="inline-selector" name="HEIGHT_IN" ng-model="vm.FormData.HEIGHT_IN" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                    </select> in.
                                </div>

                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="FRAMESIZE">
                                        My Frame Size <a href="#" ng-click="vm.ShowFrameSizeInfo == true"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                    </label>
                                    <div id="FrameSizeInfo" ng-show="vm.ShowFrameSizeInfo">
                                        <h1>Frame Size <a href="#" ng-click="vm.ShowFrameSizeInfo == false" class="modal-closer">x</a></h1>
                                        <p>To determine your frame size, place your thumb and middle finger around your wrist:</p>
                                        <ul>
                                            <li><strong>Small:</strong> If your thumb and finger overlap</li>
                                            <li><strong>Medium:</strong> If your thumb and finger just touch</li>
                                            <li><strong>Large:</strong> If your thumb and finger do not touch</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="wizard-cell">
                                    <div class="wizard-radio">
                                        <input type="radio" name="FRAMESIZE" ng-model="vm.FormData.FRAMESIZE" ng-value="'Small'" /> Small
                                        <input type="radio" name="FRAMESIZE" ng-model="vm.FormData.FRAMESIZE" ng-value="'Medium'" /> Medium
                                        <input type="radio" name="FRAMESIZE" ng-model="vm.FormData.FRAMESIZE" ng-value="'Large'" /> Large
                                    </div>
                                </div>

                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="FRAMESIZE">My Waist at My Belly Button</label>

                                </div>
                                <div class="wizard-cell">
                                    <input type="number" name="WAISTSIZE" ng-model="vm.FormData.WAISTSIZE" validate-on="blur" required-message="'Please enter a waist size!'" required /> in.
                                </div>

                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="ACTIVITY">
                                        My Overall Activity Level <a href="#" ng-click="vm.ShowActivityLevelInfo == true"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        
                                    </label>
                                    <div id="ActivityLevelInfo" ng-show="vm.ShowActivityLevelInfo">
                                        <h1>Overall Activity Level <a href="#" class="modal-closer" ng-click="vm.ShowActivityLevelInfo == false">x</a></h1>

                                        <ul>
                                            <li><strong>Sedentary:</strong> Inactive lifestyle with little physical activity</li>
                                            <li><strong>Moderate:</strong> Less than 3 hours of moderate aerobic excercise per week, such as mowing the lawn or walking.</li>
                                            <li><strong>High:</strong> 4 or more hours of viforous activity per week.</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="wizard-cell">
                                    <div class="wizard-radio">
                                        <input type="radio" name="ACTIVITY" ng-model="vm.FormData.ACTIVITY" ng-value="'Sedentary'" /> Sedentary
                                        <input type="radio" name="ACTIVITY" ng-model="vm.FormData.ACTIVITY" ng-value="'Moderate'" /> Moderate
                                        <input type="radio" name="ACTIVITY" ng-model="vm.FormData.ACTIVITY" ng-value="'High'" /> High
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- Page 2 -->
                        <div class="wizard-form" ng-show="vm.Step == 2">
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label for="PUSHUPLIST">Number of Pushups I Can Do</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="PUSHUPLIST" ng-model="vm.FormData.PUSHUPLIST" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="Zero">Zero</option>
                                        <option value="1-3">1-3</option>
                                        <option value="4-9">4-9</option>
                                        <option value="10-14">10-14</option>
                                        <option value="15+">15+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>Flights of Stairs I Can Climb:</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="STAIRSLIST" ng-model="vm.FormData.STAIRSLIST" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="None">None</option>
                                        <option value="1-2">1-2</option>
                                        <option value="3-4">3-4</option>
                                        <option value="5-6">5-6</option>
                                        <option value="7-9">7-9</option>
                                        <option value="10+">10+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>How Often I Exercise:</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="EXERCISEHOURLIST" ng-model="vm.FormData.EXERCISEHOURLIST" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="None">None</option>
                                        <option value="1">1 Hour</option>
                                        <option value="1-2">1-2 Hours</option>
                                        <option value="3-5">3-5 Hours</option>
                                        <option value="6+">6+ Hours</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Page 3 -->
                        <div class="wizard-form" ng-show="vm.Step == 3">
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>I have a history of gaining or losing more than 20 lbs</label>
                                </div>
                                <div class="wizard-cell">
                                    <div class="wizard-radio">
                                        <input type="radio" name="WEIGHTGAINHISTORY" ng-model="vm.FormData.WEIGHTGAINHISTORY" ng-value="'Yes'" /> Yes
                                        <input type="radio" name="WEIGHTGAINHISTORY" ng-model="vm.FormData.WEIGHTGAINHISTORY" ng-value="'No'" /> No
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>Approximate number of diets I’ve been on in the last 5 years</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="DIETCOUNT" ng-model="vm.FormData.DIETCOUNT" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="None">None</option>
                                        <option value="1-2">1-2</option>
                                        <option value="3-5">3-5</option>
                                        <option value="6-9">6-9</option>
                                        <option value="10+">10+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>How many protein bars and meal replacement shakes I consume per week</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="BARCOUNT" ng-model="vm.FormData.BARCOUNT" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="None">None</option>
                                        <option value="1-3">1-3</option>
                                        <option value="4-10">4-10</option>
                                        <option value="11+">11+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>How many meals a week come from processed and packaged foods like cereals, frozen dinners, boxed foods?</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="PROCESSEDFOODLIST" ng-model="vm.FormData.PROCESSEDFOODLIST" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="None">None</option>
                                        <option value="1-3">1-3</option>
                                        <option value="4-10">4-10</option>
                                        <option value="11+">11+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell ">
                                    <label>Amount of diet or regular soda drinks I consume per week?</label>
                                </div>
                                <div class="wizard-cell">
                                    <select name="SODACOUNT" ng-model="vm.FormData.SODACOUNT" validate-on="blur" required-message="'Please select a value!'" required>
                                        <option value="None">None</option>
                                        <option value="1-3">1-3</option>
                                        <option value="4-7">4-7</option>
                                        <option value="8-14">8-14</option>
                                        <option value="15+">15+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>I am a Stress Eater</label>
                                </div>
                                <div class="wizard-cell">
                                    <div class="wizard-radio">
                                        <input type="radio" name="STRESSEATER" ng-model="vm.FormData.STRESSEATER" ng-value="'No'" /> No<br />
                                        <input type="radio" name="STRESSEATER" ng-model="vm.FormData.STRESSEATER" ng-value="'Sometimes'" /> Sometimes<br />
                                        <input type="radio" name="STRESSEATER" ng-model="vm.FormData.STRESSEATER" ng-value="'Often'" /> Often<br />
                                        <input type="radio" name="STRESSEATER" ng-model="vm.FormData.STRESSEATER" ng-value="'All the time'" /> All the time
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-row form-group">
                                <div class="wizard-cell">
                                    <label>I am an Emotional Eater:</label>
                                </div>
                                <div class="wizard-cell">
                                    <div class="wizard-radio">
                                        <input type="radio" name="EMOTIONALEATER" ng-model="vm.FormData.EMOTIONALEATER" ng-value="'No'" /> No<br />
                                        <input type="radio" name="EMOTIONALEATER" ng-model="vm.FormData.EMOTIONALEATER" ng-value="'Sometimes'" /> Sometimes<br />
                                        <input type="radio" name="EMOTIONALEATER" ng-model="vm.FormData.EMOTIONALEATER" ng-value="'Often'" /> Often<br />
                                        <input type="radio" name="EMOTIONALEATER" ng-model="vm.FormData.EMOTIONALEATER" ng-value="'All the time'" /> All the time
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-control">
                            <button type="submit" class="wizard-btn" ng-show="vm.Step > 1" ng-click="vm.PrevStep();">Prev</button><button type="submit" class="wizard-btn" ng-show="vm.Step < 3" ng-click="vm.NextStep();">Next</button><button type="submit"
                                class="wizard-btn custom" ng-show="vm.Step == 3">Finish and Continue to MyGolo</button>


                        </div>
                    </form>







                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
    </div>





    <!--END: container-->
    <!--END: wrapper-->
    <!--BEGIN: footer-->
    <!-- shouldn't need this one -->
    <div class="footer">
        <!--BEGIN: wrapper-->
        <div>
            <div class="icenter">
                <div class="copyright">
                    <img src="images/copyright.png" alt="GOLO for life">
                </div>
            </div>
            <div class="icenter" style="width:1000px; margin:auto;">
                <div class="ileft">
                    <div class="footer-links">
                    </div>
                </div>
                <div class="iright">
                    <div class="copyright">
                        2014- 2016 GOLO, LLC
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END: footer-->







    <script src="../Scripts/GoloApp.js"></script>
    <script src="../Scripts/GoloService.js"></script>
    <script src="../Scripts/AnalysisCtrl.js"></script>
    <!--<script src="../Scripts/FuelTrackingCtrl.js"></script>-->
    <script type="text/javascript">
        function FrameSizeShowHide() {
            var info = document.getElementById('FrameSizeInfo');
            if (info.style.display == 'none') {
                info.style.display = 'block';
            } else {
                info.style.display = 'none';
            }
        }

        function ActivityLevelShowHide() {
            var info = document.getElementById('ActivityLevelInfo');
            if (info.style.display == 'none') {
                info.style.display = 'block';
            } else {
                info.style.display = 'none';
            }
        }
    </script>


</body>

</html>